<div class="d-flex flex-wrap mt-2 max-height-content overflow-content {{classes}}">
  <app-event-plan-person-item *ngFor="let item of selectedItems"
                              class="mr-2 mb-2"
                              [data]="item"
                              (dblClick)="onUnselected($event)"></app-event-plan-person-item>
</div>

<ngx-text-box class="mt-2"
              [(value)]="query.name"
              [debounceTime]="propertyConstantClass.searchDebounceTime"
              placeholderKey="search"
              (valueChange)="onSearchChange()"></ngx-text-box>

<ngx-virtual-scroll class="d-flex flex-wrap mt-2"
                    [getItems]="fetchItems"
                    [(query)]="query"
                    [windowScroll]="true">
  <ng-template let-item>
    <app-event-plan-person-item class="mr-2 mb-2"
                                [data]="item"
                                (dblClick)="onSelected($event)"></app-event-plan-person-item>
  </ng-template>
</ngx-virtual-scroll>
