$calendar-height: 50px;
$cal-day-badge-color: #aaa;
$cal-day-badge-background-color: #fff;
$cal-day-badge-border: $cal-day-badge-color;
$cal-day-badge-color-hover: #eee;
$cal-day-badge-background-color-hover: #1e90ff;
$cal-day-badge-border-hover: darken($cal-day-badge-background-color-hover, 2%);

.cal-month-view {
  .cal-cell-top {
    min-height: $calendar-height !important; //month number height
    height: $calendar-height; //month number height
    border-bottom: .5px solid #ccc;
  }
  .cal-day-cell.cal-in-month.cal-has-events {
    cursor: auto !important;
  }
  .cal-day-badge {
    background-color: $cal-day-badge-background-color !important;
    color: $cal-day-badge-color !important;
    cursor: pointer !important;
    border: 1px solid $cal-day-badge-border;
    &:hover {
      background-color: $cal-day-badge-background-color-hover !important;
      color: $cal-day-badge-color-hover !important;
      border: 1px solid $cal-day-badge-border-hover;
    }
  }
}

.cal-week-view {
  .cal-events-row {
    height: $calendar-height + 2px !important;
  }
  .cal-event {
    padding: 3px 0 !important;
    height: $calendar-height !important;
    line-height: normal !important;
  }
}
