@import "variables";

html, body {
  height: 100%;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a, p, label {
    font-size: $font-size;
  }

  label {
    margin: 0;
    padding: 0;
  }

  h5 {
    margin: 0;
    padding: 0;
  }

}

h5, .fa-pencil-square-o {
  color: $light-blue;
}

.input-font {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  font-size: 14px;
  color: #333;
}

.input-height {
  height: $input-height;
  line-height: 1.35715;
}

.input-height-sm {
  height: $input-height-sm;
  line-height: 1;
}

.form-control {
  @extend .input-font;
  @extend .input-height;
}

.btn, .dx-button {
  @extend .input-height;
  text-transform: uppercase;
}

*:focus {
  outline: none;
}

.select-none {
  user-select: none;
}

.max-width-content {
  max-width: $max-width-content;
}

.dx-toast-content {
  min-width: 100px;
  max-width: $max-width-content;
}

.form-control {
  &:hover {
    border-color: rgba(51, 122, 183, .4);
  }
  &:focus {
    box-shadow: none;
    border-color: #337ab7;
  }
}

.form-group {
  margin-bottom: 10px;
}

label[for],
input[type=radio],
input[type=checkbox],
button,
input[type=reset],
input[type=button],
input[type=submit] {
  cursor: pointer;
}

input[type=button],
input[type=submit] {
  text-transform: uppercase
}

input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  display: none;
}

.link {
  color: #007bff !important;

  &:hover {
    color: rgba(51, 122, 183, .4) !important;
  }

  &:focus {
    color: #337ab7 !important;
  }
}

.unread-message {
  background: rgba(0, 145, 241, 0.1) !important;
}
