@import "variables";

html, body {
  height: 100%;
  user-select: none;

  a {
    text-decoration: none;
  }

  h5, label, pre, p {
    margin: 0;
    padding: 0;
    font-family: inherit !important;
  }

  a, p, label {
    font-size: $font-size;
  }

}

pre {
  overflow: visible;
  overflow-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
}

h5, h6, .fa-pencil-square-o {
  color: $light-blue;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input-font {
  font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
  font-size: 14px;
  color: #333;
}

.input-height {
  z-index: initial !important;
  height: $input-height;
  line-height: 1.35715;
}

.input-height-sm {
  z-index: initial !important;
  height: $input-height-sm;
  line-height: 1;
}

.form-control {
  @extend .input-font;
  @extend .input-height;
}

.btn, .dx-button {
  @extend .input-height;
  text-transform: uppercase;
}

*:focus {
  outline: none;
}

.select-none {
  user-select: none;
}

.max-width-content {
  max-width: $max-width-content;
}

.max-height-content {
  max-height: $max-height-content;
}

.dx-toast-content {
  min-width: 100px;
  max-width: $max-width-content;
}

.form-control {
  &:hover {
    border-color: rgba(51, 122, 183, .4);
  }

  &:focus {
    box-shadow: none;
    border-color: #337ab7;
  }
}

.form-group {
  margin-bottom: 10px;
}

label[for],
input[type=radio],
input[type=checkbox],
button,
input[type=reset],
input[type=button],
input[type=submit] {
  cursor: pointer;
}

input[type=button],
input[type=submit] {
  text-transform: uppercase
}

input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0;
  display: none;
}

.link {
  color: #007bff !important;
  cursor: pointer;

  &:hover {
    color: rgba(51, 122, 183, .4) !important;
  }

  &:focus {
    color: #337ab7 !important;
  }
}

.unread-message {
  background: $unread-message-background-color !important;
  border-radius: 1px;
}

.overflow-content {
  overflow: auto !important;
}

.overflow-x-content {
  overflow-x: auto !important;
}

.selected-content {
  max-height: 400px;
}

.background {
  background: $grey;
}

.text-light-blue {
  color: $light-blue;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid white;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.tags-content {
  display: flex;
  flex-wrap: wrap;

  div {
    padding: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #6c757d;
    color: #fff;
  }
}

.table-not-flex {
  td, th {
    display: table-cell !important;;
    vertical-align: middle !important;
    text-align: center !important;;
    min-width: 100px !important;
    max-width: 100px !important;
  }
}

.date {
  font-size: 12px;
  color: #ccc;
}

.list-item {

  &:hover {
    background: rgba(0, 123, 255, 0.25) !important;
  }

}

.width-inherit {
  width: inherit !important;
}

.toast-info {
  background-color: #b1b1b1 !important;
}

.selected {
  background-color: #{$light-blue}10;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.draggable {
  cursor: move;
}

button:active, button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0 !important;
}

@mixin mat-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  min-height: $size;
  min-width: $size;
}

@mixin mat-button-size($size: 40px) {
  width: $size;
  height: $size;
  line-height: $size;
}

.overflow-auto {
  overflow: auto !important;
}


.overflow-x {
  overflow-x: auto !important;
}
