@import "variables";

.table-header {
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.table {
  margin: 0;

  tbody tr:nth-of-type(odd) {
    background-color: $odd-item-color;
  }
  tbody tr {
    cursor: pointer;
    p, h1, h2, h3, h4, h5, h6 {
      color: $light-blue !important;
    }
    &:hover {
      background-color: darken($odd-item-color, 3%);
      p, h1, h2, h3, h4, h5, h6 {
        color: darken($light-blue, 10%) !important;
      }
    }
  }
}

.list-group-item {
  &:nth-child(odd) {
    background-color: $odd-item-color;
  }

  &:hover {
    background-color: $odd-item-color;
  }
}

thead > tr {
  text-transform: uppercase;
  color: $light-blue;
}

.table {
  td, th {
    display: flex;
    align-items: center;
    padding: 0.5rem !important;
  }

  thead th {
    font-size: 12px;
    font-weight: normal;
    color: $active-color;
  }
}

.cols-padding {
  margin: 0;

  .row {
    margin: 0;
  }

  div[class^="col"] {
    padding: 0 0.5rem 0 0;
  }

  div[class^="col"]:last-child {
    padding: 0;
  }
}
