@import "variables";

.table-header {
  text-align: center;
  text-transform: uppercase;
  color: #999;
}

.table {
  tbody tr:nth-of-type(odd) {
    background-color: $odd-item-color;
  }
  tbody tr {
    cursor: pointer;
    p, h1, h2, h3, h4, h5, h6 {
      color: $light-blue !important;
    }
    &:hover {
      background-color: darken($odd-item-color, 3%);
      p, h1, h2, h3, h4, h5, h6 {
        color: darken($light-blue, 10%) !important;
      }
    }
  }
}

.list-group-item {
  &:nth-child(odd) {
    background-color: $odd-item-color;
  }

  &:hover {
    background-color: $odd-item-color;
  }
}

thead > tr {
  text-transform: uppercase;
  color: #adadad;
}

td, th {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.cols-padding {
  margin: 0;

  .row {
    margin: 0;
  }

  div[class^="col"] {
    padding: 0;
    padding-right: 0.5rem;
  }

  div[class^="col"]:last-child {
    padding: 0;
    padding-right: 0;
  }
}
