@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

/* colors */
$light-blue: #007bff;
// $light-blue: darken($light-blue, 7%);
$dark-blue: #1C1D1F;
$white: #f9f9f9;
$white-light: #fff;
$active-color: #007bff;
$unread-message-background-color: rgba(0, 145, 241, 0.1);
$grey: #45484f;
$light-grey: #45484f;

$logo-size-xl: 130px; /*profiles*/
$logo-size-lg: 80px; /*lists*/
$logo-size-sm: 40px; /*navbar*/
$logo-border-width: 2px;

$scroll-block-max-height: 500px;
$input-height: 34px; //devexpress input height
$input-height-sm: 30px;
$font-size: 14px;

$odd-item-color: #eee;
$max-width-content: 400px;
$max-height-content: 400px;

$navbar-height: 40px;
$header-color: #1c1f29;


@function max-width-sm() {
  @return map-get($container-max-widths, 'sm');
}

@function max-width-md() {
  @return map-get($container-max-widths, 'md');
}

@function max-width-lg() {
  @return map-get($container-max-widths, 'lg');
}

@function max-width-xl() {
  @return map-get($container-max-widths, 'xl');
}
