<div *ngIf="eventPlan"
     class="row cols-padding">
  <div class="col">
    <div class="d-flex">
      <div class="w-100 mr-2">
        <label>{{'name' | translate}}</label>
        <ngx-text-box [(value)]="eventPlan.name"></ngx-text-box>
      </div>
      <div class="ml-auto">
        <label>{{'state' | translate}}</label>
        <dx-select-box class="input-height-sm"
                       [items]="eventPlanStates"
                       [(value)]="selectedEventPlanState"
                       displayExpr="name"
                       [acceptCustomValue]="true"
                       placeholder="{{'state' | translate}}">
        </dx-select-box>
      </div>
    </div>

    <label class="mt-2">{{'date' | translate}}</label>
    <div class="row cols-padding">
      <div class="col">
        <dx-date-box class="w-100"
                     type="datetime"
                     [(value)]="eventPlan.startTime"
                     [displayFormat]="propertyConstantClass.dateTimeFormat"
                     placeholder="{{'startDate' | translate}}"
                     [showClearButton]="true">
        </dx-date-box>
      </div>
      <div class="col">
        <dx-date-box class="w-100"
                     type="datetime"
                     [(value)]="eventPlan.finishTime"
                     [displayFormat]="propertyConstantClass.dateTimeFormat"
                     placeholder="{{'finishDate' | translate}}"
                     [showClearButton]="true">
        </dx-date-box>
      </div>
    </div>

    <label class="mt-2">{{'duration' | translate}}</label>
    <div class="row cols-padding">
      <div class="col">
        <dx-number-box [(value)]="eventPlan.daysAmount"
                       [min]="0"
                       placeholder="{{'days' | translate}}"></dx-number-box>
      </div>
      <div class="col">
        <dx-number-box [(value)]="eventPlan.weeksAmount"
                       [min]="0"
                       placeholder="{{'weeks' | translate}}"></dx-number-box>
      </div>
      <div class="col">
        <dx-number-box [(value)]="eventPlan.monthsAmount"
                       [min]="0"
                       placeholder="{{'months' | translate}}"></dx-number-box>
      </div>
      <div class="col">
        <dx-number-box [(value)]="eventPlan.yearsAmount"
                       [min]="0"
                       placeholder="{{'years' | translate}}"></dx-number-box>
      </div>
    </div>

    <ngx-button class="mt-2"
                nameKey="estimatedParameters"
                [click]="onSelectEstimatedParameters"></ngx-button>
    <div class="tags-content mt-2">
      <div *ngFor="let item of estimatedParameters">
        {{item.name}}
      </div>
    </div>

    <ngx-button class="mt-2"
                nameKey="groups"
                [click]="onSelectGroups"></ngx-button>
    <div class="tags-content mt-2">
      <div *ngFor="let item of groups">
        {{item.name}}
      </div>
    </div>

    <label class="mt-2">{{'ageGroup' | translate}}</label>
    <app-input-select [loadData]="onLoadAgeGroups"
                      [(model)]="eventPlan.ageGroup"
                      [getKey]="getKey"
                      [getName]="getName"
                      [showClearButton]="false"
                      placeholder="{{'ageGroup' | translate}}">
    </app-input-select>

    <label class="mt-2">{{'sportType' | translate}}</label>
    <app-input-select [loadData]="onLoadSportTypes"
                      [getKey]="getKey"
                      [getName]="getName"
                      [(model)]="eventPlan.sportType"
                      placeholder="{{'sportType' | translate}}"
                      (modelChange)="onSportTypeChange($event)">
    </app-input-select>

    <ngx-button class="mt-2"
                nameKey="sportRoles"
                [click]="onSelectSportRoles"
                [disabled]="disabledSportRoles"></ngx-button>
    <div class="tags-content mt-2">
      <div *ngFor="let item of sportRoles">
        {{item.name + " (" + item.shortName + ")"}}
      </div>
    </div>
  </div>

  <div class="col">
    <label>{{'description' | translate}}</label>
    <dx-text-area height="500"
                  [(value)]="eventPlan.description"></dx-text-area>
  </div>
</div>
