<div class="row cols-padding">
  <div class="col">
    <dx-date-box class="w-100"
                 type="date"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box class="w-100"
                 type="date"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)">
    </dx-date-box>
  </div>
</div>
<div>
  <ngb-tabset>
    <ngb-tab title="{{'table' | translate | uppercase}}">
      <ng-template ngbTabContent>
        <app-table-history [setup]="setup"
                           [updateListAsync]="updateListAsync"
                           [(measureValues)]="measureValues"
                           [getDate]="getDate"
                           [getUnits]="getUnits"
                           [getValue]="getValue">
        </app-table-history>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isNumber"
             title="{{'chart' | translate | uppercase}}">
      <ng-template ngbTabContent>
        <app-chart-history [setup]="setup"
                           [(measureValues)]="measureValues"
                           [getDate]="getDate"
                           [getValue]="getValue">
        </app-chart-history>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
