<ngx-grid [fetchItems]="fetchItems">
  <ngx-column nameKey="Отправитель заявки">
    <ng-template let-item>
      {{item?.group?.name}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="Дата заявки">
    <ng-template let-item>
      {{item.created | date: propertyConstantClass.dateFormat}}
    </ng-template>
  </ngx-column>

  <ngx-column>
    <ngx-column>
      <ng-template let-item>
        <div fxFlex="initial"
             fxLayout="row"
             fxLayoutGap="10px">
          <!--          <button mat-raised-button-->
          <!--                  color="primary"-->
          <!--                  (click)="onOpenClaim(item)">{{'Просмотреть' | translate}}</button>-->
          <button mat-icon-button
                  (click)="onRemoveClaim(item)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ng-template>
    </ngx-column>
  </ngx-column>
</ngx-grid>
