<div class="row cols-padding">
  <div class="col-2">
    <label>{{periodSelectBox.placeholder}}</label>
    <dx-select-box #periodSelectBox
                   class="input-height-sm"
                   [items]="periods"
                   [(value)]="selectedPeriod"
                   displayExpr="name"
                   placeholder="{{'period' | translate}}"
                   (onValueChanged)="onPeriodChanged($event.value)">
    </dx-select-box>
  </div>
  <div class="col-2">
    <label>{{loadTypeSelectBox.placeholder}}</label>
    <dx-select-box #loadTypeSelectBox
                   class="input-height-sm"
                   [items]="loadTypes"
                   [(value)]="selectedLoadType"
                   displayExpr="name"
                   placeholder="{{'loadType' | translate}}"
                   (onValueChanged)="onLoadTypeChanged($event.value)">
    </dx-select-box>
  </div>
</div>

<div *ngIf="columns && rows"
     class="mt-2 x-scroll-content">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th *ngFor="let item of columns">{{item}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of rows">
      <td class="row-name">
        {{item.row.name}}
      </td>
      <td *ngFor="let column of item.columns">
        <ngx-text-box [(value)]="column.value"
                      (focusOut)="onFocusOut(column)"></ngx-text-box>
      </td>
    </tr>
    </tbody>
  </table>
</div>

