:host {
  ::ng-deep {

    fuse-nav-vertical-collapsable {
      background: rgba(0, 0, 0, 0.04) !important;
    }

    fuse-navigation {
      background: #fafafa !important;
    }

    .nav-link {
      height: 40px !important;
      border-radius: 0 100px 100px 0;


      &.active {
        background: rgba(0, 0, 0, 0.3) !important;
      }

      &:hover:not(.active) {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
    }
  }

  .fuse-navigation {
    border-right: 1px solid rgba(0, 0, 0, 0.08);
  }
}
