.form {
  margin: auto !important;
  width: 370px;

  img {
    margin: 0 auto 20px auto;
    display: block;
    width: 230px;
  }

  p {
    color: #eee;
  }

  a {
    color: #bbb;
    cursor: pointer;

    &:hover {
      color: #ddd;
    }
  }

}
