<div *ngIf="data"
     fxLayout
     fxLayoutGap="10px">
  <div fxFlex="50">
    <h5>{{'basicInformation' | translate }}</h5>
    <app-edit-group [(data)]="data"></app-edit-group>
  </div>
  <div fxFlex="50">
    <h5>{{'additionalInformation' | translate }}</h5>
    <ng-container *ngIf="data.discriminator === groupTypeEnumClass.TEAM">
      <ngx-select [data]="leagueNgxSelect"></ngx-select>
      <ngx-select [data]="ageGroupNgxSelect"></ngx-select>
    </ng-container>
    <ng-container *ngIf="data.discriminator === groupTypeEnumClass.TEAM || data.discriminator === groupTypeEnumClass.PREPARATION_GROUP">
      <div fxLayout
           fxLayoutGap="10px">
        <div>
          <ngx-button nameKey="trainers"
                      [click]="onSelectTrainers"></ngx-button>
        </div>
        <div>
          <p *ngFor="let item of organizationTrainers">
            {{item.groupPerson.person.lastName + ' ' + item.groupPerson.person.firstName}}
          </p>
        </div>
      </div>
      <label class="mt-2 w-100">{{'leadTrainer' | translate}}</label>
      <app-input-select [loadData]="fetchOrganizationTrainers"
                        [(model)]="selectedOrganizationTrainer"
                        [getKey]="getKey"
                        [getName]="getPersonName"
                        ngDefaultControl>
      </app-input-select>
    </ng-container>
  </div>
</div>
