<app-item-line [fileClass]="fileClassClass.UNIT"
               [(data)]="data"
               [actions]="actions"
               [infoAction]="infoAction"></app-item-line>

<!--<mat-card *ngIf="data"-->
<!--          matRipple-->
<!--          (click)="onClick()">-->
<!--  <mat-card-header fxLayout-->
<!--                   fxLayoutGap="10px"-->
<!--                   fxLayoutAlign="space-between start">-->
<!--    <div>-->
<!--      <mat-card-title>-->
<!--        {{data.name}}-->
<!--      </mat-card-title>-->
<!--      <mat-card-subtitle>-->
<!--        {{('unitTypeEnum.' + data.unitTypeEnum) | translate}}-->
<!--      </mat-card-subtitle>-->
<!--    </div>-->
<!--    <button *ngIf="canEdit"-->
<!--            mat-icon-button-->
<!--            (click)="onEdit(); $event.stopPropagation()">-->
<!--      <mat-icon>edit</mat-icon>-->
<!--    </button>-->
<!--  </mat-card-header>-->
<!--</mat-card>-->
