<div *ngIf="data"
     (click)="onNavigate()">
  <div class="d-flex flex-row align-items-center">
    <app-image [type]="'LOGO'"
               [clazz]="'GROUP'"
               [id]="data.id"
               [dimension]="dimension"
               [format]="'SQUARE'"></app-image>
    <div class="d-flex flex-column ml-2">
      <h6>{{data.name}} {{data?.stage?.shortName}}{{data.stageYear}}{{data?.stageType?.shortName}}</h6>
      <p>{{('groupTypeEnum.' + data.discriminator) | translate}}</p>
    </div>
  </div>
</div>
