<div class="row">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-date-box id="dateFrom"
                 type="date"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box id="dateTo"
                 type="date"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <app-location-input-select (onChange)="onLocationChange($event)"></app-location-input-select>
  </div>
</div>
<table class="table table-bordered table-hover table-sm mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-1">{{ 'date' | translate }}</th>
    <th class="col-6">{{ 'name' | translate }}</th>
    <th class="col-3">{{ 'location' | translate }}</th>
    <th class="col-1">{{ 'access' | translate }}</th>
    <th class="col-1"></th>
  </tr>
  </thead>
  <tbody>
  <app-infinite-list [query]="trainingQuery"
                     [getItems]="getItems">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col-1">{{item?.baseTraining.startTime | date:'dd.MM.yyyy'}}</td>
        <td class="col-6">{{item?.baseTraining.name}}</td>
        <td class="col-3">{{item?.baseTraining.location?.name}}</td>
        <td class="col-1">
          {{item.access.toString()}}
        </td>
        <td class="col-1">
          <button *ngIf="isEditAllow"
                  class="btn btn-secondary w-100"
                  (click)="editAccess(item)">{{'edit' | translate}}
          </button>
        </td>
      </tr>
    </ng-template>
  </app-infinite-list>
  </tbody>
</table>
