<app-logo-card *ngIf="formGroup"
               [titleTranslation]="'welcome'"
               (keyup.enter)="onSignIn()">
  <new-ngx-input [data]="emailNgxInput"></new-ngx-input>
  <new-ngx-input [data]="passwordNgxInput"></new-ngx-input>
  <button mat-raised-button
          class="mt-2"
          color="accent"
          [disabled]="formGroup.invalid"
          (click)="onSignIn()">{{'signIn' | translate}}</button>
  <div class="mt-3">
    <u *ngIf="environment.type === environmentTypeClass.LOCAL || environment.type === environmentTypeClass.PRODUCTION"><a
      routerLink="/sign-up"
      class="mr-5">{{'signUp' | translate}}</a></u>
    <u><a routerLink="/password/reset">{{'forgotYourPassword' | translate}}</a></u>
  </div>
</app-logo-card>
