<div *ngIf="group">
  <div class="d-flex flex-row mb-2 header">
    <ngx-image [canEdit]="canEdit"
               [width]="130"
               [height]="130"
               [objectId]="group.id"
               [type]="imageTypeClass.LOGO"
               [fileClass]="fileClassClass.GROUP"
               [allowFullScreen]="false"></ngx-image>
    <div class="p-2">
      <h4>{{group.name}}</h4>
      <p>{{'groupType' | translate }} - {{('groupTypeEnum.' + group.discriminator) | translate}}</p>
      <p
        *ngIf="(group.discriminator === groupTypeEnumClass.TEAM || group.discriminator === groupTypeEnumClass.PREPARATION_GROUP) && group.sportType">
        {{'sportType' | translate }} - {{group.sportType.name}}</p>
      <div *ngIf="group.discriminator === groupTypeEnumClass.TEAM">
        <p *ngIf="group.teamType">{{'teamType' | translate }} - {{group.teamType.name}}</p>
        <p *ngIf="group.league">{{'league' | translate }} - {{group.league.name}}</p>
        <p *ngIf="group.ageGroup">{{'ageGroup' | translate }} - {{group.ageGroup.name}}</p>
      </div>
    </div>

    <div class="ml-auto d-flex flex-row">
      <ngx-split-button title="{{ groupPerson ?(('groupPersonStateEnum.' + groupPerson.state) | translate) : ' '}}"
                        [placementRight]="true"
                        [items]="splitButtonsItems"></ngx-split-button>

      <ngx-button *ngIf="canEdit"
                  class="ml-2"
                  [icon]="iconEnumClass.EDIT"
                  [click]="onEditSettings"></ngx-button>
    </div>
  </div>

  <ngx-tab class="mt-2"
           [tabs]="tabs"></ngx-tab>
</div>
