@import "../layout.component";

$navbar-background: $light-blue;
$navbar-background-dark: darken($navbar-background, 12%);
$user-panel-width: 250px;

.nav-bar-dropdown-toggle {
  height: $navbar-height;
  width: $user-panel-width;
  background: $navbar-background-dark;
  border: none;
  line-height: $navbar-height;

  &::after {
    display: none;
  }

  > .dropdown-toggle-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;

    background-color: darken($light-blue, 12%);

    > .fullname {
      padding-left: 5px;
      width: ($user-panel-width - $logo-size-sm) * .85;
      height: $logo-size-sm;
      display: flex;
      align-items: center;
      font-weight: 400;
      color: $white;
      white-space: nowrap;
      > p {
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }

    > .lnr {
      color: $white;
      font-size: .6em;
      font-weight: 900;
      padding-left: 2px;
    }

    cursor: pointer;


    &:hover {
      > p, > .lnr {
        color: $white-light;
      }
      background-color: darken($navbar-background-dark, 2%);
    }
  }

}

.navbar-wrapper {
  user-select: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  justify-content: space-between;

  > .logo-wrapper {
    height: $navbar-height;
    width: $sidebar-width;
    > .large {
      display: block;
    }
    > .mini {
      display: none;
    }
    @media (max-width: max-width-sm()) {
      width: $sidebar-width-mini;
      padding: 0 10px;
      > .large {
        display: none;
      }
      > .mini {
        display: block;
      }
    }
    transition: width $sidebar-mini-transition ease;

    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: $white;

    padding: 0 15px;
    overflow: hidden;

    background-color: $navbar-background-dark;
  }

  .menu {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

    > .dropdown-item {

      outline: none;
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;

      &:hover, &:active, &:focus {
        background-color: #ddd;
        color: #000;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }

  }

  > nav {
    margin-bottom: 0;
    border: 0;
  }

}
