@import "../layout.component";

$navbar-background: $light-blue;
$navbar-background-dark: darken($navbar-background, 12%);
$user-panel-width: 200px;
$avatar-size: 40px;

.nav-bar-dropdown-toggle {
  height: $navbar-height;
  background: $navbar-background-dark;
  border: none;
  width: 250px;
  line-height: $navbar-height;
}

.dropdown-toggle-content {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-left: 5px;
  margin-bottom: 7px;
  width: 220px;
  overflow: hidden;
  color: $white;
}

.navbar-wrapper {
  user-select: none;
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  justify-content: space-between;

  > .logo-wrapper {
    height: $navbar-height;
    width: $sidebar-width;
    > .large {
      display: block;
    }
    > .mini {
      display: none;
    }
    @media (max-width: max-width-sm()) {
      width: $sidebar-width-mini;
      padding: 0 10px;
      > .large {
        display: none;
      }
      > .mini {
        display: block;
      }
    }
    transition: width $sidebar-mini-transition ease;

    font-size: 20px;
    line-height: 50px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: $white;

    padding: 0 15px;
    overflow: hidden;

    background-color: $navbar-background-dark;
  }

  > nav.navbar-wrapper {
    margin-bottom: 0;
    border: 0;
  }

}
