<header class="navbar-wrapper">
  <a href class="logo-wrapper">
    <span class="large"><b>Athlete </b>Readiness</span>
    <span class="mini"><b>A</b>R</span>
  </a>
  <nav>
    <div ngbDropdown>
      <div class="nav-bar-dropdown-toggle"
           id="dropdownManual"
           ngbDropdownToggle>
        <div class="dropdown-toggle-content">
          <div class="avatar" *ngIf="logo"
               [ngStyle]="{'background-image': 'url('+ logo +')'}">
          </div>
          <div class="fullname">
            <p>{{person.firstName}}</p>
          </div>
          <span class="lnr lnr-chevron-down"></span>
        </div>
      </div>
      <div ngbDropdownMenu
           aria-labelledby="dropdownManual" class="menu">
        <button class="dropdown-item"
                routerLink="{{personProfileRouterLink}}">{{'profile' | translate | uppercase}}
        </button>
        <button class="dropdown-item"
                (click)="signOut($event)">{{'signOut' | translate | uppercase}}
        </button>
      </div>
    </div>
  </nav>
</header>
