@import "../layout.component";

$navbar-background: $light-blue;
$notifications-background: darken($navbar-background, 20%);
$profile-background: darken($navbar-background, 12%);
$user-panel-width: 300px;

.navbar-wrapper {
  user-select: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: $navbar-height;
  background-color: $navbar-background;
  display: flex;
  justify-content: space-between;

  > .logo-wrapper {
    height: $navbar-height;
    width: $sidebar-width;
    > .large {
      display: block;
    }
    > .mini {
      display: none;
    }
    @media (max-width: max-width-sm()) {
      width: $sidebar-width-mini;
      padding: 0 10px;
      > .large {
        display: none;
      }
      > .mini {
        display: block;
      }
    }
    transition: width $sidebar-mini-transition ease;

    font-size: 20px;
    line-height: $navbar-height;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: $white;

    padding: 0 15px;
    overflow: hidden;

    background-color: $profile-background;
  }

  > .tools-wrapper {
    height: $navbar-height;
    width: $user-panel-width;
    line-height: $navbar-height;
    display: flex;

    .notifications-wrapper {
      background: $notifications-background;
      width: 100px;
      max-width: 100px;
      display: flex;
      align-items: center;
      padding: 0 5px;

      i {
        color: $white;
        font-size: 24px !important;
        width: 45px;
        cursor: pointer;

        &:hover, &:active, &:focus {
          color: #ccc !important;
        }
      }

    }

    .profile-wrapper {
      background: $profile-background;
      width: 100%;

      .nav-bar-dropdown-toggle {
        border: none;

        &::after {
          display: none;
        }

        > .dropdown-toggle-content {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 5px;

          background-color: darken($light-blue, 12%);

          > .fullname {
            padding-left: 5px;
            height: $logo-size-sm;
            display: flex;
            align-items: center;
            font-weight: 400;
            color: $white;
            white-space: nowrap;
            > p {
              overflow: hidden !important;
              text-overflow: ellipsis;
            }
          }

          > span.fa {
            color: $white;
            font-size: .6em;
            font-weight: 900;
            padding-left: 2px;
          }

          cursor: pointer;

          &:hover {
            > p, > span.fa {
              color: $white-light;
            }
            background-color: darken($profile-background, 2%);
          }

        }

      }

      .menu {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        z-index: 2;

        > .dropdown-item {

          height: 30px;
          line-height: 20px;
          outline: none;
          cursor: pointer;
          padding: 5px 5px;

          &:hover, &:active, &:focus {
            background-color: #ddd;
            color: #000;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #ccc;
          }
        }

      }

    }

  }

}
