<div id="navbar">
  <header class="wrapper">
    <a href class="logo-wrapper">
      <span class="mini"><b>R</b>C</span>
      <span class="large"><b>Reactor </b>Combine</span>
    </a>
    <nav class="navbar">
      <div class="navbar-menu">
        <ul class="dropdown">
          <li class="user-panel">
            <img src="https://pbs.twimg.com/profile_images/917826331068567552/_0z8T2_v.jpg" class="img-circle"
                 alt="User Image">
            <p>Иванов Иван</p>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>
