<div class="row">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-date-box id="dateFrom"
                 type="date"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box id="dateTo"
                 type="date"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <app-location-input-select (onChange)="onLocationChange($event)"></app-location-input-select>
  </div>
  <div *ngIf="canCreateEvent">
    <button class="btn btn-primary"
            type="button"
            (click)="onCreate()">{{'create' | translate}}
    </button>
  </div>
</div>

<ngx-grid class="mt-2"
          [fetchItems]="fetchItems"
          [query]="baseTrainingQuery"
          [windowScroll]="true">
  <ngx-column nameKey="name"
              [style]="'col-3'"
              [templateRef]="nameTemplate">
    <ng-template #nameTemplate let-item>
      {{item.name}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="trainingType"
              [style]="'col-1'"
              [templateRef]="trainingTypeTemplate">
    <ng-template #trainingTypeTemplate let-item>
      {{'trainingDiscriminator.' + item.discriminator | translate}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="eventState"
              [style]="'col-1'"
              [templateRef]="eventStateTemplate">
    <ng-template #eventStateTemplate let-item>
      {{item.trainingState}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="startDateAndTime"
              [style]="'col-2'"
              [templateRef]="startDateAndTimeTemplate">
    <ng-template #startDateAndTimeTemplate let-item>
      {{item.startTime | date: propertyConstant.dateTimeFormat}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="location"
              [style]="'col-1'"
              [templateRef]="locationTemplate">
    <ng-template #locationTemplate let-item>
      {{item.location?.name}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="groups.section"
              [style]="'col-2'"
              [templateRef]="groupsTemplate">
    <ng-template #groupsTemplate let-item>
      {{item.discriminator === trainingDiscriminator.GAME ? item.teams : ''}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="score"
              [style]="'col-1'"
              [templateRef]="scoreTemplate">
    <ng-template #scoreTemplate let-item>
      {{item.discriminator === trainingDiscriminator.GAME ? item.score : ''}}
    </ng-template>
  </ngx-column>

  <ngx-column [style]="'col-1'"
              [templateRef]="reportTemplate">
    <ng-template #reportTemplate let-item>
      <app-busy-button *ngIf="item.trainingState !== trainingState.DRAFT && item.trainingState !== trainingState.PLAN"
                       icon="fa fa-book"
                       [click]="showReport"
                       [parameter]="item"></app-busy-button>
    </ng-template>
  </ngx-column>
</ngx-grid>
