<div class="row">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-date-box id="dateFrom"
                 type="date"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box id="dateTo"
                 type="date"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)"
                 class="w-100">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-select-box [items]="eventTypes"
                   displayExpr="name"
                   [showClearButton]="true"
                   placeholder="{{'eventType' | translate }}"
                   (onValueChanged)="onEventTypeChanged($event.value)">
    </dx-select-box>
  </div>
  <div class="col">
    <app-location-input-select (onChange)="onLocationChange($event)"></app-location-input-select>
  </div>
  <div *ngIf="canCreateEvent">
    <ngx-button nameKey="create"
                [click]="onCreate"></ngx-button>
  </div>
</div>

<ngx-grid class="mt-2"
          [fetchItems]="fetchItems"
          [query]="baseTrainingQuery"
          [windowScroll]="true"
          [edit]="onShowEvent"
          [canEdit]="true"
          [enabledAdd]="false">
  <ngx-column nameKey="name"
              [style]="'col-3'">
    <ng-template let-item>
      {{item.name}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="trainingType"
              [style]="'col-1'">
    <ng-template let-item>
      {{'trainingDiscriminator.' + item.discriminator | translate}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="eventState"
              [style]="'col-1'">
    <ng-template let-item>
      {{'eventStateEnum.' + item.trainingState | translate}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="startDateAndTime"
              [style]="'col-2'">
    <ng-template let-item>
      {{item.startTime | date: propertyConstant.dateTimeFormat}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="location"
              [style]="'col-1'">
    <ng-template let-item>
      {{item.location?.name}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="groups"
              [style]="'col-2'">
    <ng-template let-item>
      {{item.discriminator === trainingDiscriminator.GAME ? item.teams : ''}}
    </ng-template>
  </ngx-column>

  <ngx-column nameKey="score"
              [style]="'col-1'">
    <ng-template let-item>
      {{item.discriminator === trainingDiscriminator.GAME ? item.score : ''}}
    </ng-template>
  </ngx-column>

  <ngx-column [style]="'col-1'">
    <ng-template let-item>
      <ngx-button *ngIf="item.trainingState !== trainingState.DRAFT && item.trainingState !== trainingState.PLAN"
                  [icon]="iconEnumClass.BOOK"
                  [click]="showReport"
                  [data]="item"></ngx-button>
    </ng-template>
  </ngx-column>
</ngx-grid>
