<div *ngIf="viewModel">
  <p class="date">{{viewModel.data.created | date:'dd.MM.yyyy HH:mm'}}</p>
  <div [innerHTML]="viewModel.body | safeHtml"
       (click)="onDataClick($event)"></div>
  <div *ngIf="viewModel.data.action"
       class="mt-2">
    <div *ngIf="viewModel.data.approved==undefined; else elseContent">
      <button type="button"
              class="btn btn-primary"
              (click)="onApprove()">
        {{'approve' | translate}}
      </button>
      <button type="button"
              class="btn btn-primary"
              (click)="onRefuse()">
        {{'refuse' | translate}}
      </button>
    </div>
    <ng-template #elseContent>
      {{ viewModel.data.approved ? ('youApproved' | translate) : ('youRefused' | translate) }}
    </ng-template>
  </div>
</div>
