<div *ngIf="viewModel; else elseTemplate">
  <p class="date">{{viewModel.data.created | date: propertyConstantClass.dateTimeFormat}}</p>
  <div [innerHTML]="viewModel.body | safeHtml"
       (click)="onDataClick($event)"></div>
  <div *ngIf="viewModel.data.action"
       class="mt-2">
    <div *ngIf="viewModel.data.approved == undefined; else elseContent">
      <ngx-split-button [items]="splitButtonsItems"></ngx-split-button>
    </div>
    <ng-template #elseContent>
      {{ viewModel.data.approved ? ('youApproved' | translate) : ('youRefused' | translate) }}
    </ng-template>
  </div>
</div>
<ng-template #elseTemplate>
  {{'notImplementedOnTheClient' | translate}}
</ng-template>
