<div class="d-flex justify-content-center h-100">
  <div class="d-flex align-items-center">
    <div class="d-flex flex-column m-2">
      <h1 class="text-center">{{'password.resetPassword' | translate | uppercase}}</h1>
      <dx-text-box placeholder="{{'enterEmail' | translate}}" mode="email" [(value)]="email" [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="email"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-button class="mt-2 w-100" text="{{'reset' | translate | uppercase}}" (onClick)="onApply($event)"></dx-button>
    </div>
  </div>
</div>