<div fxLayout="column">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <ngx-image [width]="128"
               [height]="128"
               [object]="person"
               [type]="imageTypeClass.LOGO"
               [fileClass]="fileClassClass.PERSON"></ngx-image>
  </div>
  <div>
    <label class="label">{{'identityDocument' | translate}}</label>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input class="document-field"
                   [data]="documentSeriesNgxInput"></new-ngx-input>
    <new-ngx-input class="document-field"
                   [data]="documentNumberNgxInput"></new-ngx-input>
    <ngx-date [data]="documentDateNgxInput"></ngx-date>
    <new-ngx-input [data]="documentIssuedByNgxInput"></new-ngx-input>
  </div>
  <div fxLayout="row"
       fxLayoutGap="10px">
    <new-ngx-input [data]="documentNatalPlaceNgxInput"></new-ngx-input>
    <new-ngx-input [data]="documentNationalityNgxInput"></new-ngx-input>
  </div>
  <div>
    <label class="label">{{'Место жительства' | translate}}</label>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row"
       fxLayoutGap="10px">
    <new-ngx-input [data]="cityAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="streetAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="houseAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="blockAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="literAddressNgxInput"></new-ngx-input>
  </div>
</div>
