<div fxLayout="column"
     fxLayoutGap="10px">
  <!--  <div fxLayout="row"-->
  <!--       fxLayoutAlign="center center">-->
  <!--    <ngx-image [width]="128"-->
  <!--               [height]="128"-->
  <!--               [object]="person"-->
  <!--               [type]="imageTypeClass.LOGO"-->
  <!--               [fileClass]="fileClassClass.PERSON"></ngx-image>-->
  <!--  </div>-->
  <div>
    <label class="label">{{'identityDocument' | translate}}</label>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout
       fxLayout.lt-sm="column"
       fxLayoutGap="10px"
       fxLayoutGap.lt-sm="unset">
    <new-ngx-input class="document-field"
                   [data]="documentSeriesNgxInput"></new-ngx-input>
    <new-ngx-input class="document-field"
                   [data]="documentNumberNgxInput"></new-ngx-input>
    <ngx-date [data]="documentDateNgxInput"></ngx-date>
    <new-ngx-input [data]="documentIssuedByNgxInput"></new-ngx-input>
  </div>
  <div fxLayout="row"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px"
       fxLayoutGap.lt-sm="unset">
    <ngx-select [data]="documentCitizenshipNgxSelect"></ngx-select>
    <new-ngx-input [data]="documentBirthplaceNgxInput"></new-ngx-input>
  </div>
  <div>
    <label class="label">{{'Место жительства' | translate}}</label>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row"
       fxLayout.lt-sm="column"
       fxLayoutGap="10px"
       fxLayoutGap.lt-sm="unset">
    <new-ngx-input [data]="cityAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="streetAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="houseAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="blockAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="literAddressNgxInput"></new-ngx-input>
    <new-ngx-input [data]="apartmentAddressNgxInput"></new-ngx-input>
  </div>

  <div>
    <label class="label">{{'Дополнительные данные' | translate}}</label>
    <mat-divider></mat-divider>
  </div>

  <new-ngx-input [data]="jobPlaceNgxInput"></new-ngx-input>
  <new-ngx-input [data]="positionNgxInput"></new-ngx-input>

  <div>
    <label class="label">{{'Статус / Разряды / Звания' | translate}}</label>
    <mat-divider></mat-divider>
  </div>
  <ngx-grid [canEdit]="true"
            [fetchItems]="fetchItems"
            [edit]="editTable"
            [add]="addNewRow">
    <ngx-column nameKey="status">
      <ng-template let-item>
        {{getStatus(item)}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="name">
      <ng-template let-item>
        {{getName(item)}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="sportType">
      <ng-template let-item>
        {{getSportTypeName(item)}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="number">
      <ng-template let-item>
        {{getNumber(item)}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="issuedBy">
      <ng-template let-item>
        {{getIssuedBy(item)}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="issuedAt">
      <ng-template let-item>
        {{getIssuedAt(item) | date: propertyConstantClass.dateFormat}}
      </ng-template>
    </ngx-column>
  </ngx-grid>

  <div fxLayout="row"
       fxLayoutGap="10px"
       fxLayoutAlign="center center">
    <button mat-raised-button
            [disabled]="formGroup.invalid"
            (click)="onCreateClaim(groupClaimJoinRequestStateEnumClass.FILL_COMPLETED)">
      Отправить анкету
    </button>
    <button mat-raised-button
            (click)="onCreateClaim(groupClaimJoinRequestStateEnumClass.FILL_LATER)">
      Заполнить позже
    </button>
    <button mat-raised-button
            (click)="onCreateClaim(groupClaimJoinRequestStateEnumClass.FILL_OFFICE)">
      Заполнить в офисе
    </button>
  </div>
</div>
<ng-template #groupClaimJoinRequestStateTemplate
             let-item>
  <div fxLayout="column"
       fxLayoutGap="10px">
    <div>
      <p>Уважаемый(ая) {{item.lastName + ' ' + item.firstName + (item.patronymic ? ' ' + item.patronymic : '')}}, ваша
        заявка
        на вступление в Региональную спортивную
        федерацию дзюдо Санкт-Петербурга была успешно отправлена. Необходимо заполнить анкету для более детальной
        информации
        о
        вас.</p>
      <p>Анкету на вступление Вы можете заполнить лично в офисе организации, либо сделать это сейчас, нажав на кнопку
        Далее.
        Электронная форма подачи сэкономит Ваше время, личный визит потребуется только для предоставления оригиналов
        документов с одновременным получения оригинала членского билета в офисе Федерации по адресу г. Санкт-Петербург,
        Кондратьевский пр., д. 13 А, тел. +7 (812) 576-99-31.</p>
      <p>Если у вас нет возможности заполнить анкету сейчас, выберете вариант Заполнить Позже. Вы сможете сделать это по
        ссылке, указанной в письме, которое придет к вам на электронную почту или зайти через электронную платформу,
        аккаунт,
        которой будет сгенерирован для Вас автоматически.
        Напоминаем, что вступление в федерацию Дзюдо Санкт-Петербурга бесплатно.</p>
    </div>
    <div fxLayout="row"
         fxLayoutGap="10px"
         fxLayoutAlign="center center">
      <button mat-raised-button
              (click)="onSend(groupClaimJoinRequestStateEnumClass.FILL_COMPLETED)">
        Заполнить сейчас
      </button>
      <button mat-raised-button
              (click)="onSend(groupClaimJoinRequestStateEnumClass.FILL_LATER)">
        Заполнить позже
      </button>
      <button mat-raised-button
              (click)="onSend(groupClaimJoinRequestStateEnumClass.FILL_OFFICE)">
        Заполнить в офисе
      </button>
    </div>
  </div>
</ng-template>
