<div *ngIf="data"
     fxFlex
     fxLayout
     fxLayoutGap="10px"
     fxLayoutAlign="start center"
     class="item"
     (click)="clickItem.emit($event)">
  <div fxFlex="none">
    <ngx-image [object]="data"
               [width]="40"
               [height]="40"
               [autoSave]="false"
               [type]="imageTypeClass.LOGO"
               [fileClass]="fileClass"></ngx-image>
  </div>
  <div fxFlex="grow">
    <p class="item-text">{{data.name}}</p>
  </div>
  <button *ngFor="let item of actions"
          mat-icon-button
          (click)="item.action(item); $event.stopPropagation()">
    <mat-icon>{{item.iconName}}</mat-icon>
  </button>
</div>
<!--<mat-menu #actionsMenu="matMenu">-->
<!--  <ng-container *ngFor="let item of actions; first as isFirst">-->
<!--    <button *ngIf="!isFirst"-->
<!--            mat-menu-item-->
<!--            (click)="item.action(item)">-->
<!--      <mat-icon>{{item.iconName}}</mat-icon>-->
<!--    </button>-->
<!--  </ng-container>-->
<!--</mat-menu>-->
