<div *ngIf="data"
     fxFlex
     fxLayout
     fxLayoutGap="10px"
     fxLayoutAlign="start center"
     class="item"
     (click)="clickItem.emit($event)">
  <div fxFlex="none">
    <ngx-image [object]="data"
               [width]="40"
               [height]="40"
               [autoSave]="false"
               [type]="imageTypeClass.CROPPED_LOGO"
               [fileClass]="fileClass"></ngx-image>
  </div>
  <div fxFlex="grow">
    <p class="item-text">{{data.name}}</p>
  </div>
  <button *ngIf="actions.length"
          mat-icon-button
          (click)="actions[0].action(actions[0]); $event.stopPropagation()">
    <mat-icon *ngIf="actions.length > 1; else singleActionTemplate">edit</mat-icon>
    <ng-template #singleActionTemplate>
      <mat-icon>{{actions[0].iconName}}</mat-icon>
    </ng-template>
  </button>
</div>
<mat-menu #actionsMenu="matMenu">
  <ng-container *ngFor="let item of actions; first as isFirst">
    <button *ngIf="!isFirst"
            mat-menu-item
            (click)="item.action(item)">
      <mat-icon>{{item.iconName}}</mat-icon>
    </button>
  </ng-container>
</mat-menu>
