<div class="row">
  <div class="col">
    <app-person *ngIf="data?.person"
                [data]="data.person"></app-person>
  </div>
  <div class="col">
    <app-group *ngIf="baseGroupPerson"
               [data]="baseGroupPerson.group"></app-group>
  </div>
</div>

<label class="mt-3">{{'subgroup' | translate }}</label>
<dx-select-box [items]="subgroups"
               [(value)]="data.subGroup"
               displayExpr="name"
               acceptCustomValue="true"
               showClearButton="true"
               placeholder="{{'subgroup' | translate}}">
</dx-select-box>
<!--TODO -->
<!--<div *ngIf="data.userRole && data.userRole.userRoleEnum === 'ATHLETE'">-->
<!--<label class="mt-2">{{'mentor' | translate}}</label>-->
<!--<app-input-select-->
<!--[loadData]="loadMentors"-->
<!--[(model)]="data.mentor"-->
<!--[pageSize]="pageSize"-->
<!--[getKey]="getKey"-->
<!--[getName]="getName"-->
<!--ngDefaultControl>-->
<!--</app-input-select>-->

<!--<label class="mt-2">{{'sportRole' | translate }}</label>-->
<!--<dx-select-box [items]="sportRoles"-->
<!--[(value)]="data.sportRole"-->
<!--displayExpr="name"-->
<!--acceptCustomValue="true"-->
<!--showClearButton="true"-->
<!--placeholder="{{'sportRole' | translate}}">-->
<!--</dx-select-box>-->

<!--<label class="mt-2">{{'number' | translate }}</label>-->
<!--<dx-text-box [(value)]="data.number"></dx-text-box>-->
<!--</div>-->

<div class="mt-2">
  <app-busy-button nameKey="showPersonLog"
                   [click]="onEditGroupPersonLog"></app-busy-button>
</div>
