<label for="rank">{{'rank' | translate}}</label>
<dx-text-box id="rank"
             [(value)]="data.rank.name"
             [disabled]="true">
</dx-text-box>

<label class="mt-2"
       for="assignee">{{'assignee' | translate}}</label>
<dx-text-box id="assignee"
             [(value)]="data.assignee">
  <dx-validator>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dx-validator>
</dx-text-box>

<label class="mt-2"
       for="date">{{'date' | translate}}</label>
<dx-date-box id="date"
             class="w-100"
             [(value)]="data.date"
             type="date"
             [displayFormat]="propertyConstant.dateFormat">
  <dx-validator>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dx-validator>
</dx-date-box>

<label class="mt-2"
       for="orderNumber">{{'orderNumber' | translate}}</label>
<dx-text-box id="orderNumber"
             [(value)]="data.orderNumber">
  <dx-validator>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dx-validator>
</dx-text-box>

<label class="mt-2"
       for="certificateNumber">{{'certificateNumber' | translate}}</label>
<dx-text-box id="certificateNumber"
             [(value)]="data.certificateNumber">
  <dx-validator>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dx-validator>
</dx-text-box>
