<div fxLayout
     fxLayoutAlign="center center">
  <image-cropper *ngIf="imageBase64; else elseTemplate"
                 [cropper]="cropper"
                 [maintainAspectRatio]="true"
                 [aspectRatio]="aspectRatio"
                 [resizeToWidth]="128"
                 [imageBase64]="imageBase64"
                 (imageCropped)="imageCropped($event)"
                 (imageLoaded)="imageLoaded()"
                 (cropperReady)="onCropperReady()"></image-cropper>
  <ng-template #elseTemplate>
    <button mat-raised-button
            color="accent"
            (click)="onUploadImage()">{{'uploadFile' | translate}}</button>
  </ng-template>
</div>

<img *ngIf="croppedImage"
     [ngClass]="{'img-circle': format === imageFormatClass.CIRCLE}"
     [src]="croppedImage"/>
<input #fileInputElement
       id="file-upload"
       type="file"
       title=" "
       (change)="fileChangeEvent($event)"
       accept="image/*">
