<div class="m-2 form">
  <h3 class="text-center text-white">{{'registration.completeYourProfile' | translate | uppercase}}</h3>
  <img src="/assets/img/athlete-readiness-logo.png">
  <ngx-form>
    <ngx-input [type]="ngxInputTypeClass.TEXT"
               placeholderKey="firstName"
               [(value)]="person.firstName"
               [checkValidation]="onRequiredValidation"></ngx-input>
    <ngx-input class="mt-2"
               [type]="ngxInputTypeClass.TEXT"
               placeholderKey="lastName"
               [(value)]="person.lastName"
               [checkValidation]="onRequiredValidation"></ngx-input>
    <dx-date-box class="mt-2 w-100 input-height-sm"
                 [min]="dateMin"
                 [max]="dateMax"
                 [type]="'date'"
                 [displayFormat]="propertyConstantClass.dateFormat"
                 placeholder="{{'birthDate' | translate}}"
                 (onValueChanged)="onBirthDateChanged($event.value)">
    </dx-date-box>
    <dx-select-box class="mt-2 input-height-sm"
                   [items]="sexEnums"
                   displayExpr="name"
                   placeholder="{{'sex' | translate}}"
                   (onValueChanged)="onSexChanged($event.value)">
    </dx-select-box>
  </ngx-form>

  <ngx-button class="mt-3 w-100"
              nameKey="apply"
              [click]="onApply"
              [disabled]="disabledApplyButton"></ngx-button>
</div>
