<mat-card *ngIf="data">
  <mat-card-header fxLayout
                   fxLayoutGap="10px"
                   fxLayoutAlign="space-between start">
    <div>
      <mat-card-title>
        {{data.name}}
      </mat-card-title>
      <mat-card-subtitle>
        {{('parameterTypeEnum.' + data.parameterTypeEnum) | translate}}
      </mat-card-subtitle>
    </div>
    <button *ngIf="canEdit"
            mat-icon-button
            (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content *ngIf="data.units.length">
    <mat-chip-list>
      <mat-chip *ngFor="let item of data.units">{{item.name}}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
