@import "../../../../styles/variables";

ngx-tabs {
  height: $tabs-height;
}

.header {
  background-color: #1c1f29;
  padding: 1rem !important;

  h4 {
    font-size: 28px !important;
    color: #FFFFFF;
  }

  p {
    color: #FFFFFF;
  }
}
