<div fxFlexFill
     fxLayoutGap="10px">
  <app-subgroups-trees fxFlex="30"
                       [getChildren]="getChildren"
                       [getNodeName]="getNodeName"
                       [getNodeContextMenuItem]="onGetNodeContextMenuItem"
                       (selectedNodeChange)="onSelectedNodeChange($event)"></app-subgroups-trees>
  <div *ngIf="selectedNode"
       fxFlex
       fxLayout="column"
       fxLayoutGap="10px">
    <p *ngIf="leadSubgroupPerson"> {{leadPersonType?.name}}
      : {{leadSubgroupPerson.person.lastName + ' ' + leadSubgroupPerson.person.firstName}}</p>
    <p *ngIf="secondarySubgroupPerson"> {{secondaryPersonType?.name}}
      : {{secondarySubgroupPerson.person.lastName + ' ' + secondarySubgroupPerson.person.firstName}}</p>

    <ngx-split-button [items]="splitButtonItems"></ngx-split-button>
    <app-subgroup-person-list [group]="group"
                              [canEdit]="canEditPerson"
                              [subgroupGroup]="getPersonModalConfig()?.subgroupGroup"
                              (selectedItemsChange)="onSelectedItemsChange($event)"></app-subgroup-person-list>
  </div>
</div>
