<div class="d-flex align-items-center flex-column h-100">
  <div class="m-auto">
    <div class="">
      <h1>{{'newGroupPage' | translate | uppercase}}</h1>
      <dx-text-box mode="text"
                   placeholder="{{'name' | translate}}"
                   [(value)]="groupName"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"
                               message="{{'requiredField' | translate}}">
          </dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-select-box class="mt-2"
                     [items]="groupTypes"
                     [(value)]="selectedGroupType"
                     displayExpr="name"
                     placeholder="{{'groupType' | translate}}">
        <dx-validator>
          <dxi-validation-rule type="required"
                               message="{{'requiredField' | translate}}">
          </dxi-validation-rule>
        </dx-validator>
      </dx-select-box>

      <div *ngIf="selectedGroupType?.groupTypeEnum === 'TEAM'">
        <dx-select-box class="mt-2"
                       [items]="sportTypes"
                       [(value)]="selectedSportType"
                       displayExpr="name"
                       placeholder="{{'sportType' | translate}}">
          <dxi-validation-rule type="required"
                               message="{{'requiredField' | translate}}">
          </dxi-validation-rule>
        </dx-select-box>
      </div>

      <dx-button class="mt-2 w-100"
                 type="default"
                 text="{{'apply' | translate | uppercase}}"
                 (onClick)="onApply($event)">
      </dx-button>
    </div>
  </div>
</div>
