<div class="header accent p-24"
     fxLayout
     fxLayoutAlign="space-between center">
  <div class="actions-wrapper">
    <div class="actions-container"
         fxLayout
         fxLayoutGap="10px">
      <button *ngFor="let item of actions"
              mat-fab
              color="warn"
              (click)="item.action(item)">
        <mat-icon>{{item.iconName}}</mat-icon>
      </button>
    </div>
  </div>
  <div fxFlex>
    <h3 class="text-uppercase">{{translationTitle | translate}}</h3>
  </div>
  <div *ngIf="canSearch"
       class="search-wrapper"
       fxFlex
       fxLayout
       fxLayoutAlign="start center">
    <div class="search"
         fxLayout
         fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input fxFlex
             [formControl]="searchControl"
             placeholder="{{'search' | translate}}">
    </div>
  </div>
  <div *ngIf="canChangeItemDisplay"
       fxFlex
       fxLayout
       fxLayoutAlign="end center">
    <button *ngIf="itemDisplayAction"
            mat-icon-button
            (click)="itemDisplayAction.action(itemDisplayAction)">
      <mat-icon>{{itemDisplayAction.iconName}}</mat-icon>
    </button>
  </div>
</div>
