<app-item-list [canEdit]="canEdit"
               [itemDisplay]="itemDisplay"
               [query]="query"
               [translationTitle]="translationTitle"
               [compare]="compare"
               [addItem]="addItem"
               [fetchItems]="fetchItems">
  <ng-template #itemTemplate
               let-item
               let-canEditItem="canEdit"
               let-itemDisplay="itemDisplay">
    <div (click)="clickItem.emit(item)">
      <app-sport-type-item [(data)]="item"
                           [canEdit]="canEditItem"
                           [itemDisplay]="itemDisplay"></app-sport-type-item>
    </div>
  </ng-template>
</app-item-list>
