<div *ngIf="images.length"
     id="carouselExampleIndicators"
     (keyup.arrowleft)="onPrevious()"
     (keyup.arrowright)="onNext()"
     class="carousel slide carousel-content {{class}}"
     data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let item of images; index as i;"
        data-target="#carouselExampleIndicators"
        (click)="setCurrentImageIndex(item)"
        [ngClass]="{'active' : currentImage === item}"></li>
  </ol>
  <div *ngIf="currentImage"
       class="carousel-inner">
    <div class="carousel-container carousel-item active d-flex justify-content-center align-items-center"
         [style.width.px]="width"
         [style.height.px]="height">
      <div fxFlexFill
           fxLayout
           fxLayoutAlign="center center">
        <ngx-image *ngIf="currentImage"
                   [fixForCarousel]="true"
                   [image]="currentImage.data"
                   [object]="object"
                   [allowFullScreen]="false"
                   [width]="width"
                   [height]="height"
                   [type]="currentImage.data.type"
                   [fileClass]="currentImage.data.clazz"
                   [autoSave]="false"></ngx-image>
      </div>
      <div class="carousel-caption d-none d-md-block"
           fxLayout
           fxLayoutGap="10px">
        <button *ngIf="canEdit"
                mat-icon-button
                (click)="onAddImage()">
          <mat-icon>add</mat-icon>
        </button>
        <button *ngIf="canEdit"
                mat-icon-button
                (click)="onRemoveImage(currentImage)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="images.length > 1">
    <a class="carousel-control-prev"
       (click)="onPrevious()"
       role="button"
       data-slide="prev">
    <span class="carousel-control-prev-icon"
          aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next"
       (click)="onNext()"
       role="button"
       data-slide="next">
    <span class="carousel-control-next-icon"
          aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<button *ngIf="!images.length && canEdit"
        mat-raised-button
        (click)="onAddImage()">
  {{'addImage' | translate}}
</button>

<div *ngIf="!images.length && !canEdit"
     [style.width.px]="width"
     [style.height.px]="height">
  <img [src]="defaultImageUrl"/>
</div>


<input #fileInput
       type="file"
       title=" "
       (change)="onImageChange($event.target.files)"
       accept="image/*"/>
