<div *ngIf="images.length"
     fxLayout="column"
     (keyup.arrowleft)="onPrevious()"
     (keyup.arrowright)="onNext()">
  <div fxLayout
       fxLayoutAlign="start center">
    <div *ngIf="images.length > 1">
      <button mat-icon-button
              (click)="onPrevious()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div fxFlex
         [style.height.px]="height">
      <div fxFlexFill
           fxLayout
           fxLayoutAlign="center center">
        <ngx-image *ngIf="currentImage"
                   [canEdit]="canEdit"
                   [image]="currentImage.data"
                   [object]="object"
                   [allowFullScreen]="true"
                   [autoWidth]="true"
                   [height]="height"
                   [type]="imageTypeClass.GALLERY"
                   [fileClass]="currentImage.data.clazz"
                   [format]="imageFormatClass.SQUARE"
                   [cropImage]="true"
                   [cropped]="true"
                   [aspectRatio]="3/2"
                   (imageChange)="onChangeImage()"></ngx-image>
      </div>
    </div>
    <div *ngIf="images.length > 1">
      <button mat-icon-button
              (click)="onNext()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="center center">
    <div *ngIf="images.length > 1">
      <button *ngFor="let item of images"
              mat-icon-button
              color="{{currentImage === item ? 'accent' : 'primary'}}"
              (click)="setCurrentImageIndex(item)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
    <div>
      <button *ngIf="canEdit"
              mat-icon-button
              (click)="onAddImage()">
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="canEdit"
              mat-icon-button
              (click)="onRemoveImage(currentImage)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>

<button *ngIf="!images.length && canEdit"
        mat-raised-button
        (click)="onAddImage()">
  {{'addImage' | translate}}
</button>

<div *ngIf="!images.length && !canEdit">
  <img [src]="defaultImageUrl"/>
</div>

<input #fileInput
       type="file"
       title=" "
       (change)="onImageChange($event.target.files)"
       accept="image/*"/>
