<div class="d-flex flex-column">
  <div class="img-fluid {{class}}"
       (dblclick)="onShowImage()"
       [style.width.px]="width"
       [style.height.px]="height"
       [style.background-size]="'cover'"
       [style.background-image]="'url('+ url +')'"></div>

  <div *ngIf="canEdit">
    <label for="file-upload"
           class="btn btn-primary input-height-sm w-auto mt-2">{{'changeImage' | translate}}</label>
    <input id="file-upload"
           type="file"
           title=" "
           (change)="onImageChange($event.target.files)"
           accept="image/*">
  </div>
</div>
