<div class="d-flex flex-column">
  <div class="img-fluid image {{class}} "
       [ngClass]="{'img-circle': format === imageFormatClass.CIRCLE}"
       [style.width]="innerWidth"
       [style.height]="innerHeight"
       [style.background-image]="'url('+ innerUrl +')' | safeStyle"
       (dblclick)="onShowImage()">
    <div *ngIf="canEdit"
         class="img-change"
         [style.border-radius]="format === imageFormatClass.CIRCLE ? '100%' : '0px'">
      <div class="img-content"
           fxLayout
           fxLayoutAlign="center center"
           (click)="onEditImage(fileInput)">
        <mat-icon color="accent">edit</mat-icon>
      </div>
    </div>
  </div>
</div>
<input #fileInput
       id="file-upload"
       type="file"
       title=" "
       (change)="onImageChange($event.target.files)"
       accept="image/*">
