<div *ngIf="innerWidth && innerHeight"
     class="d-flex flex-column">
  <div class="img-fluid {{class}} "
       [ngClass]="{'img-circle': format === imageFormatClass.CIRCLE}"
       (dblclick)="onShowImage()"
       [style.width.px]="innerWidth"
       [style.height.px]="innerHeight"
       [style.background-size]="'cover'"
       [style.background-image]="'url('+ url +')' | safeStyle"></div>
  <div *ngIf="canEdit"
       class="img-circle-change"
       [style.width.px]="innerWidth"
       [style.height.px]="innerHeight"
       [style.border-radius]="format === imageFormatClass.CIRCLE ? '100%' : '0px'">
    <div class="img-content"
         (click)="onEditImage(fileInput);">
      <i class="fa fa-pencil-square-o"></i>
    </div>
  </div>
</div>
<input #fileInput
       id="file-upload"
       type="file"
       title=" "
       (change)="onImageChange($event.target.files)"
       accept="image/*">
