@import "../../../styles/main";

$img-border-width: 2px;
$img-change-transition: .5s;
$img-change-content-background-hover: rgba(0, 0, 0, .3);
$img-size: 100%;
$img-content-height: $img-size / 4;

.image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .img-change {
    position: absolute;
    overflow: hidden;
    border-radius: $img-size;
    width: $img-size;
    height: $img-size;

    .img-content {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      width: $img-size;
      height: $img-content-height;
      background: $img-change-content-background-hover;
      transition: all $img-change-transition;

      &:hover {
        margin-top: 0;
        height: $img-size;
      }

      input[type=file] {
        display: block;
      }

      > mat-icon {
        @include mat-icon-size(16x);
        color: #fff;
      }
    }
  }
}
