<ngx-grid [fetchItems]="fetchItems">
  <ngx-column nameKey="person"
              style="col-7"
              [templateRef]="personTemplate"></ngx-column>
  <ngx-column nameKey="birthDate"
              style="col-2"
              [templateRef]="birthDateTemplate"></ngx-column>
  <ngx-column nameKey="stage"
              style="col-1"
              [templateRef]="stageTemplate"></ngx-column>
  <ngx-column nameKey="rank"
              style="col-2"
              [templateRef]="rankTemplate"></ngx-column>

  <ng-template #personTemplate let-item>
    <app-person [data]="item.person"></app-person>
  </ng-template>
  <ng-template #birthDateTemplate let-item>
    {{item.person.birthDate | date:propertyConstant.dateFormat}} ({{getAge(item.person.birthDate)}})
  </ng-template>
  <ng-template #stageTemplate let-item>
    {{item.stage.shortName}}{{stageType.shortName}}
  </ng-template>
  <ng-template #rankTemplate let-item>
    {{item?.personRank?.rank.name}}
  </ng-template>
</ngx-grid>
