<tr class="d-flex">
  <td class="col-1">
    <app-image *ngIf="data"
               [type]="'LOGO'"
               [clazz]="'GROUP'"
               [id]="data.group.id"
               [dimension]="'W80xH80'"
               [format]="'CIRCLE'"></app-image>
  </td>
  <td class="col-3">
    <a *ngIf="!allowEdit && data"
       routerLink="/group/{{data.group.id}}">
      <p>{{data?.group.name}}</p>
    </a>
    <div *ngIf="allowEdit">
      <app-input-select [loadData]="loadData"
                        [(model)]="data"
                        [pageSize]="pageSize"
                        (onChange)="onGroupChange($event)"
                        [getKey]="getKey"
                        [getName]="getName"
                        placeholder="Select a group"
                        ngDefaultControl>
      </app-input-select>
    </div>
  </td>
  <td class="col-2">
    <p>{{data?.sportRole?.sportType.name}}</p>
  </td>
  <td class="col-3">
    <app-person *ngIf="groupPersonLog?.mentor"
                [data]="groupPersonLog.mentor"></app-person>
  </td>
  <td class="col-1">
    <p>{{groupPersonLog?.joinDate | date:dateFormat}}</p>
  </td>
  <td [hidden]="!data"
      class="col-2">
    <ngx-split-button [items]="splitButtonItems"></ngx-split-button>
  </td>
</tr>
