<tr class="d-flex">
  <td class="col-1">
    <app-image *ngIf="data"
               [type]="'LOGO'"
               [clazz]="'GROUP'"
               [id]="data.group.id"
               [dimension]="'W80xH80'"
               [format]="'SQUARE'"></app-image>
  </td>
  <td [ngClass]="{'col-2' : allowEdit, 'col-3' : !allowEdit}">
    <a *ngIf="!allowEdit && data"
       routerLink="/group/{{data.group.id}}">
      <p>{{data?.group.name}}</p>
    </a>
    <div *ngIf="allowEdit">
      <app-input-select [loadData]="loadData"
                        [(model)]="data"
                        [pageSize]="pageSize"
                        (onChange)="onGroupChange($event)"
                        [getKey]="getKey"
                        [getName]="getName"
                        placeholder="Select a group"
                        ngDefaultControl>
      </app-input-select>
    </div>
  </td>
  <td class="col-2">
    <p>{{data?.group.groupType.name}}</p>
  </td>
  <td class="col-2">
    <p *ngIf="data?.sportRole">{{data.sportRole.name}}</p>
  </td>
  <td class="col-2">
    <p *ngIf="data?.sportRole">{{data.sportRole.sportType.sportTypeEnum}}</p>
  </td>
  <td class="col-2">
    <app-person *ngIf="data?.mentor?.person"
                [data]="data.mentor.person"></app-person>
  </td>
  <td *ngIf="allowEdit && data"
      class="col-1">
    <button class="btn btn-outline-danger"
            (click)="onRemove()">
      <i class="fa fa-times"></i>
    </button>
  </td>
</tr>
