<div class="page-layout carded right-sidebar tabbed inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="carded-right-sidebar-tabbed-2" position="right" lockedOpen="gt-md">

        <!-- SIDEBAR HEADER -->
        <div class="header p-24 accent">
            <h2 class="m-0">Sidebar header</h2>
        </div>
        <!-- / SIDEBAR HEADER -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24">

            <div fxLayout="row" fxLayoutAlign="start start">

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                        (click)="toggleSidebar('carded-right-sidebar-tabbed-2')">
                    <mat-icon>menu</mat-icon>
                </button>

                <h2 class="m-0">Right sidebar with tabs and inner scroll</h2>

            </div>

        </div>
        <!-- / CONTENT HEADER -->

    </div>
    <!-- / CENTER -->

</div>
