<app-busy-button nameKey="add"
                 [click]="onAdd"></app-busy-button>
<ngx-virtual-scroll class="mt-2 list-group-flush"
                    [getItems]="fetchItems"
                    [windowScroll]="true">
  <ng-template let-item>
    <div class="list-group-item p-2">
      <div class="d-flex">
        <div class="w-100 pr-auto"
             [routerLink]="item.id">{{item.name}}
        </div>
        <div>
          <app-busy-button icon="fa fa-edit"
                           [click]="onEdit"
                           [parameter]="item"></app-busy-button>
        </div>
      </div>
    </div>
  </ng-template>
</ngx-virtual-scroll>
