td, th {
  display: table-cell;
  vertical-align: middle !important;
  text-align: center;
  min-width: 100px !important;
  max-width: 100px !important;
}

.row-name {
  min-width: 250px !important;
}

.x-scroll-content {
  overflow-x: auto !important;
}
