<div *ngIf="event.meta.event && !event.meta.event.deleted"
     class="event-calendar-item"
     [ngStyle]="{'color' : fontColor}"
     [ngClass]="{'d-inline' : displayInline, 'bordered' : displayBorderBottom}">

  <div class="d-flex flex-row w-100">
    <div class="mr-auto"
         (click)="onShow()">
      <p>{{(event.start | date: propertyConstantClass.timeFormat) + (event.meta.event.finishTime ? ' - ' + (event.meta.event.finishTime | date: propertyConstantClass.timeFormat) : '')}}</p>
      <a>{{event.title}}</a>
    </div>
    <ngx-button class="ml-2"
                [icon]="iconEnumClass.EDIT"
                [click]="edit"></ngx-button>
  </div>
</div>
