<div fxLayout="row"
     fxLayoutAlign="center stretch">
  <div fxLayout="column"
       fxFlex="grow"
       fxFlex.md="80"
       fxFlex.gt-md="60"
       fxLayoutAlign="start stretch">
    <div *ngIf="canEdit"
         fxLayout
         fxLayoutAlign="end start">
      <button mat-icon-button
              (click)="onAdd()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ngx-virtual-scroll [getItems]="fetchItems"
                        [windowScroll]="true">
      <ng-template let-item>
        <div *ngIf="!item.deleted"
             class="mt-2">
          <app-news-item [canEdit]="canEdit"
                         [(data)]="item"></app-news-item>
        </div>
      </ng-template>
    </ngx-virtual-scroll>
  </div>
</div>
