<div *ngIf="trainingPartTabs && trainingGroupTabs && trainingPartTabs.length && trainingGroupTabs.length">
  <div class="d-flex mt-2">
    <div class="align-self-center font-weight-bold mr-3">
      {{'parts' | translate}}:
    </div>
    <ul class="nav nav-tabs">
      <li *ngFor="let item of trainingPartTabs"
          class="nav-item">
        <a class="nav-link text-uppercase"
           [routerLink]="item.routerLink"
           [queryParams]="item.queryParams"
           routerLinkActive="active">
          {{item.name ? (item.name) : (item.nameKey | translate)}}
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex mt-2">
    <div class="align-self-center font-weight-bold mr-3">
      {{'groups' | translate}}:
    </div>
    <ul class="nav nav-tabs">
      <li *ngFor="let item of trainingGroupTabs"
          class="nav-item">
        <a class="nav-link text-uppercase"
           [routerLink]="item.routerLink"
           [queryParams]="item.queryParams"
           routerLinkActive="active">
          {{item.name}}
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="personMeasures && this.tableColumns && personMeasures.length">
    <table class="table mt-2" [class.table-bordered]="totalTrainingPartId==trainingPartId">
      <thead>
      <tr>
        <th>{{'person' | translate}}</th>
        <th>{{'number' | translate}}</th>
        <th>{{'sportRole' | translate}}</th>
        <th *ngFor="let item of this.tableColumns">{{item}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of personMeasures">
        <td>
          {{item.trainingPerson.person.firstName}}
          {{item.trainingPerson.person.lastName}}
          {{item.trainingPerson.person?.patronymic}}
        </td>
        <td>{{item.trainingPerson.number}}</td>
        <td>{{item.trainingPerson.sportRole.shortName}}</td>
        <td *ngFor="let measure of item.measureValues">
          <input *ngIf="totalTrainingPartId!=trainingPartId;else total"
                 [type]="measure.exerciseExecMeasure.exerciseMeasure.measure.measureUnit.unitTypeEnum"
                 min="0"
                 class="form-control"
                 [(ngModel)]="measure.value"
                 (change)="onUpdateExerciseExecMeasureValue(item.trainingPerson,measure)">
          <ng-template #total>{{measure.value}}</ng-template>
        </td>
      </tr>
      </tbody>
    </table>

    <dx-button type="default"
               class="mt-2"
               (onClick)="onGetReport()"
               text="{{ 'report' | translate }}">
    </dx-button>
  </div>
</div>
