<div *ngIf="trainingPartTabs && trainingGroupTabs && trainingPartTabs.length && trainingGroupTabs.length">
  <ul class="nav nav-tabs mt-2">
    <li *ngFor="let item of trainingPartTabs"
        class="nav-item">
      <a class="nav-link text-uppercase"
         [routerLink]="item.routerLink"
         [queryParams]="item.queryParams"
         routerLinkActive="active">
        {{item.name ? (item.name) : (item.nameKey | translate)}}
      </a>
    </li>
  </ul>
  <ul class="nav nav-tabs mt-2">
    <li *ngFor="let item of trainingGroupTabs"
        class="nav-item">
      <a class="nav-link text-uppercase"
         [routerLink]="item.routerLink"
         [queryParams]="item.queryParams"
         routerLinkActive="active">
        {{item.name}}
      </a>
    </li>
  </ul>

  <div *ngIf="personMeasures && this.tableColumns && personMeasures.length">
    <table class="table mt-2" [class.table-bordered]="totalTrainingPartId==trainingPartId">
      <thead>
      <tr>
        <th>{{'person' | translate}}</th>
        <th>{{'number' | translate}}</th>
        <th>{{'sportRole' | translate}}</th>
        <th *ngFor="let item of this.tableColumns">{{item}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of personMeasures">
        <td>
          {{item.trainingPerson.person.firstName}}
          {{item.trainingPerson.person.lastName}}
          {{item.trainingPerson.person?.patronymic}}
        </td>
        <td>{{item.trainingPerson.number}}</td>
        <td>{{item.trainingPerson.sportRole.shortName}}</td>
        <td *ngFor="let measure of item.measureValues">
          <input *ngIf="totalTrainingPartId!=trainingPartId;else total"
                 [type]="measure.exerciseExecMeasure.exerciseMeasure.measure.measureUnit.unitTypeEnum"
                 min="0"
                 class="form-control"
                 [(ngModel)]="measure.value"
                 (change)="onUpdateExerciseExecMeasureValue(item.trainingPerson,measure)">
          <ng-template #total>{{measure.value}}</ng-template>
        </td>
      </tr>
      </tbody>
    </table>

    <dx-button type="default"
               class="mt-2"
               (onClick)="onGetReport()"
               text="{{ 'report' | translate }}">
    </dx-button>
  </div>
</div>
