<div *ngIf="activity"
     class="row cols-padding">
  <div class="col-8">
    <label>{{'name' | translate}}</label>
    <dx-text-box mode="text"
                 [(value)]="activity.name"
                 [showClearButton]="true">
    </dx-text-box>
    <ngx-button class="mt-2"
                nameKey="tags"
                [click]="onEditTags"></ngx-button>
    <div *ngIf="tags && tags.length"
         class="tags-content mt-2">
      <div *ngFor="let item of tags">
        {{item.name}}
      </div>
    </div>
    <label class="mt-2 w-100">{{'description' | translate }}</label>
    <dx-text-area [(value)]="activity.description"
                  [height]="250"></dx-text-area>

    <app-dictionary-type class="mt-2"
                         [(dictionaryType)]="activity.dictionaryType"></app-dictionary-type>
    <label class="mt-2">{{'videoUrl' | translate}}</label>
    <ngx-text-box [debounceTime]="propertyConstant.searchDebounceTime"
                  [(value)]="activity.videoUrl"
                  (valueChange)="onVideoUrlChanged($event)"></ngx-text-box>
    <ngx-button *ngIf="canEdit"
                class="mt-2"
                nameKey="save"
                [click]="onSave"></ngx-button>
  </div>

  <div class="col-4 d-flex flex-column">
    <ngx-carousel [canEdit]="canEdit"
                  [object]="activity"
                  [fileClass]="fileClass"></ngx-carousel>
    <iframe *ngIf="youTubeUrl"
            [src]="youTubeUrl | safeUrl"
            [height]="350"
            class="mt-2 w-100"
            frameborder="0"
            scrolling="no"
            allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
    <ngx-button class="mt-2"
                nameKey="loadParameters"
                [click]="onEditLoadParameters"></ngx-button>
    <div *ngIf="measures && measures.length"
         class="tags-content mt-2">
      <div *ngFor="let item of measures">{{item.measureParameter.name}} ({{item.measureUnit.shortName}})</div>
    </div>
  </div>
</div>
