<table class="table table-bordered table-hover table-sm mt-1">
  <thead>
  <tr class="d-flex">
    <th class="col-2">{{ 'rank' | translate }}</th>
    <th class="col-3">{{ 'assignee' | translate }}</th>
    <th class="col-1">{{ 'date' | translate }}</th>
    <th class="col-3">{{ 'orderNumber' | translate }}</th>
    <th class="col-2">{{ 'certificateNumber' | translate }}</th>
    <th class="col-1"></th>
  </tr>
  </thead>
  <tbody>
      <tr class="d-flex" *ngFor="let personRank of personRanks">
        <td class="col-sm-2">{{personRank.rank.name}}</td>
        <td class="col-sm-3">{{personRank.assignee}}</td>
        <td class="col-sm-1">{{personRank.date | date: 'dd.MM.yyyy'}}</td>
        <td class="col-sm-3">{{personRank.orderNumber}}</td>
        <td class="col-sm-2">{{personRank.certificateNumber}}</td>
        <td class="col-sm-1">
          <div class="text-center">
            <button class="btn btn-outline-primary btn-sm" (click)="editRank(personRank)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-warning btn-sm" (click)="removeRank(personRank)">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </td>
      </tr>
  </tbody>
</table>
