<div *ngIf="person"
     class="d-flex flex-row">
  <div class="d-flex flex-column">
    <app-image [type]="'LOGO'"
               [clazz]="'PERSON'"
               [id]="person.id"
               [dimension]="'W130xH130'"
               [format]="'CIRCLE'"></app-image>
  </div>
  <div class="d-flex flex-column ml-4">
    <div class="d-flex flex-row h-100">
      <div class="align-self-center full-name">
        <h4>{{person.lastName | uppercase}}</h4>
        <h4>{{person.firstName | uppercase}}</h4>
      </div>
    </div>
  </div>
</div>
<h3 class="mt-2">{{'news' | translate}}</h3>
<ngx-virtual-scroll [getItems]="fetchItems"
                    [windowScroll]="true">
  <ng-template let-item>
    <div *ngIf="!item.deleted"
         class="mb-2">
      <app-group-news-item [data]="item"></app-group-news-item>
    </div>
  </ng-template>
</ngx-virtual-scroll>
