<div fxLayout="column"
     fxLayoutGap="10px">
  <div *ngIf="person"
       class="header">
    <div fxLayout
         fxLayoutGap="10px">
      <ngx-image [object]="person"
                 [width]="130"
                 [height]="130"
                 [allowFullScreen]="false"
                 [type]="imageTypeClass.LOGO"
                 [fileClass]="fileClassClass.PERSON"></ngx-image>
      <div fxLayout="column"
           fxLayoutAlign="center start">
        <h4>{{person.lastName}}</h4>
        <h4>{{person.firstName}}</h4>
        <h4>{{person?.patronymic}}</h4>
      </div>
    </div>
  </div>

  <ngx-tabs [tabs]="tabs"
            [withoutRouting]="true"
            [(selectedTab)]="selectedTab"></ngx-tabs>

  <div fxLayout="row"
       fxLayoutAlign="center stretch">
    <div fxLayout="column"
         fxFlex="grow"
         fxFlex.md="80"
         fxFlex.gt-md="60"
         fxLayoutAlign="start stretch">
      <ngx-virtual-scroll [getItems]="fetchItems"
                          [windowScroll]="true">
        <ng-template let-item>
          <div class="mt-2">
            <app-group-news-item [data]="item"></app-group-news-item>
          </div>
        </ng-template>
      </ngx-virtual-scroll>
    </div>
  </div>
</div>
