:host {
  ::ng-deep {
    .ngx-virtual-scroll-content {
      max-width: 60% !important;
    }
  }
}

.header {
  background-color: #1c1f29;
  padding: 1rem !important;

  h4 {
    font-size: 28px !important;
    color: #FFFFFF;
  }

  p {
    color: #FFFFFF;
  }
}
