<div fxLayout="column"
     fxLayoutGap="10px">
  <ngx-grid *ngIf="persons.length"
            [fetchItems]="fetchItems">
    <ngx-column nameKey="firstName">
      <ng-template let-item>
        {{item.firstName}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="lastName">
      <ng-template let-item>
        {{item.lastName}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="patronymic">
      <ng-template let-item>
        {{item.patronymic}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="birthDate">
      <ng-template let-item>
        {{item.birthDate | date: propertyConstantClass.dateFormat}}
      </ng-template>
    </ngx-column>
  </ngx-grid>

  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="documentNumberNgxInput"></new-ngx-input>
    <ngx-date [data]="documentDateNgxDate"></ngx-date>
    <ngx-select *ngIf="groupTransitionType !== groupTransitionTypeClass.EXPEL && groupTransitionType !== groupTransitionTypeClass.EXPEL_FROM_SUBGROUP"
                [data]="subgroupPersonTypeNgxSelect"></ngx-select>
    <ngx-select *ngIf="groupTransitionType === groupTransitionTypeClass.TRANSFER"
                [data]="subgroupTemplateGroupNgxSelect"></ngx-select>
    <ngx-select *ngIf="groupTransitionType === groupTransitionTypeClass.TRANSFER || groupTransitionType === groupTransitionTypeClass.ENROLL_IN_SUBGROUP"
                [data]="subgroupGroupNgxSelect"></ngx-select>
  </div>
</div>
