<div *ngIf="subgroup"
     class="row mt-2 cols-padding">
  <div class="col-10">
    <dx-text-box [(value)]="subgroup.name">
      <dx-validator>
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
  </div>
  <div class="col-2">
    <div class="d-flex flex-row">
      <div *ngIf="defaultName!==subgroup.name">
        <ngx-button [type]="ngxButtonTypeClass.SUCCESS"
                    class="mr-2"
                    nameKey="save"
                    [click]="onSave"
                    [disabled]="subgroup.name.trim().length == 0"></ngx-button>
      </div>
      <div>
        <ngx-button [type]="ngxButtonTypeClass.DANGER"
                    nameKey="remove"
                    [click]="onRemove"></ngx-button>
      </div>
    </div>
  </div>
</div>
