@import "../../../styles/variables";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

a, p, h3, h4 {
  color: $light-blue;
}

a {
  text-decoration: none;
  &.nav-link {
    text-transform: uppercase;
  }
}

@media (max-width: max-width-sm()) {
  .full-name > h3 {
    font-size: 14px;
  }
}

.btn-group-toggle {
  z-index: 0;
  .btn-primary {
    color: $light-blue;
    border-color: $light-blue;
    background-color: $white;
    box-shadow: none;
    &:hover {
      background-color: #eee;
    }
    &.active {
      background-color: $light-blue;
      color: $white-light;
      outline: none;
      &:hover {
        background-color: $light-blue;
      }
    }
  }
}

