<div *ngIf="person">
  <!-- person info -->
  <div class="d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="img-fluid logo-xl-circle"
           [ngStyle]="{'background-image': 'url('+ logo +')'}">
      </div>
      <div class="logo-xl-circle-change" *ngIf="isEditAllow">
        <div class="logo-content">
          <input type="file"
                 (change)="onLogoChange($event)" accept="image/*">
          <p>{{'persons.person.uploadAvatar' | translate | uppercase}}</p>
          <i class="fa fa-pencil-square-o"></i>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-4">
      <div class="d-flex flex-row h-100">
        <div class="align-self-center full-name">
          <h4>{{person.firstName | uppercase}}</h4>
          <h4>{{person.lastName | uppercase}}</h4>
          <h4>{{person.patronymic | uppercase}}</h4>
          <br>
          <p>{{'persons.person.rating' | translate | uppercase}}: 100</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-4">
      <app-group *ngIf="baseGroup"
                 [data]="baseGroup.group"
                 logoSizeClass="logo-xl"></app-group>
    </div>
  </div>

  <!-- roles -->
  <div class="d-flex flex-row mt-2">
    <div class="align-self-center">
      <p>{{'persons.person.roles.section' | translate | uppercase}}</p>
    </div>
    <div class="ml-2 align-self-center">
      <div class="btn-group btn-group-toggle"
           ngbRadioGroup
           name="radioBasic"
           [(ngModel)]="roleToggle"
           (change)="onUserRoleChange()">
        <label ngbButtonLabel
               class="btn-primary input-height-sm"
               *ngFor="let role of userRoles">
          <input ngbButton
                 type="radio"
                 [value]="role">{{role.userRoleEnum}}
        </label>
      </div>
    </div>
    <div *ngIf="isEditAllow"
         class="ml-2 align-self-center">
      <button class="btn btn-default input-height-sm"
              (click)="editUserRoles()">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </div>
  </div>

  <!-- sport types -->
  <div class="d-flex flex-row my-2">
    <div class="align-self-center">
      <p>{{'persons.person.sportTypes.section' | translate | uppercase}}</p>
    </div>
    <div class="ml-2 align-self-center ">
      <div class="btn-group btn-group-toggle"
           ngbRadioGroup
           name="radioBasic"
           [(ngModel)]="sportTypeToggle"
           (change)="onSportTypeChange()">
        <label ngbButtonLabel
               class="btn-primary input-height-sm"
               *ngFor="let sportType of personSportTypes">
          <input ngbButton
                 type="radio"
                 [value]="sportType">{{sportType.sportTypeEnum}}
        </label>
      </div>
    </div>
    <div *ngIf="isEditAllow"
         class="ml-2 align-self-center">
      <button class="btn btn-default input-height-sm"
              (click)="editSportTypes()">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </div>
  </div>

  <!-- tabs -->
  <app-tab [tabs]="tabs"
           [visible]="isTabVisible"></app-tab>
</div>
