<div *ngIf="personViewModel">
  <!-- person info -->
  <div class="d-flex flex-row mb-2">
    <div class="d-flex flex-column">
      <app-image #logo
                 [type]="'LOGO'"
                 [clazz]="'PERSON'"
                 [id]="personViewModel.data.id"
                 [dimension]="'W130xH130'"
                 [format]="'CIRCLE'"></app-image>
      <div *ngIf="allowEdit"
           class="logo-xl-circle-change">
        <div class="logo-content">
          <input type="file"
                 (change)="onLogoChanged($event.target.files)"
                 accept="image/*">
          <p>{{'uploadAvatar' | translate | uppercase}}</p>
          <i class="fa fa-pencil-square-o"></i>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-4">
      <div class="d-flex flex-row h-100">
        <div class="align-self-center full-name">
          <h4>{{personViewModel.data?.firstName | uppercase}}</h4>
          <h4>{{personViewModel.data?.lastName | uppercase}}</h4>
          <h4>{{personViewModel.data?.patronymic | uppercase}}</h4>
          <br>
          <p *ngIf="personService.selectedPublicUserRole">{{'stage' | translate}}:
            {{personService.selectedPublicUserRole?.groupPerson?.group?.stage.name}}</p>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-4">
      <app-group *ngIf="personService.baseGroup"
                 [data]="personService.baseGroup.group"
                 [dimension]="'W130xH130'"></app-group>
    </div>
  </div>
  <ngx-split-button [items]="splitButtonItems">
  </ngx-split-button>
  <!-- roles -->

  <div class="d-flex flex-row mt-2">
    <div class="align-self-center">
      <p>{{'persons.person.roles.section' | translate | uppercase}}</p>
    </div>
    <div class="ml-2 align-self-center">
      <ngx-button-group [items]="userRoleButtonGroupItems"
                        [selectedItem]="selectedUserRoleButtonGroupItem">
      </ngx-button-group>
    </div>
    <div *ngIf="allowEdit"
         class="ml-2 align-self-center">
      <button class="btn btn-default input-height-sm"
              (click)="onEditUserRoles()">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </div>
  </div>

  <!-- sport types -->
  <div class="d-flex flex-row my-2">
    <div class="align-self-center">
      <p>{{'persons.person.sportTypes.section' | translate | uppercase}}</p>
    </div>
    <div class="ml-2 align-self-center">
      <ngx-button-group [items]="sportTypeButtonGroupItems"
                        [selectedItem]="selectedSportTypeButtonGroupItem">
      </ngx-button-group>
    </div>
    <div *ngIf="allowEdit"
         class="ml-2 align-self-center">
      <button class="btn btn-default input-height-sm"
              (click)="onEditSportTypes()">
        <i class="fa fa-pencil-square-o"></i>
      </button>
    </div>
  </div>

  <!-- tabs -->
  <app-tab [tabs]="tabs"
           [visible]="tabVisible"></app-tab>
</div>
