$margin-size: 10px;
$padding-size: 10px;

mat-card {
  padding: $padding-size;
  margin: calc(#{$margin-size} / 2);
  overflow: auto;
  height: calc(100% - #{$margin-size});
  width: calc(100% - #{$margin-size});
}
