<!--<div class="row cols-padding">-->
  <!--<div class="col">-->
    <!--<ngx-text-box placeholderKey="search"-->
                  <!--[debounceTime]="propertyConstantClass.searchDebounceTime"-->
                  <!--(valueChange)="onSearchTextChanged($event)"></ngx-text-box>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<dx-date-box class="w-100"-->
                 <!--type="date"-->
                 <!--placeholder="{{'yearBirth' | translate}}"-->
                 <!--[showClearButton]="true"-->
                 <!--displayFormat="year"-->
                 <!--maxZoomLevel="decade"-->
                 <!--minZoomLevel="century"-->
                 <!--(onValueChanged)="onYearBirthChanged($event.value)">-->
    <!--</dx-date-box>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<dx-select-box [items]="sexEnums"-->
                   <!--displayExpr="name"-->
                   <!--[acceptCustomValue]="true"-->
                   <!--[showClearButton]="true"-->
                   <!--placeholder="{{'sex' | translate}}"-->
                   <!--(onSelectionChanged)="onSexChanged($event.selectedItem)">-->
    <!--</dx-select-box>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<dx-select-box [items]="userRoles"-->
                   <!--displayExpr="name"-->
                   <!--[acceptCustomValue]="true"-->
                   <!--[showClearButton]="true"-->
                   <!--(onSelectionChanged)="onUserRoleChanged($event.selectedItem)"-->
                   <!--placeholder="{{'userRole' | translate}}">-->
    <!--</dx-select-box>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<app-input-select [loadData]="loadGroups"-->
                      <!--[pageSize]="propertyConstantClass.pageSize"-->
                      <!--[getKey]="getKey"-->
                      <!--[getName]="getName"-->
                      <!--placeholder="{{'group' | translate}}"-->
                      <!--ngDefaultControl-->
                      <!--(onChange)="onGroupChanged($event.current)">-->
    <!--</app-input-select>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<app-input-select [loadData]="loadSportTypes"-->
                      <!--[pageSize]="propertyConstantClass.pageSize"-->
                      <!--[getKey]="getKey"-->
                      <!--[getName]="getName"-->
                      <!--placeholder="{{'sportType' | translate}}"-->
                      <!--ngDefaultControl-->
                      <!--(onChange)="onSportTypeChanged($event.current)">-->
    <!--</app-input-select>-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--<app-input-select [loadData]="loadCities"-->
                      <!--[pageSize]="propertyConstantClass.pageSize"-->
                      <!--[getKey]="getKey"-->
                      <!--[getName]="getName"-->
                      <!--placeholder="{{'city' | translate}}"-->
                      <!--ngDefaultControl-->
                      <!--(onChange)="onCityChanged($event.current)">-->
    <!--</app-input-select>-->
  <!--</div>-->
<!--</div>-->

<ngx-virtual-scroll class="mt-2 d-flex flex-wrap"
                    [getItems]="fetchItems"
                    [query]="personQuery"
                    [windowScroll]="true">
  <ng-template let-item>
    <div class="mr-2 mb-2"
         (click)="onClickByItem(item)">
      <app-person-item class="list-item"
                       [visibleSendMessage]="true"
                       [visibleEditConnection]="true"
                       [data]="item"
                       [width]="250"></app-person-item>
    </div>
  </ng-template>
</ngx-virtual-scroll>
