<ngx-virtual-scroll class="mt-2 d-flex flex-wrap"
                    [getItems]="fetchItems"
                    [query]="personQuery"
                    [windowScroll]="true">
  <ng-template let-item>
    <div class="mr-3 mb-3"
         (click)="onClickByItem(item)">
      <app-person-item class="list-item"
                       [visibleSendMessage]="true"
                       [visibleEditConnection]="true"
                       [data]="item"
                       [width]="250"></app-person-item>
    </div>
  </ng-template>
</ngx-virtual-scroll>
