<div fxLayout="column"
     fxLayoutGap="10px">
  <ngx-select [data]="groupContractTypeNgxSelect"></ngx-select>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="numberNgxInput"></new-ngx-input>
    <ngx-date [data]="validSinceNgxDate"></ngx-date>
    <ngx-date [data]="validUntilNgxDate"></ngx-date>
  </div>
  <label>{{'recipientData' | translate}}</label>
  <mat-divider></mat-divider>
  <div fxLayout="column">
    <new-ngx-input [data]="workPlaceNgxInput"></new-ngx-input>
    <new-ngx-input [data]="courseNgxInput"></new-ngx-input>
    <mat-checkbox [(ngModel)]="getGroupContractService(data).paidService">{{'groupContractService.paidService' | translate}}</mat-checkbox>
    <new-ngx-input [data]="sectionNgxInput"></new-ngx-input>
    <new-ngx-input [data]="headNgxInput"></new-ngx-input>
    <new-ngx-input *ngIf="getGroupContractService(data).paidService"
                   [data]="pricePerMonthNgxInput"></new-ngx-input>
    <new-ngx-input [data]="classesPerMonthNgxInput"></new-ngx-input>
    <new-ngx-input [data]="classesPerWeekNgxInput"></new-ngx-input>
    <new-ngx-input [data]="classDurationNgxInput"></new-ngx-input>
    <new-ngx-input [data]="childPersonalAccountNgxInput"></new-ngx-input>
  </div>

  <label>{{'customerData' | translate}}</label>
  <mat-divider></mat-divider>
  <new-ngx-input [data]="registrationAddressNgxInput"></new-ngx-input>
</div>
