<div fxLayout="column"
     fxLayoutGap="10px">
  <ngx-select [data]="groupContractTypeNgxSelect"></ngx-select>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="numberNgxInput"></new-ngx-input>
    <ngx-date [data]="validSinceNgxDate"></ngx-date>
    <ngx-date [data]="validUntilNgxDate"></ngx-date>
  </div>
  <label>{{'recipientData' | translate}}</label>
  <mat-divider></mat-divider>
  <div fxLayout="column">
    <ng-container *ngIf="data.discriminator === groupContractTypeClass.SERVICE">
      <new-ngx-input [data]="workplaceNgxInput"></new-ngx-input>
      <new-ngx-input [data]="courseNgxInput"></new-ngx-input>
      <mat-checkbox
        [(ngModel)]="getGroupContractService(data).paidService">{{'groupContractService.paidService' | translate}}</mat-checkbox>
      <new-ngx-input [data]="sectionNgxInput"></new-ngx-input>
      <div>
        <label>{{'groupContractService.section' | translate}}</label>
        <div fxLayout="row"
             fxLayoutGap="10px">
          <div fxFlex="grow">{{data?.subgroupGroup?.subgroupVersion?.name}}</div>
          <div>
            <button mat-icon-button
                    (click)="onEditSubgroupGroup()">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <new-ngx-input *ngIf="getGroupContractService(data).paidService"
                     [data]="pricePerMonthNgxInput"></new-ngx-input>
      <new-ngx-input [data]="classesPerMonthNgxInput"></new-ngx-input>
      <new-ngx-input [data]="classesPerWeekNgxInput"></new-ngx-input>
      <new-ngx-input [data]="classDurationNgxInput"></new-ngx-input>
    </ng-container>
    <ng-container *ngIf="data.discriminator === groupContractTypeClass.JOB">
      <ngx-select [data]="tariffRateNgxSelect"></ngx-select>
      <new-ngx-input [data]="dailyRateNgxInput"></new-ngx-input>
    </ng-container>

    <new-ngx-input [data]="personalAccountNgxInput"></new-ngx-input>
  </div>
  <ng-container *ngIf="data.discriminator === groupContractTypeClass.SERVICE">
    <label>{{'customerData' | translate}}</label>
    <mat-divider></mat-divider>
    <new-ngx-input [data]="registrationAddressNgxInput"></new-ngx-input>
  </ng-container>
</div>
