<aside class="sidebar">
  <section>
    <ul class="sidebar-menu">
      <li class="menu-item active open-sub-menu" appMenuItem>
        <a href="#" (click)="dashboard=!dashboard">
          <i class="fa fa-home"></i> <span>Dashboard</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="#">
              <i class="fa fa-circle-o"></i> Dashboard v1
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-circle-o"></i> Dashboard v2
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item" appMenuItem>
        <a href="#">
          <i class="fa fa-inbox"></i> <span>Mailbox</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
