<aside class="sidebar-wrapper">
  <div class="toggle-wrapper">
    <a appToggle
       class="toggle">
    </a>
  </div>
  <ul class="sidebar-menu">
    <li class="menu-item"
        routerLink="notifications"
        routerLinkActive="active">
      <a>
        <i class="lnr lnr-alarm"></i>
        <span>{{'notifications.section' | translate | uppercase}}</span>
      </a>
    </li>
    <li class="menu-item"
        routerLink="messages"
        routerLinkActive="active">
      <a>
        <i class="lnr lnr-envelope"></i>
        <span>{{'messages.section' | translate | uppercase}}</span>
      </a>
    </li>
    <li class="menu-item"
        routerLink="person"
        routerLinkActive="active">
      <a>
        <i class="lnr lnr-users"></i>
        <span>{{'persons.section' | translate | uppercase}}</span>
      </a>
    </li>
    <li class="menu-item"
        routerLink="groups"
        routerLinkActive="active">
      <a routerLink="groups">
        <i class="lnr lnr-mustache"></i>
        <span>{{'groups.section' | translate | uppercase}}</span>
      </a>
    </li>
    <li class="menu-item"
        routerLink="scheduler"
        routerLinkActive="active">
      <a routerLink="scheduler">
        <i class="lnr lnr-calendar-full"></i>
        <span>{{'scheduler.section' | translate | uppercase}}</span>
      </a>
    </li>
  </ul>
</aside>
