<app-item-list [canEdit]="canEdit"
               [query]="query"
               [translationTitle]="translationTitle"
               [compare]="compare"
               [addItem]="addItem"
               [fetchItems]="fetchItems">
  <ng-template #itemTemplate
               let-item
               let-canEditItem="canEdit">
    <div (click)="clickItem.emit(item)">
      <app-parameter-item [(data)]="item"
                          [canEdit]="canEditItem"></app-parameter-item>
    </div>
  </ng-template>
</app-item-list>
