<div fxLayout
     fxLayoutGap="10px"
     fxLayoutAlign="start center">
  <new-ngx-input [data]="searchNgxInput"></new-ngx-input>
  <button *ngIf="canEdit"
          mat-icon-button
          (click)="onAddItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ngx-virtual-scroll class="mt-2 d-flex flex-wrap"
                    [getItems]="fetchItems"
                    [query]="query"
                    [windowScroll]="true">
  <ng-template let-item>
    <div *ngIf="!item.deleted"
         class="mr-3 mb-3"
         (click)="onClickItem(item)">
      <app-parameter-item [(data)]="item"
                          [canEdit]="canEdit"></app-parameter-item>
    </div>
  </ng-template>
</ngx-virtual-scroll>
