$font-weight: normal;

:host {
  height: 42px;

  nav {
    height: inherit;

    a {
      text-decoration: none;
    }

    ::ng-deep .mat-tab-links {
      height: inherit !important;

      .mat-tab-link {
        font-weight: $font-weight;
        height: inherit;
        min-width: auto;
        padding: 0 12px;
      }

      ::ng-deep .mat-ink-bar {
        height: 2px !important;
        bottom: 2px !important;
      }
    }

    button {
      font-weight: $font-weight;

      mat-icon {
        color: rgba(0, 0, 0, .54);
      }
    }
  }

  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
