<button class="btn btn-{{type.toString().toLowerCase()}} input-height-sm text-truncate {{classes}}"
        [style.max-width.px]="widthBeforeBusy"
        [disabled]="isDisabled()"
        (click)="onClick($event); $event.stopPropagation()"
        (keyup.enter)="onKeyUp($event)">
  <i *ngIf="icon && !busyDisplay"
     [class]="icon"></i>
  <span *ngIf="!busyDisplay; else elseTemplate">
    {{nameKey | translate}}</span>
  <ng-template #elseTemplate>
    <span class="is-busy"><span *ngIf="widthBeforeBusy > 55">{{'pleaseWait' | translate}}</span></span>
  </ng-template>
</button>
