@import "../layout.component";
@import "~bootstrap/scss/_variables";

$sidebar-item-menu-height: $sidebar-width-mini;
$sidebar-item-menu-background: lighten($sidebar-background, 5%);
$sidebar-item-menu-background-hover: darken($sidebar-background, 2%);
$sidebar-item-menu-color: lighten($sidebar-background, 60%);
$sidebar-item-menu-color-hover: $white;
$sidebar-item-submenu-color: lighten($sidebar-item-menu-background, 40%);
$sidebar-item-submenu-color-hover: $white;
$sidebar-item-submenu-transition: .2s;

.sidebar-wrapper {

  height: 100%;
  width: $sidebar-width;
  transition: width $sidebar-mini-transition ease-in;
  background-color: $sidebar-background;

  display: flex;
  flex-direction: column;

  .inner-content {

    width: inherit;
    position: fixed;

    > .toggle-wrapper {
      display: flex;
      justify-content: flex-end;

      > .toggle {
        margin: 0;
        cursor: pointer;
        text-align: center;

        @media (max-width: max-width-sm()) {
          display: none;
        }

        width: $sidebar-item-menu-height;
        height: $sidebar-item-menu-height;
        line-height: $sidebar-width-mini;

        background: transparent none;
        font-family: FontAwesome, serif;
        &:before {
          content: '\f0c9';
        }
        color: $sidebar-item-submenu-color;
        text-decoration: none;
        &:hover {
          color: $sidebar-item-submenu-color-hover;
          background-color: lighten($sidebar-background, 2%);
        }
      }
    }

    > .sidebar-menu {
      width: 100%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;

      > li.menu-item {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        border-left: 3px solid transparent;

        &.disabled-item {
          background-color: #5d5d5d;
        }

        > a {
          display: flex;
          flex-direction: row;
          overflow: hidden;
          color: $sidebar-item-menu-color;
          padding: 10px 5px 10px 15px;
          text-decoration: none;

          > span {
            padding-left: 5px;
          }

          .fa {
            display: inline-block;
            font: normal normal normal 20px/1.5 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
          }

          //> .pull-right-container > i.lnr-chevron-left {
          //  font-size: 8px;
          //  padding: 0;
          //  transition: transform $sidebar-item-submenu-transition ease;
          //}
        }
        &.active {
          border-left-color: $light-blue;
          background-color: $sidebar-item-menu-background-hover;
        }
        &.active > a,
        &:hover > a {
          color: $sidebar-item-submenu-color-hover;
        }
      }
    }

    .version {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 1030;
      font-size: 9px;
      padding: 5px 0 5px 5px;
    }

  }

  @mixin collapseSideBar() {
    width: $sidebar-width-mini !important;
    transition: width $sidebar-mini-transition ease-out;
    .inner-content {
      white-space: nowrap;
      overflow: hidden;
      li.menu-item {
        > a > span {
          visibility: hidden;
        }
      }
    }
  }

  &.collapsed {
    @include collapseSideBar();
  }

  @media (max-width: max-width-sm()) {
    @include collapseSideBar();
  }

}
