<div class="d-flex justify-content-center h-100">
  <div class="d-flex align-items-center">
    <div class="d-flex flex-column m-2">
      <h1 class="text-center">{{passwordSetHeader | translate | uppercase}}</h1>

      <div *ngIf="!isChangePassword && setEmail;else content">
        <div *ngIf="!isSuccessPasswordRecoveryRequest;else isSuccessPasswordRecoveryRequestContent">
          <dx-text-box placeholder="{{'enterEmail' | translate}}"
                       mode="email"
                       [(value)]="email"
                       [showClearButton]="true">
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxi-validation-rule type="email"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <ng-template #isSuccessPasswordRecoveryRequestContent>
          <p class="text-center">{{'password.passwordResetLinkSentToEmail' | translate}}</p>
        </ng-template>
      </div>

      <ng-template #content>
        <div *ngIf="!isSuccessPasswordChangeRequest;else isSuccessPasswordChangeRequestContent">
          <dx-text-box mode="password"
                       placeholder="{{'registration.createPassword' | translate}}"
                       [(value)]="password"
                       [showClearButton]="true">
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
          <dx-text-box class="mt-2"
                       mode="password"
                       placeholder="{{'registration.retypePassword' | translate}}"
                       [(value)]="repeatPassword"
                       [showClearButton]="true">
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
              <dxi-validation-rule type="compare"
                                   [comparisonTarget]="passwordComparison"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <ng-template #isSuccessPasswordChangeRequestContent>
          <p class="text-center">{{passwordSetBtn | translate}}</p>
        </ng-template>
      </ng-template>

      <dx-button *ngIf="isVisibleApplyButton"
                 class="mt-2 w-100"
                 text="{{'apply' | translate | uppercase}}"
                 (onClick)="onApply($event)">
      </dx-button>
    </div>
  </div>
</div>
