<div class="m-2 form">
  <h3 class="text-center text-white text-uppercase">{{passwordSetHeader | translate}}</h3>
  <img src="/assets/img/athlete-readiness-logo.png">
  <ngx-form *ngIf="!isChangePassword && setEmail; else content">
    <div *ngIf="!isSuccessPasswordRecoveryRequest; else isSuccessPasswordRecoveryRequestContent">
      <ngx-input [type]="ngxInputTypeClass.EMAIL"
                 [(value)]="email"
                 [checkValidation]="onEmailValidation"
                 placeholderKey="enterEmail"></ngx-input>
    </div>
    <ng-template #isSuccessPasswordRecoveryRequestContent>
      <p class="text-center text-white">{{'password.passwordResetLinkSentToEmail' | translate}}</p>
    </ng-template>
  </ngx-form>

  <ng-template #content>
    <ngx-form *ngIf="!isSuccessPasswordChangeRequest; else isSuccessPasswordChangeRequestContent">
      <ngx-input [type]="ngxInputTypeClass.PASSWORD"
                 [(value)]="password"
                 [checkValidation]="onPasswordValidation"
                 placeholderKey="registration.createPassword"></ngx-input>
      <ngx-input class="mt-2"
                 [type]="ngxInputTypeClass.PASSWORD"
                 [(value)]="repeatPassword"
                 [checkValidation]="onCompareValidation"
                 placeholderKey="registration.createPassword"></ngx-input>
    </ngx-form>
    <ng-template #isSuccessPasswordChangeRequestContent>
      <p class="text-center text-white">{{passwordSetBtn | translate}}</p>
    </ng-template>
  </ng-template>
  <ngx-button *ngIf="isVisibleApplyButton"
              class="mt-2 w-100"
              nameKey="apply"
              [click]="onApply"></ngx-button>
  <div class="m-2 text-center">
    <u><a routerLink="/sign-in">{{'signIn' | translate}}</a></u>
  </div>
</div>
