<div class="d-flex flex-row align-items-center">
  <div class="mr-auto">
    <h1 class="m-0 text-light-blue">{{eventPlan?.name}}</h1>
    <h6 class="m-0 color-black">{{eventPlan?.template ? ('template' | translate) + ": " + eventPlan.template : ''}}</h6>
  </div>
  <div>
    <h6 class="m-0 color-black">
       <span *ngIf="eventPlan.startTime">
       {{'startDate' | translate}}: <span class="text-light-blue">{{eventPlan.startTime | date: propertyConstantClass.dateTimeFormat}}</span>
      </span>
      <span *ngIf="eventPlan.finishTime">
       {{'finishDate' | translate}}: <span class="text-light-blue">{{eventPlan.finishTime | date: propertyConstantClass.dateTimeFormat}}</span>
      </span>
    </h6>
    <h6 class="m-0 color-black">{{'duration' | translate}}:
      <span *ngIf="eventPlan.daysAmount">
        <span class="text-light-blue">{{eventPlan.daysAmount}}</span> {{'days' | translate}}
      </span>
      <span *ngIf="eventPlan.weeksAmount">
        <span class="text-light-blue">{{eventPlan.weeksAmount}}</span> {{'weeks' | translate}}
      </span>
      <span *ngIf="eventPlan.monthsAmount">
        <span class="text-light-blue">{{eventPlan.monthsAmount}}</span> {{'months' | translate}}
      </span>
      <span *ngIf="eventPlan.yearsAmount">
        <span class="text-light-blue">{{eventPlan.yearsAmount}}</span> {{'years' | translate}}
      </span>
    </h6>
  </div>
</div>
<ngx-tab class="mt-2"
         [tabs]="tabs"
         (tabChange)="onTabChange($event)"></ngx-tab>
