<div fxLayout="column"
     fxLayoutGap="10px">
  <div *ngIf="person"
       class="header">
    <div fxLayout
         fxLayoutGap="10px">
      <ngx-image [canEdit]="true"
                 [object]="person"
                 [width]="130"
                 [height]="130"
                 [allowFullScreen]="false"
                 [cropImage]="true"
                 [type]="imageTypeClass.LOGO"
                 [fileClass]="fileClassClass.PERSON"
                 (imageChange)="onLogoChanged()"></ngx-image>
      <div fxLayout="column"
           fxLayoutAlign="center start">
        <h4>{{person.lastName}}</h4>
        <h4>{{person.firstName}}</h4>
        <h4>{{person?.patronymic}}</h4>
      </div>
    </div>
  </div>

  <ngx-tabs [tabs]="tabs"></ngx-tabs>
</div>
