<div *ngIf="contactNgxInputs.length"
     fxFlex.lt-sm
     fxFlex.gt-sm="30"
     class="content">
  <div *ngFor="let item of contactNgxInputs"
       fxLayout
       fxLayoutGap="10px"
       fxLayoutAlign="start center">
    <new-ngx-input [data]="item.ngxInput"></new-ngx-input>
    <ngx-button *ngIf="!enabled && item.contact.discriminator === contactTypeClass.EMAIL"
                nameKey="activate"
                [click]="onPersonActivation"></ngx-button>
  </div>
  <ngx-button *ngIf="canEdit"
              nameKey="save"
              [click]="onSave"></ngx-button>
</div>
