<div class="row cols-padding">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="lastName">{{'persons.person.personal.lastName' | translate}}</label>
      <dx-text-box id="lastName"
                   [(value)]="person.lastName"
                   [readOnly]="!allowEdit">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="firstName">{{'persons.person.personal.firstName' | translate}}</label>
      <dx-text-box id="firstName"
                   [(value)]="person.firstName"
                   [readOnly]="!allowEdit">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="middleName">{{'persons.person.personal.middleName' | translate}}</label>
      <dx-text-box id="middleName"
                   [(value)]="person.patronymic"
                   [showClearButton]="true"
                   [readOnly]="!allowEdit">
      </dx-text-box>
    </div>
  </div>
</div>
<div class="row cols-padding">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="birthDate">{{'persons.person.personal.birthDate' | translate}}</label>
      <dx-date-box id="birthDate"
                   [(value)]="person.birthDate"
                   type="date"
                   class="w-100"
                   [readOnly]="!allowEdit">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-date-box>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label for="sex">{{'persons.person.personal.sex' | translate}}</label>
      <dx-select-box id="sex"
                     [items]="sexValues"
                     [(value)]="selectedSex"
                     displayExpr="name"
                     placeholder="{{'persons.person.personal.sex' | translate}}"
                     [readOnly]="!allowEdit">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-select-box>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <div class="form-group">
      <label>{{'baseUserRole' | translate}}</label>
      <dx-select-box [items]="personService.userRoles"
                     [(value)]="baseUserRole"
                     displayExpr="name"
                     acceptCustomValue="true"
                     showClearButton="true"
                     [readOnly]="!allowEdit">
      </dx-select-box>
    </div>
  </div>
</div>
<div *ngIf="person.address"
     class="row cols-padding">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <label for="country">{{'persons.person.personal.country' | translate}}</label>
    <app-input-select id="country"
                      [loadData]="loadCountries"
                      [(model)]="person.address.country"
                      [pageSize]="pageSize"
                      [disabled]="!allowEdit"
                      (onChange)="onCountryChange($event)"
                      [getKey]="getKey"
                      [getName]="getName"
                      placeholder="Select a country"
                      ngDefaultControl>
    </app-input-select>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <label for="region">{{'persons.person.personal.region' | translate}}</label>
    <app-input-select id="region"
                      [loadData]="loadRegions"
                      [(model)]="person.address.region"
                      [pageSize]="pageSize"
                      [disabled]="!allowEdit || !person.address.country"
                      (onChange)="onRegionChange($event)"
                      [getKey]="getKey"
                      [getName]="getName"
                      placeholder="Select a region"
                      ngDefaultControl>
    </app-input-select>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
    <label for="city">{{'persons.person.personal.city' | translate}}</label>
    <app-input-select id="city"
                      [loadData]="loadCities"
                      [(model)]="person.address.city"
                      [pageSize]="pageSize"
                      [disabled]="!allowEdit || !person.address.region"
                      [getKey]="getKey"
                      [getName]="getName"
                      placeholder="Select a city"
                      ngDefaultControl>
    </app-input-select>
  </div>
</div>
<button *ngIf="allowEdit"
        type="button"
        class="btn btn-outline-success mt-2"
        (click)="onSave()">{{'persons.person.save' | translate}}
</button>
