<app-person-item *ngIf="data"
                 [data]="data.person"
                 [width]="250">
  <div *ngIf="firstGroupPersonPosition"
       fxLayout="column">
    <div fxLayout
         fxLayoutAlign="space-between center"
         fxLayoutGap="10px">
      <p class="position-item">{{firstGroupPersonPosition.position.name}}</p>
      <button *ngIf="groupPersonPositionsWithoutFirst.length"
              mat-icon-button
              (click)="toggleGroupPersonPositions()">
        <mat-icon>{{visibleGroupPersonPositions ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </button>
    </div>
    <div *ngIf="visibleGroupPersonPositions"
         (click)="toggleGroupPersonPositions()">
      <p *ngFor="let item of groupPersonPositionsWithoutFirst"
         class="position-item">{{item.position.name}}</p>
    </div>
  </div>
</app-person-item>
