<app-person-item *ngIf="data"
                 [data]="data.person"
                 [width]="250">
  <div fxLayout="column">
    <div fxLayout
         fxLayoutAlign="space-between center"
         fxLayoutGap="10px">
      <p>{{'personPositions' | translate}}</p>
      <button mat-icon-button
              (click)="toggleGroupPersonPositions()">
        <mat-icon>{{visibleGroupPersonPositions ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
      </button>
    </div>
    <div *ngIf="visibleGroupPersonPositions"
         (click)="toggleGroupPersonPositions()">
      <p *ngFor="let item of groupPersonPositions"
         [style.width.px]="250">
        {{item.position.name}}
      </p>
    </div>
  </div>
</app-person-item>
