<div class="wrapper" tabindex="-1">
  <div class="search">
    <div class="btn-wrapper">
      <div *ngIf="showClearButton && model"
           class="times-wrapper"
           (click)="clearModel()">
        <span class="fa fa-times-circle"></span>
      </div>
      <div class="caret-wrapper" (click)="showList()" [ngClass]="{'focused' : active }">
        <span class="fa fa-caret-down"></span>
      </div>
    </div>
    <input #searchBar
           id="searchBar"
           class="form-control input-height-sm"
           [(ngModel)]="value"
           (focus)="showList()"
           (keyup)="searchData($event)"
           [disabled]="disabled"
           [ngClass]="{'empty' : !active && model == null}">
  </div>
  <app-scroll class="menu" [fetchMore]="fetchMore" *ngIf="active">
    <li class="input-font"
        *ngFor="let item of data"
        (click)="select(item)"
        [ngClass]="{'active' : model && getKey(item) === getKey(model)}">
      {{getName(item)}}
    </li>
  </app-scroll>
</div>
