<div class="wrapper" tabindex="-1">
  <div class="search">
    <span class="fa fa-caret-down"></span>
    <input #searchBar
           id="searchBar"
           class="form-control"
           [(ngModel)]="value"
           (focus)="showList()"
           (keyup)="searchData($event)"
           [disabled]="disabled"
           [ngClass]="{'empty' : !active && model == null}">
  </div>
  <app-scroll class="menu" [fetchMore]="fetchMore" *ngIf="active">
    <li class="input-font default" [ngClass]="{'active' : model && model === empty}" (click)="select(empty)">{{placeholder}}</li>
    <li class="input-font"
        *ngFor="let item of data"
        (click)="select(item)"
        [ngClass]="{'active' : model && getKey(item) === getKey(model)}">
      {{getName(item)}}
    </li>
  </app-scroll>
</div>
