@import "../../styles/variables";

$color: #333;
$color-active: #eee;
$color-hover: #111;
$color-empty: #989896;
$background-color-active: $light-blue;
$background-color-hover: #e6e6e6;

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .search {
    > input {
      z-index: 2;
      &:focus {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      &.empty {
        color: $color-empty;
      }
    }
    .btn-wrapper {
      $btn-width: 30px;

      position: absolute;
      height: auto;
      right: 0;
      top: 1px;
      bottom: 1px;
      display: flex;

      .times-wrapper {
        position: absolute;
        width: $btn-width;
        height: 100%;
        right: $btn-width;

        text-align: center;
        line-height: $btn-width;

        cursor: pointer;

        &:hover {
          .fa {
            color: #888;
          }
        }

        .fa {
          color: #999;
          font-size: 18px;
        }

      }

      .caret-wrapper {
        position: absolute;
        width: $btn-width - 1px;
        height: 100%;
        right: 1px;

        border-top-right-radius: 3px;

        text-align: center;
        line-height: $btn-width;

        cursor: pointer;

        &:hover, &.focused {
          background-color: #e1e1e1;
          .fa {
            color: #222;
          }
        }

        .fa {
          font-size: 14px;
          color: #444;
        }

      }

    }
  }

  .menu {
    position: absolute;
    width: 100%;
    top: 38px; /* bootstrap input height */
    z-index: 999;
    list-style-type: none;
    border: 1px solid #ddd;
    border-top: 0;
    max-height: 300px;
    overflow-y: auto;
    display: block;
    background-color: #fff;

    li {
      padding: 3px;
      &:not(:first-child):not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      color: $color;
      cursor: pointer;

      &:hover {
        color: $color-hover;
        background-color: $background-color-hover;
      }

      &.active {
        color: $color-active;
        background-color: $light-blue;
      }

      &.default {
        color: $color-empty;
        &.active {
          color: $color-active;
        }
        &:hover {
          color: $color-hover;
          background-color: $background-color-hover;
        }
      }
    }
  }

}
