@import "../../../styles/variables";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

a, p, h3, h4 {
  color: $light-blue;
}

a {
  text-decoration: none;
  &.nav-link {
    text-transform: uppercase;
  }
}

@media (max-width: max-width-sm()) {
  .full-name > h3 {
    font-size: 14px;
  }
}
