<div *ngIf="group">
  <!-- group head -->
  <div class="d-flex flex-row mb-2">
    <app-image #logo
               [type]="'LOGO'"
               [clazz]="'GROUP'"
               [id]="group.id"
               [dimension]="'W130xH130'"
               [format]="'SQUARE'"></app-image>
    <div class="logo-xl-change" *ngIf="groupService.isEditAllow()">
      <div class="logo-content">
        <input type="file"
               (change)="onLogoChange($event)" accept="image/*">
        <p>{{'persons.person.uploadAvatar' | translate | uppercase}}</p>
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </div>
    <div class="p-2">
      <h4>{{group.name}}</h4>
      <p>{{'groupType' | translate }} - {{group.groupType.name}}</p>
      <div *ngIf="group.groupType.groupTypeEnum === 'TEAM'">
        <p>{{'sportType' | translate }} - {{group.sportType.name}}</p>
        <p *ngIf="group.teamType!=null">{{'teamType' | translate }} - {{group.teamType.name}}</p>
        <p *ngIf="group.league!=null">{{'league' | translate }} - {{group.league.name}}</p>
        <p *ngIf="group.ageGroup!=null">{{'ageGroup' | translate }} - {{group.ageGroup.name}}</p>
      </div>
      <div class="d-flex flex-row">
        <p *ngIf="group.address?.country!=null">{{'country' | translate }} - {{group.address.country.name}}</p>
        <p *ngIf="group.address?.region!=null" class="ml-1">{{'region' | translate }} -
          {{group.address.region.name}}</p>
        <p *ngIf="group.address?.city!=null" class="ml-1">{{'city' | translate }} - {{group.address.city.name}}</p>
      </div>
    </div>
  </div>
  <dx-button *ngIf="!groupService.isOwner()"
             type="default"
             class="mb-2"
             (onClick)="onGroupPersonState()"
             text="{{textStateInGroup | translate}}">
  </dx-button>
  <!-- group body -->
  <app-tab [tabs]="tabs"></app-tab>
</div>

