<div *ngIf="group!=null">
  <!-- group head -->
  <div class="d-flex flex-row">
    <div class="p-2">
      <div class="d-flex flex-column">
        <img [src]="imageLogoUrl"
             width="150">
        <button *ngIf="groupService.isEditAllow()"
                class="btn btn-default btn-file btn-sm mt-2">
          <i class="fa fa-pencil-square-o"></i>
          <span>
      <p>{{'persons.person.changeAvatar' | translate | uppercase}}</p>
      <input type="file"
             (change)="onLogoChange($event)"
             accept="image/*">
      </span>
        </button>
        <dx-button *ngIf="!groupService.isOwner()"
                   type="default"
                   class="mt-2"
                   (onClick)="onGroupPersonState()"
                   text="{{ textStateInGroup | translate | uppercase}}">
        </dx-button>
      </div>
    </div>
    <div class="p-2">
      <h1>{{group.name}}</h1>
      <p>{{'groupType' | translate }} - {{group.groupType.name}}</p>
      <div *ngIf="group.groupType.groupTypeEnum === 'TEAM'">
        <p>{{'sportType' | translate }} - {{group.sportType.name}}</p>

        <p *ngIf="group.teamType!=null">{{'teamType' | translate }} - {{group.teamType.name}}</p>
        <p *ngIf="group.league!=null">{{'league' | translate }} - {{group.league.name}}</p>
        <p *ngIf="group.ageGroup!=null">{{'ageGroup' | translate }} - {{group.ageGroup.name}}</p>
      </div>
      <div class="d-flex flex-row">
        <div>
          <p *ngIf="group.address?.country!=null">{{'country' | translate }} - {{group.address.country.name}}</p>
          <p *ngIf="group.address?.region!=null">{{'region' | translate }} - {{group.address.region.name}}</p>
          <p *ngIf="group.address?.city!=null">{{'city' | translate }} - {{group.address.city.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- group body -->
  <app-tab [tabs]="tabs"></app-tab>
</div>

