<div *ngIf="group">
  <div class="d-flex flex-row mb-2">
    <app-image #logo
               [type]="'LOGO'"
               [clazz]="'GROUP'"
               [id]="group.id"
               [dimension]="'W130xH130'"
               [format]="'SQUARE'"></app-image>
    <div *ngIf="canEdit"
         class="logo-xl-change">
      <div class="logo-content">
        <input type="file"
               (change)="onLogoChange($event)" accept="image/*">
        <p>{{'uploadAvatar' | translate | uppercase}}</p>
        <i class="fa fa-pencil-square-o"></i>
      </div>
    </div>
    <div class="p-2">
      <h4>{{group.name}}</h4>
      <p>{{'groupType' | translate }} - {{('groupTypeEnum.' + group.discriminator) | translate}}</p>
      <p
        *ngIf="(group.discriminator === groupTypeEnumClass.TEAM || group.discriminator === groupTypeEnumClass.PREPARATION_GROUP) && group.sportType">
        {{'sportType' | translate }} - {{group.sportType.name}}</p>
      <div *ngIf="group.discriminator === groupTypeEnumClass.TEAM">
        <p *ngIf="group.teamType">{{'teamType' | translate }} - {{group.teamType.name}}</p>
        <p *ngIf="group.league">{{'league' | translate }} - {{group.league.name}}</p>
        <p *ngIf="group.ageGroup">{{'ageGroup' | translate }} - {{group.ageGroup.name}}</p>
      </div>
    </div>
    <div class="ml-2">
      <div *ngFor="let item of trainerGroupPersons; let i = index">
        <div *ngIf="item.leadTrainer; else elseTemplate">
          {{('leadTrainer' | translate) + ": " + item.person.lastName + " " + item.person.firstName}}
        </div>
        <ng-template #elseTemplate>
          {{('trainer' | translate) + " №" + (i + 1) + ": " + item.person.lastName + " " + item.person.firstName}}
        </ng-template>
      </div>
    </div>

    <div *ngIf="canEdit"
         class="ml-auto d-flex flex-row">
      <ngx-split-button *ngIf="selectedGroupPersons.length"
                        class="mr-2"
                        [items]="splitButtonsItems"></ngx-split-button>
      <ngx-button [icon]="iconEnumClass.EDIT"
                  [click]="onEditSettings"></ngx-button>
    </div>
  </div>

  <ngx-grid class="mt-2"
            [fetchItems]="fetchItems"
            [add]="onAddGroupPerson"
            [edit]="onEditGroupPerson"
            [windowScroll]="true"
            [selectionType]="selectionTypeClass.MULTIPLE"
            (selectedItemsChange)="onSelectedItemsChange($event)"
            [canEdit]="canEdit">
    <ngx-column nameKey="lastName">
      <ng-template let-item>
        {{item.person.lastName}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="firstName">
      <ng-template let-item>
        {{item.person.firstName}}
      </ng-template>
    </ngx-column>
    <ngx-column nameKey="middleName">
      <ng-template let-item>
        {{item.person.patronymic}}
      </ng-template>
    </ngx-column>
    <div
      *ngIf="group.discriminator === groupTypeEnumClass.TEAM || group.discriminator === groupTypeEnumClass.PREPARATION_GROUP">
      <ngx-column nameKey="birthDate">
        <ng-template let-item>
          {{item.person.birthDate | date: propertyConstantClass.dateFormat}}
        </ng-template>
      </ngx-column>
      <ngx-column nameKey="orderDocument">
        <ng-template let-item>
          <div *ngIf="item?.groupTransition?.documents">
            <p *ngFor="let document of item.groupTransition.documents">
              {{document.number}} {{document.date | date: propertyConstantClass.dateFormat}}
            </p>
          </div>
        </ng-template>
      </ngx-column>
      <ngx-column nameKey="rank">
        <ng-template let-item>
          {{item?.personRank?.rank?.name}}
        </ng-template>
      </ngx-column>
      <ngx-column nameKey="stageType">
        <ng-template let-item>
          {{item?.stageType?.name}}
        </ng-template>
      </ngx-column>
    </div>
  </ngx-grid>
</div>
