<div class="d-flex align-items-center flex-column h-100">
  <div class="m-auto">
    <div class="m-2 form">
      <img src="/assets/img/athlete-readiness-logo.png" alt="">

      <dx-text-box mode="text"
                   placeholder="{{'persons.person.personal.firstName' | translate}}"
                   [(value)]="person.firstName"
                   [showClearButton]="true">
      </dx-text-box>

      <dx-text-box class="mt-2"
                   mode="text"
                   placeholder="{{'persons.person.personal.lastName' | translate}}"
                   [(value)]="person.lastName"
                   [showClearButton]="true">
      </dx-text-box>

      <dx-date-box class="mt-2 w-100"
                   [min]="dateMin"
                   [max]="dateMax"
                   [type]="'date'"
                   [displayFormat]="propertyConstantClass.dateFormat"
                   placeholder="{{'persons.person.personal.birthDate' | translate}}"
                   (onValueChanged)="onBirthDateChanged($event.value)">
      </dx-date-box>

      <dx-select-box class="mt-2"
                     [items]="sexEnums"
                     displayExpr="name"
                     placeholder="{{'sex' | translate}}"
                     (onValueChanged)="onSexChanged($event.value)">
      </dx-select-box>

      <ngx-button class="mt-2 w-100"
                  nameKey="apply"
                  [click]="onApply"
                  [disabled]="disabledApplyButton"></ngx-button>
    </div>
  </div>
</div>
