<ngx-grid [fetchItems]="fetchItems"
          [canEdit]="true"
          [enabledAdd]="false">
  <ngx-column nameKey="name"
              [templateRef]="nameTemplate"></ngx-column>
  <ngx-column *ngFor="let item of stageTypes"
              [name]="item.shortName"
              [data]="item"
              [templateRef]="stageTypeTemplate"
              [click]="onColumnClick"></ngx-column>

  <ng-template #nameTemplate let-item>
    {{item.stage.shortName}}{{item.stageYear}}
  </ng-template>
  <ng-template #stageTypeTemplate let-item let-column="column">
    {{getItemByColumn(item,column)?.personCount}}
  </ng-template>
</ngx-grid>
