<div *ngIf="currentGroupPersonLog">
  <label class="mt-2">{{'stayInterval' | translate}}</label>
  <div class="row cols-padding">
    <div class="col">
      <dx-date-box class="w-100"
                   [(value)]="currentGroupPersonLog.joinDate"
                   type="date"
                   placeholder="{{'from' | translate}}"
                   showClearButton="true"
                   [displayFormat]="propertyConstant.dateFormat">
      </dx-date-box>
    </div>
    <div class="col">
      <dx-date-box class="w-100"
                   [(value)]="currentGroupPersonLog.leaveDate"
                   type="date"
                   placeholder="{{'to' | translate}}"
                   showClearButton="true"
                   [displayFormat]="propertyConstant.dateFormat">
      </dx-date-box>
    </div>
    <div class="col-auto">
      <app-busy-button icon="fa fa-plus"
                       [click]="onAdd"
                       [disabled]="disabledSaveButton">
      </app-busy-button>
    </div>
  </div>
</div>

<ngx-grid class="mt-2"
          [fetchItems]="fetchItems">
  <ngx-column nameKey="joinDate"
              [templateRef]="joinDateTemplate"></ngx-column>
  <ngx-column nameKey="leaveDate"
              [templateRef]="leaveDateTemplate"></ngx-column>
  <ngx-column nameKey="document"
              [templateRef]="documentTemplate"></ngx-column>

  <ng-template #joinDateTemplate let-item>
    {{item.joinDate | date:propertyConstant.dateFormat}}
  </ng-template>
  <ng-template #leaveDateTemplate let-item>
    {{item.leaveDate | date:propertyConstant.dateFormat}}
  </ng-template>
  <ng-template #documentTemplate let-item>

  </ng-template>
</ngx-grid>
