<div *ngIf="data">
  <label class="mt-2">{{'stayInterval' | translate}}</label>
  <div class="row cols-padding">
    <div class="col">
      <dx-date-box class="w-100"
                   [(value)]="data.joinDate"
                   type="date"
                   placeholder="{{'from' | translate}}"
                   showClearButton="true"
                   [displayFormat]="propertyConstant.dateFormat">
      </dx-date-box>
    </div>
    <div class="col">
      <dx-date-box class="w-100"
                   [(value)]="data.leaveDate"
                   type="date"
                   placeholder="{{'to' | translate}}"
                   showClearButton="true"
                   [displayFormat]="propertyConstant.dateFormat">
      </dx-date-box>
    </div>
  </div>

  <label class="mt-2">{{'comment' | translate}}</label>
  <dx-text-area class="w-100"
                [(value)]="data.comment"
                [maxLength]="4096"
                [height]="150"></dx-text-area>

  <div [hidden]="!data.id">
    <app-files class="mt-2"
               [fileClass]="fileClass.GROUP_PERSON_LOG"
               [objectId]="data.id"
               [type]="viewType.TABLE"
               [add]="onAdd"
               [edit]="onEdit"
               [canEdit]="canEdit"
               [enabledAdd]="true"></app-files>
  </div>

  <p *ngIf="!data.id"
     class="mt-2">{{'youShouldSaveThisStateForNextStepsOrBeCancelingChanges' | translate}}</p>
</div>
