<mat-card *ngIf="data"
          matRipple>
  <mat-card-header fxLayout
                   fxLayoutGap="10px"
                   fxLayoutAlign="space-between start">
    <div>
      <mat-card-title>
        {{data.name}}
      </mat-card-title>
    </div>
    <button *ngIf="canEdit"
            mat-icon-button
            (click)="onEdit(); $event.stopPropagation()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content fxLayout
                    fxLayoutAlign="center center">
    <ngx-image [object]="data"
               [width]="100"
               [height]="100"
               [autoSave]="false"
               [type]="imageTypeClass.CROPPED_LOGO"
               [fileClass]="fileClassClass.DEVICE"></ngx-image>
  </mat-card-content>
</mat-card>
