<div fxLayout="column">
  <ngx-select [data]="dictionaryTypeNgxSelect"></ngx-select>
  <new-ngx-input [data]="nameNgxInput"></new-ngx-input>
  <new-ngx-input [data]="descriptionNgxInput"></new-ngx-input>
  <ngx-select [data]="parameterTypeNgxSelect"></ngx-select>
  <div *ngIf="parameterTypeNgxSelect.control.value.data === parameterTypeEnumClass.CALCULATED"
       fxLayout
       fxLayoutGap="10px"
       fxLayoutAlign="space-between start">
    <div>
      <label>{{'formula' | translate}}</label>
      <pre>{{data.formula}}</pre>
    </div>
    <button mat-icon-button
            (click)="onEditFormula()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div fxLayout
       fxLayoutGap="10px"
       fxLayoutAlign="space-between start">
    <div>
      <label>{{'units' | translate}}</label>
      <mat-chip-list>
        <mat-chip *ngFor="let item of units"
                  [removable]="true"
                  (removed)="onRemoveUnit(item)">{{item.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <button mat-icon-button
            (click)="onEditUnits()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="dictionaryTypeNgxSelect.control.value.data === dictionaryTypeClass.USER">
    <mat-checkbox [(ngModel)]="data.open">{{'openAdj' | translate}}</mat-checkbox>
    <mat-checkbox [(ngModel)]="data.free">{{'free' | translate}}</mat-checkbox>
  </ng-container>
</div>
