<div fxLayout
     fxLayoutGap="10px"
     fxLayoutAlign="start center">
  <new-ngx-input [data]="searchNgxInput"></new-ngx-input>
  <button *ngIf="canEdit"
          mat-icon-button
          (click)="onAddItem()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ngx-virtual-scroll class="mt-2 d-flex flex-wrap"
                    [getItems]="fetchItems"
                    [query]="query"
                    [windowScroll]="true">
  <ng-template let-item
               let-isLast="last">
    <div *ngIf="!item.deleted"
         class="item"
         [ngClass]="{'item-list': !grid}">
      <div matRipple>
        <ng-template [ngTemplateOutlet]="itemTemplate"
                     [ngTemplateOutletContext]="{$implicit: item, canEdit: canEdit}"></ng-template>
      </div>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </div>
  </ng-template>
</ngx-virtual-scroll>
