<div fxLayout="column"
     fxLayoutGap="10px">
  <div class="header accent p-24"
       fxLayout
       fxLayoutAlign="space-between center">
    <h3>{{translationTitle | translate}}</h3>
    <div class="search-wrapper"
         fxFlex
         fxLayout
         fxLayoutAlign="start center">
      <div class="search"
           fxLayout
           fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input fxFlex
               [formControl]="searchControl"
               placeholder="{{'search' | translate}}">
      </div>
    </div>
    <div>
      <button *ngIf="canEdit"
              mat-fab
              color="warn"
              class="absolute-button"
              (click)="onAddItem()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <ngx-virtual-scroll class="mt-4 d-flex flex-wrap"
                        [getItems]="fetchItems"
                        [query]="query">
      <ng-template let-item
                   let-isLast="last">
        <div *ngIf="!item.deleted"
             class="item"
             [ngClass]="{'item-list': !grid}">
          <div matRipple>
            <ng-template [ngTemplateOutlet]="itemTemplate"
                         [ngTemplateOutletContext]="{$implicit: item, canEdit: canEdit}"></ng-template>
          </div>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </ng-template>
    </ngx-virtual-scroll>
  </div>
</div>
