<div fxLayout="column"
     fxLayoutGap="30px">
  <app-list-heading [actions]="actions"
                    [translationTitle]="translationTitle"
                    (searchTextChange)="onSearchTextChanged($event)"
                    (itemDisplayChange)="onItemDisplayChange($event)"></app-list-heading>
  <div>
    <ngx-virtual-scroll class="d-flex flex-wrap justify-content-center"
                        [getItems]="fetchItems"
                        [query]="query">
      <ng-template let-item
                   let-isLast="last">
        <div *ngIf="!item.deleted"
             class="item"
             [ngClass]="{'item-list': itemDisplayClass.LIST === itemDisplay, 'mr-3 mb-3': itemDisplayClass.LIST !== itemDisplay}">
          <div>
            <ng-template [ngTemplateOutlet]="itemTemplate"
                         [ngTemplateOutletContext]="{$implicit: item, canEdit: canEdit, itemDisplay: itemDisplay}"></ng-template>
          </div>
          <mat-divider *ngIf="itemDisplayClass.LIST === itemDisplay && !isLast"></mat-divider>
        </div>
      </ng-template>
    </ngx-virtual-scroll>
  </div>
</div>
