<ngx-virtual-scroll class="mt-2 d-flex flex-wrap justify-content-center"
                    [getItems]="fetchItems"
                    [query]="groupQuery"
                    [windowScroll]="true">
  <ng-template let-item
               let-isLast="last">
    <div *ngIf="!item.deleted"
         class="item"
         [ngClass]="{'item-list': itemDisplayClass.LIST === itemDisplay, 'mr-3 mb-3': itemDisplayClass.LIST !== itemDisplay}">
      <div>
        <app-group-item class="list-item"
                        [data]="item"
                        [width]="250"
                        [itemDisplay]="itemDisplay"></app-group-item>
      </div>
      <mat-divider *ngIf="itemDisplayClass.LIST === itemDisplay && !isLast"></mat-divider>
    </div>
  </ng-template>
</ngx-virtual-scroll>
