@import "src/@fuse/scss/fuse";
@import "src/app/styles/mixins";

.menu-group-item {
  background: rgba(0, 0, 0, 0.05);
  font-size: 18px;
  padding: 8px 18px;
  margin: 0;
}

.events-today {
  @include mat-icon-size(32px);
  line-height: 0 !important;
}

.group-tools {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: normal;
  color: white !important;
  background-color: #039be5 !important;
}

.show-more-button {
  font-weight: 600;
  height: 30px !important;
  line-height: 30px !important;
  color: #039be5 !important;
  text-align: center !important;
}

toolbar {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;

  &.below {
    z-index: 2;
  }

  .mat-toolbar {
    position: relative;
    background: inherit !important;
    color: inherit !important;
  }

  .logo {
    display: flex;
    align-items: center;

    .logo-icon {
      width: 38px;
    }
  }

  .user-button,
  fuse-search-bar,
  .language-button,
  .chat-panel-toggle-button,
  .quick-panel-toggle-button {
    min-width: 64px;
    height: 64px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }

  .navbar-toggle-button {
    min-width: 56px;
    height: 56px;
  }

  .toolbar-separator {
    height: 64px;
    width: 1px;

    @include media-breakpoint('xs') {
      height: 56px;
    }
  }
}
