<div *ngIf="canEdit || selectedBaseGroup">
  <label for="selectedBaseGroup">{{'persons.person.groups.baseGroup' | translate}}</label>
  <table class="table table-sm">
    <thead>
    <tr class="d-flex">
      <th class="col-1">{{'image' | translate}}</th>
      <th [ngClass]="{'col-2' : canEdit, 'col-3' : !canEdit}">{{'name' | translate}}</th>
      <th class="col-2">{{'groupType' | translate}}</th>
      <th class="col-2">{{'sportRole' | translate}}</th>
      <th class="col-2">{{'sportType' | translate}}</th>
      <th class="col-2">{{'mentor' | translate}}</th>
      <th class="col-1" *ngIf="canEdit"></th> <!--remove btn-->
    </tr>
    </thead>
    <tbody>
    <app-group-person id="selectedBaseGroup"
                      class="p-0"
                      [(data)]="selectedBaseGroup"
                      [role]="selectedPublicUserRole"
                      [baseGroup]="canEdit"
                      (change)="onChangeGroupPerson($event)"></app-group-person>
    </tbody>
  </table>
</div>
<div class="mt-2">
  <label>{{'persons.person.groups.additionalGroups' | translate}}</label>
  <div class="row cols-padding">
    <div class="col-10">
      <dx-text-box placeholder="{{'search' | translate}}"
                   mode="search"
                   [showClearButton]="true"
                   (onInput)="onNameChanged($event.event.target.value)">
      </dx-text-box>
    </div>
    <div class="col-2">
      <dx-select-box [items]="groupTypes"
                     displayExpr="name"
                     (onValueChanged)="onGroupTypeChanged($event.value)"
                     placeholder="{{'groupType' | translate}}"
                     [showClearButton]="true">
      </dx-select-box>
    </div>
  </div>

  <table class="table table-sm mt-2">
    <thead>
    <tr class="d-flex">
      <th class="col-1">{{'image' | translate}}</th>
      <th [ngClass]="{'col-2' : canEdit, 'col-3' : !canEdit}">{{'name' | translate}}</th>
      <th class="col-2">{{'groupType' | translate}}</th>
      <th class="col-2">{{'sportRole' | translate}}</th>
      <th class="col-2">{{'sportType' | translate}}</th>
      <th class="col-2">{{'mentor' | translate}}</th>
      <th *ngIf="canEdit"
          class="col-1"></th>
    </tr>
    </thead>
    <tbody>
    <ngx-virtual-scroll [query]="groupQuery"
                        [getItems]="getItems"
                        windowScroll="true">
      <ng-template let-item>
        <app-group-person class="p-0"
                          [data]="item"
                          [role]="selectedPublicUserRole"
                          [baseGroup]="false"
                          (change)="onChangeGroupPerson($event)"></app-group-person>
      </ng-template>
    </ngx-virtual-scroll>
    </tbody>
  </table>
  <div *ngIf="canEdit"
       class="d-flex flex-row mt-2">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row">
        <div class="form-group">
          <app-input-select [loadData]="loadData"
                            [(model)]="newGroup"
                            [pageSize]="pageSize"
                            [getKey]="getKey"
                            [getName]="getName"
                            placeholder="{{'persons.person.groups.placeholder' | translate}}"
                            ngDefaultControl>
          </app-input-select>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column ml-2">
      <div class="d-flex flex-row">
        <button class="btn btn-success"
                (click)="addGroup()"
                [disabled]="!newGroup">
          <i class="fa fa-plus"></i>
          <span> {{'add' | translate}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
