<div fxFlexFill
     fxLayout="row">
  <div fxFlex="grow"
       fxLayout="column">
    <app-list-heading [rightActions]="actions"></app-list-heading>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="visibleMenu"
       fxFlex="30"
       fxLayout="column"
       class="menu">
    <div class="menu-head"></div>
    <div class="menu-list">
      <div *ngFor="let item of items"
           class="item"
           fxLayout="row"
           fxLayoutGap="5px"
           fxLayoutAlign="start center"
           matRipple
           [matRippleDisabled]="!item.data.link"
           [routerLinkActive]="item.data.link ? 'selected-item' : ''"
           [ngClass]="{'disabled-item': !item.data.link}"
           [routerLink]="item.data.link">
        <mat-icon>{{item.data.iconName}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </div>
    </div>
  </div>
</div>
