<div fxFlexFill
     fxLayout="row">
  <div fxFlex="grow"
       fxLayout="column">
    <app-list-heading></app-list-heading>
    <div fxFlexFill
         class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div fxLayout="column"
       class="menu"
       [style.width]="menuSize">
    <div class="menu-head"
         fxLayout="row"
         fxLayoutAlign="center center">
      <button mat-icon-button
              (click)="onToggleMenuVisibility()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="menu-list">
      <div *ngFor="let item of items"
           class="item"
           fxLayout="row"
           fxLayoutGap="5px"
           fxLayoutAlign="start center"
           matRipple
           [matRippleDisabled]="!item.data.link"
           [routerLinkActive]="item.data.link ? 'selected-item' : ''"
           [ngClass]="{'disabled-item': !item.data.link}"
           [routerLink]="item.data.link">
        <mat-icon>{{item.data.iconName}}</mat-icon>
        <span>{{item.name | translate}}</span>
      </div>
    </div>
  </div>
</div>
