<div fxFlexFill
     fxLayout="row">
  <div fxFlex="grow"
       fxLayout="column">
    <app-list-heading [rightActions]="actions"></app-list-heading>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="visibleMenu"
       fxFlex="30"
       fxLayout="column"
       class="menu">
    <div class="menu-head"></div>
    <div class="menu-list">
      <div *ngFor="let item of items"
           class="item"
           [routerLinkActive]="item.data ? 'selected-item' : ''"
           [ngClass]="{'disabled-item': !item.data}"
           [routerLink]="item.data">
        {{item.name | translate}}
      </div>
    </div>
  </div>
</div>
