<label>{{'stage' | translate}}</label>
<dx-select-box [items]="stages"
               displayExpr="name"
               [(value)]="selectedStage"
               acceptCustomValue="true"
               placeholder="{{'stage' | translate}}"
               (onValueChanged)="onStageChanged($event.value)">
</dx-select-box>

<ngx-grid class="mt-2"
          [fetchItems]="fetchItems"
          [windowScroll]="true">
  <ngx-column nameKey="estimatedParameter"
              [templateRef]="estimatedParameterTemplate"></ngx-column>
  <ngx-column nameKey="result"
              [templateRef]="resultTemplate"></ngx-column>

  <ng-template #estimatedParameterTemplate let-item>
    <p>{{item.stage.estimatedParameter.name}}</p>
  </ng-template>

  <ng-template #resultTemplate let-item>
    <p>{{item.stageStandard.exerciseMeasure.baseExercise.name}} /
      {{item.stageStandard.exerciseMeasure.measure.measureParameter.name}}
      [{{item.stageStandard.exerciseMeasure.measure.measureUnit.shortName}}]<br>{{item.exerciseExecMeasureValue.value}}
      ({{('operatorEnum.' + (person.sex === sexEnum.MALE ? item.stageStandard.maleOperator :
      item.stageStandard.femaleOperator)) | translate}}
      {{ person.sex === sexEnum.MALE ? item.stageStandard.maleStandardValue : item.stageStandard.femaleStandardValue}})
    </p>
  </ng-template>
</ngx-grid>
