<div class="row mt-2 cols-padding">
  <div class="col">
    <dx-text-box #name
                 placeholder="{{'fullName' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #phone
                 placeholder="{{'phone' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #email
                 placeholder="{{'email' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #club
                 placeholder="{{'club' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #age
                 placeholder="{{'persons.person.myRegion.trainer.age' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
</div>
<table class="table table-bordered table-hover table-sm mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-4">{{ 'name' | translate }}</th>
    <th class="col-2">{{ 'phone' | translate }}</th>
    <th class="col-2">{{ 'email' | translate }}</th>
    <th class="col-2">{{ 'club' | translate }}</th>
    <th class="col-1">{{ 'persons.person.myRegion.trainer.age' | translate }}</th>
    <th class="col-1"></th>
  </tr>
  </thead>
  <tbody>
  <ngx-virtual-scroll [getItems]="myRegionService.getItems"
                      [(query)]="myRegionService.noteQuery"
                      windowScroll="true">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col-4">{{item?.name}}</td>
        <td class="col-2">{{item?.phone}}</td>
        <td class="col-2">{{item?.email}}</td>
        <td class="col-2">{{item?.club}}</td>
        <td class="col-1">{{item?.age}}</td>
        <td class="col-1">
          <div class="text-center">
            <button class="btn btn-outline-primary" (click)="myRegionService.edit(item)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-danger" (click)="myRegionService.remove(item)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </ngx-virtual-scroll>
  </tbody>
</table>
