<div class="row mt-2 cols-padding">
  <div class="col">
    <dx-text-box #name
                 placeholder="{{'fullName' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #phone
                 placeholder="{{'phone' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #email
                 placeholder="{{'email' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #club
                 placeholder="{{'club' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-text-box #age
                 placeholder="{{'persons.person.myRegion.trainer.age' | translate}}"
                 mode="search"
                 valueChangeEvent="keyup"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
</div>

<ngx-grid class="mt-2"
          [fetchItems]="myRegionService.getItems"
          [query]="myRegionService.noteQuery"
          [edit]="myRegionService.onEdit"
          [canEdit]="myRegionService.canEdit"
          [enabledAdd]="false"
          [windowScroll]="true">
  <ngx-column nameKey="name"
              [style]="'col-5'"
              [templateRef]="nameTemplate">
    <ng-template #nameTemplate let-item>
      {{item.name}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="phone"
              [style]="'col-2'"
              [templateRef]="phoneTemplate">
    <ng-template #phoneTemplate let-item>
      {{item.phone}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="email"
              [style]="'col-2'"
              [templateRef]="emailTemplate">
    <ng-template #emailTemplate let-item>
      {{item.email}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="club"
              [style]="'col-2'"
              [templateRef]="clubTemplate">
    <ng-template #clubTemplate let-item>
      {{item.club}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="age"
              [style]="'col-1'"
              [templateRef]="ageTemplate">
    <ng-template #ageTemplate let-item>
      {{item.age}}
    </ng-template>
  </ngx-column>
</ngx-grid>
