<div *ngIf="data"
     class="d-flex flex-row align-items-center item {{classes}}"
     (dblclick)="onDblClick($event)">
  <ngx-image [object]="data.person"
             [type]="imageTypeClass.LOGO"
             [fileClass]="fileClassClass.PERSON"
             [allowFullScreen]="false"></ngx-image>
  <div class="d-flex flex-column ml-2">
    <h6>{{data.person.lastName}}<br/>
      {{data.person.firstName}}<br/>
      {{data.person?.patronymic}}</h6>
    <p>{{(('sexEnum.' + data.person.sex) | translate)}} {{data.person.birthDate | date:
      propertyConstantClass.dateFormat}}</p>
  </div>
  <dx-check-box *ngIf="data.userRole && data.userRole.userRoleEnum === userRoleEnumClass.TRAINER"
                class="ml-2"
                [(value)]="data.admin"
                text="{{'administrator' | translate}}"
                (onValueChanged)="onStatusChanged()"></dx-check-box>
</div>
