<div class="modal-header">
  <h4 class="modal-title">{{trainingPerson.baseTraining.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>{{'userRole' | translate }}</label>
  <dx-select-box class="mt-2"
                 [(value)]="trainingPerson.userRole"
                 [disabled]="true"
                 displayExpr="name"
                 acceptCustomValue="true"
                 showClearButton="true"
                 placeholder="{{'userRole' | translate}}">
  </dx-select-box>
  <div *ngIf="trainingPerson?.userRole.userRoleEnum.toString() ==='ATHLETE'">
    <label class="mt-2">{{'sportRole' | translate }}</label>
    <dx-select-box class="mt-2"
                   [(value)]="trainingPerson.sportRole"
                   [disabled]="true"
                   displayExpr="name"
                   acceptCustomValue="true"
                   showClearButton="true"
                   placeholder="{{'sportRole' | translate}}">
    </dx-select-box>
  </div>
  <label>{{'description' | translate }}</label>
  <dx-text-area
    [height]="90"
    [disabled]="true"
    [(value)]="trainingPerson.baseTraining.description">
  </dx-text-area>
  <dx-check-box class="mt-2"
                [(value)]="trainingPerson.visible"
                text="{{ 'public' | translate }}">
  </dx-check-box>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="onSave()">{{'modal.save' | translate }}</button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">{{'modal.cancel' | translate }}
  </button>
</div>
