<table class="table table-bordered table-hover table-sm mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col">{{ 'date' | translate }}</th>
    <th class="col">{{ 'units' | translate }}</th>
    <th class="col">{{ 'value' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <app-infinite-list [items]="measureValues"
                     (nextPage)="onNextPage($event)">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col">{{getDate(item) | date:'yyyy.MM.dd HH:mm'}}</td>
        <td class="col">{{getUnits(item)}}</td>
        <td class="col">{{getValue(item)}}</td>
      </tr>
    </ng-template>
  </app-infinite-list>
  </tbody>
</table>
