<dx-text-box #searchDxTextBoxComponent
             placeholder="{{'search' | translate}}"
             mode="search"
             showClearButton="true">
</dx-text-box>

<div class="row mt-2 text-center text-uppercase font-weight-bold">
  <div class="col">
    <p>{{ 'fullName' | translate }}</p>
  </div>
  <div class="col">
    <p>{{ 'yearBirth' | translate }}</p>
  </div>
  <div class="col">
    <p>{{ 'group' | translate }}</p>
  </div>
  <div class="col">
    <p>{{ 'role' | translate }}</p>
  </div>
</div>
<app-infinite-list [items]="personViewModels"
                   (nextPage)="onNextPage($event)">
  <ng-template let-item>
    <hr>
    <div class="row d-flex align-items-center text-center mt-1">
      <div class="col">
        <app-person [person]="item.person"></app-person>
      </div>
      <div class="col">
        <h5>{{item.person?.birthDate | date:'yyyy'}}</h5>
      </div>
      <div class="col d-flex justify-content-center">
        <app-group-item [data]="item.baseGroup"></app-group-item>
      </div>
      <div class="col">
        <h5>TODO: BASE ROLE!</h5>
      </div>
    </div>
  </ng-template>
</app-infinite-list>
