@import "../../../variables";

* {
  user-select: none;
}

$search-padding: 8px;
$item-height: 35px;
$item-bg-color-active: #c5e4f3;

.selected-item {
  list-style-type: none;
  padding: 3px 10px;
  border: 1px solid darken($item-bg-color-active, 20%);
  border-radius: 3px;
  background-color: $item-bg-color-active;
  cursor: pointer;
  .fa {
    color: #555;
  }
  &:hover {
    background-color: darken($item-bg-color-active, 5%);
    .fa {
      color: #222;
    }
  }
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.default-item {
  background: $white;
  cursor: pointer;
  color: #555;
  vertical-align: middle;
  padding-left: 7px;
  line-height: 34px;

  &:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  &:hover {
    color: #222;
  }

  &.active {
    background-color: $item-bg-color-active;
  }
}
