<div class="d-flex flex-row align-items-center">
  <app-person [person]="groupPerson.person"></app-person>
  <div *ngIf="groupPerson.userRole"
       class="ml-4 mr-4">
    <strong>{{ groupPerson.userRole.name }}</strong>
  </div>
  <div *ngIf="groupPerson.mentor"
       class="ml-2">
    <app-person [person]="groupPerson.mentor.person"></app-person>
  </div>

  <div *ngIf="groupPerson.group.groupType.groupTypeEnum === 'TEAM'">
    <!--<div *ngIf="groupPerson.sportRole"-->
    <!--class="ml-2">-->
    <!--<strong>{{ groupPerson.sportRole.name }}</strong>-->
    <!--</div>-->
    <!--<div *ngIf="groupPerson.number">-->
    <!--<strong class="ml-2">{{ groupPerson?.number }}</strong>-->
    <!--</div>-->
    <app-group-item *ngIf="baseGroupPerson"
                    class="ml-2"
                    [data]="baseGroupPerson.group">
    </app-group-item>
  </div>
  <div *ngIf="groupService.isEditAllow()">
    <dx-button type="default"
               class="ml-4"
               (onClick)="onEdit()"
               text="{{ 'edit' | translate | uppercase}}">
    </dx-button>
  </div>
</div>
