<ngx-button *ngIf="canEdit"
            class="mb-2"
            [icon]="iconEnumClass.ADD"
            [click]="onAdd">
</ngx-button>
<ngx-virtual-scroll [getItems]="fetchItems"
                    [windowScroll]="true"
                    class="list-group-flush">
  <ng-template let-item>
    <div *ngIf="!item.deleted"
         class="list-group-item pb-2 px-2">
      <app-group-news-item [data]="item"
                           [canEdit]="canEdit"></app-group-news-item>
    </div>
  </ng-template>
</ngx-virtual-scroll>
