label {
  color: rgba(255, 255, 255, .7);
}

pre {
  color: rgba(255, 255, 255, .5);
}

.left-side {
  padding: 20px;
  background-color: #363d42;
}

.right-side {
  padding: 20px;
  background-color: white;
}
