<div *ngIf="valid">
  <div class="d-flex mt-2">
    <div class="align-self-center font-weight-bold mr-3">
      {{'groups.section' | translate}}:
    </div>
    <ul class="nav nav-tabs">
      <li *ngFor="let item of groupTabs"
          class="nav-item">
        <a class="nav-link text-uppercase"
           [routerLink]="item.routerLink"
           [queryParams]="item.queryParams"
           routerLinkActive="active">
          {{item.name}}
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex mt-2">
    <div class="align-self-center font-weight-bold mr-3">
      {{'participants' | translate}}:
    </div>
    <ul class="nav nav-tabs">
      <li *ngFor="let item of userRoleTabs"
          class="nav-item">
        <a class="nav-link text-uppercase"
           [routerLink]="item.routerLink"
           [queryParams]="item.queryParams"
           routerLinkActive="active">
          {{item.nameKey | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
<app-training-persons-selection></app-training-persons-selection>
