<ul class="nav nav-tabs mt-2">
  <li class="nav-item" *ngFor="let item of groupTabs">
    <a class="nav-link text-uppercase"
       [routerLink]="item.routerLink"
       [queryParams]="item.queryParams"
       routerLinkActive="active">
      {{item.name}}
    </a>
  </li>
</ul>

<ul class="nav nav-tabs mt-2">
  <li class="nav-item"
      *ngFor="let item of userRoleTabs">
    <a class="nav-link text-uppercase"
       [routerLink]="item.routerLink"
       [queryParams]="item.queryParams"
       routerLinkActive="active">
      {{item.nameKey | translate }}
    </a>
  </li>
</ul>

<app-training-persons-selection></app-training-persons-selection>
