<div class="container">
  <div class="wrapper">
    <div class="search">
      <span class="fa fa-search"></span>
      <input type="text"
             placeholder="Search"
             class="form-control"
             [(ngModel)]="searchBar"
             (keyup)="onSearchChange()">
    </div>
    <ul class="items" *ngIf="data.length"
        tabindex="1"
        (keydown)="onActiveChange($event)">
      <li *ngFor="let item of data"
          [ngClass]="{'active' : active === item}"
          (click)="setActive(item)"
          (dblclick)="onDblckick()">
        {{item[key]}}
      </li>
    </ul>
    <div class="no_data" *ngIf="data.length === 0">
      <p>No data to display</p>
    </div>
  </div>
</div>
