<div class="modal-header">
  <h4 class="modal-title">{{headerNameKey | translate }}</h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row h-100">
    <div class="col">
      <dx-text-box #searchDxTextBoxComponent
                   placeholder="{{'search' | translate}}"
                   mode="search"
                   showClearButton="true">
      </dx-text-box>
      <ngx-virtual-scroll [getItems]="getItemsWithoutSelected"
                          [(query)]="pageQuery">
        <ng-template let-item>
          <div class="default-item"
               (click)="setActive(item)"
               (dblclick)="onSelected(item)"
               [ngClass]="{'active' : item === active}">
            <app-modal-item [component]="component"
                            [data]="item"></app-modal-item>
          </div>
        </ng-template>
      </ngx-virtual-scroll>
    </div>

    <div class="col">
      <li *ngFor="let item of selectedItems"
          class="selected-item"
          (click)="onUnselected(item)">
        <i class="fa fa-times"></i>
        <app-modal-item [component]="component"
                        [data]="item"></app-modal-item>
      </li>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-outline-success"
          (click)="onSave(selectedItems)">{{'modal.save' | translate }}
  </button>
  <button type="button"
          class="btn btn-outline-dark"
          (click)="modal.dismiss()">{{'modal.cancel' | translate }}
  </button>
</div>
