<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary input-height-sm"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <i class="fa fa-caret-left"></i>
      </div>
      <div
        class="btn btn-outline-secondary input-height-sm"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        {{'today' | translate}}
      </div>
      <div
        class="btn btn-primary input-height-sm"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        <i class="fa fa-caret-right"></i>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'): locale }}</h3>
  </div>
  <div class="col-md-4" *ngIf="!sideBarView">
    <div class="btn-group">
      <div
        class="btn btn-primary input-height-sm"
        (click)="viewChange.emit('month')"
        [class.active]="view === 'month'">
        {{'month' | translate}}
      </div>
      <div
        class="btn btn-primary input-height-sm"
        (click)="viewChange.emit('week')"
        [class.active]="view === 'week'">
        {{'week' | translate}}
      </div>
      <div
        class="btn btn-primary input-height-sm"
        (click)="viewChange.emit('day')"
        [class.active]="view === 'day'">
        {{'day' | translate}}
      </div>
    </div>
  </div>
</div>
<br>
