<div *ngIf="tabs">
  <ul class="nav nav-tabs">
    <li *ngFor="let tab of tabs"
        class="nav-item">
      <a *ngIf="tab && onCheckingVisible(tab)"
         class="nav-link text-uppercase"
         routerLink="{{tab.routerLink}}"
         routerLinkActive="active"
         [queryParams]="tab.queryParams">
        {{tab.name ? (tab.name) : (tab.nameKey | translate)}}
      </a>
    </li>
    <li *ngIf="newElement"
        class="new-element">
      <app-btn-add [onClick]="onClickApply"></app-btn-add>
    </li>
  </ul>
  <div class="mt-2">
    <router-outlet></router-outlet>
  </div>
</div>
