<div *ngIf="!data.id"
     class="mb-2">
  <label>{{eventTypeSelectBox.placeholder}}</label>
  <dx-select-box #eventTypeSelectBox
                 class="input-height-sm"
                 [items]="eventTypes"
                 [(value)]="selectedEventType"
                 (onValueChanged)="onEventTypeChanged($event.value)"
                 displayExpr="name"
                 placeholder="{{'eventType' | translate}}">
  </dx-select-box>
</div>
<div *ngIf="data.id || selectedEventType">
  <label *ngIf="data.eventPlan"
         class="mb-2">{{'eventPlan' | translate}}: {{data.eventPlan.name}}</label>
  <div class="d-flex flex-row align-items-center">
    <div class="w-100 mr-auto">
      <label>{{'name' | translate}}</label>
      <ngx-text-box [(value)]="data.name"></ngx-text-box>
    </div>
    <div *ngIf="!data.id"
         class="ml-2 align-self-end">
      <dx-check-box class="mb-1"
                    text="{{'template' | translate}}"
                    [(value)]="data.template"></dx-check-box>
    </div>
  </div>

  <label class="mt-2">{{'description' | translate}}</label>
  <dx-text-area [(value)]="data.description"
                height="150"></dx-text-area>

  <div class="row">
    <div class="col">
      <label>{{startDateDateBox.placeholder}}</label>
      <dx-date-box #startDateDateBox
                   class="w-100"
                   type="datetime"
                   [(value)]="data.startTime"
                   [displayFormat]="propertyConstantClass.dateTimeFormat"
                   placeholder="{{'startDate' | translate}}">
      </dx-date-box>
    </div>
    <div class="col">
      <label>{{finishDateDateBox.placeholder}}</label>
      <dx-date-box #finishDateDateBox
                   class="w-100"
                   type="datetime"
                   [(value)]="data.finishTime"
                   [displayFormat]="propertyConstantClass.dateTimeFormat"
                   placeholder="{{'finishDate' | translate}}">
      </dx-date-box>
    </div>
  </div>

  <label class="mt-2">{{locationInputSelect.placeholder}}</label>
  <app-input-select #locationInputSelect
                    [loadData]="fetchLocations"
                    [(model)]="data.location"
                    [getKey]="getKey"
                    [getName]="getName"
                    placeholder="{{'location' | translate}}">
  </app-input-select>

  <div *ngIf="data.discriminator === trainingDiscriminatorClass.TESTING">
    <label class="mt-2">{{ageGroupInputSelect.placeholder}}</label>
    <app-input-select #ageGroupInputSelect
                      [loadData]="fetchAgeGroups"
                      [(model)]="data.ageGroup"
                      [getKey]="getKey"
                      [getName]="getName"
                      placeholder="{{'ageGroup' | translate}}">
    </app-input-select>
  </div>

  <div *ngIf="data.discriminator === trainingDiscriminatorClass.TRAINING">
    <label class="mt-2">{{trainingTypeSelectBox.placeholder}}</label>
    <dx-select-box #trainingTypeSelectBox
                   class="input-height-sm"
                   [items]="trainingTypes"
                   [(value)]="selectedTrainingType"
                   displayExpr="name"
                   placeholder="{{'trainingType' | translate}}"
                   (onValueChanged)="onTrainingTypeChanged($event.value)">
    </dx-select-box>
  </div>

  <div *ngIf="data.discriminator === trainingDiscriminatorClass.GAME">
    <label class="mt-2">{{sportTypeInputSelect.placeholder}}</label>
    <app-input-select #sportTypeInputSelect
                      [loadData]="fetchSportTypes"
                      [(model)]="data.sportType"
                      [getKey]="getKey"
                      [getName]="getName"
                      placeholder="{{'sportType' | translate}}">
    </app-input-select>
  </div>
  <div *ngIf="data.id"
       class="d-flex flex-column mt-2">
    <div class="d-flex flex-row">
      <div class="mr-2">
        <ngx-button nameKey="groups"
                    [click]="onEditGroups"></ngx-button>
      </div>
      <div *ngIf="groups && groups.length"
           class="tags-content w-100">
        <div *ngFor="let item of groups">
          {{item.name}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-row mt-2">
      <div class="mr-2">
        <ngx-button nameKey="athletes"
                    [click]="onEditAthleteTrainingPersons"></ngx-button>
      </div>
      <div *ngIf="athletePersons && athletePersons.length"
           class="tags-content w-100">
        <div *ngFor="let item of athletePersons">
          {{item.person.lastName + ' ' + item.person.firstName}}
        </div>
      </div>
    </div>
    <div class="d-flex flex-row mt-2">
      <div class="mr-2">
        <ngx-button nameKey="trainers"
                    [click]="onEditTrainerTrainingPersons"></ngx-button>
      </div>
      <div *ngIf="trainerPersons && trainerPersons.length"
           class="tags-content w-100">
        <div *ngFor="let item of trainerPersons">
          {{item.person.lastName + ' ' + item.person.firstName}}
        </div>
      </div>
    </div>
  </div>
</div>
