<div class="shadow ngx-modal">
  <div class="modal-header">
    <h4 *ngIf="title || titleKey"
        class="modal-title">{{title ? (title) : (titleKey | translate)}}</h4>
    <button *ngIf="canClose"
            mat-icon-button
            (click)="onClose()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div class="modal-body"
       [ngClass]="{'p-0': !useContentPadding}">
    <ng-template #contentTemplate></ng-template>
  </div>
  <div *ngIf="tempSplitButtonItems.length || splitButtonItems.length || removeSplitButtonItem"
       class="modal-footer"
       fxLayout
       fxLayoutGap="10px"
       fxLayoutAlign="space-between center">
    <ngx-split-button [items]="tempSplitButtonItems"></ngx-split-button>
    <ngx-split-button [items]="temp2SplitButtonItems"></ngx-split-button>

    <div fxLayout
         fxLayoutAlign="start center"
         fxLayoutGap="10px">
      <ngx-split-button [items]="splitButtonItems"></ngx-split-button>
      <button *ngIf="removeSplitButtonItem"
              mat-icon-button
              (click)="removeSplitButtonItem.callback(removeSplitButtonItem)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
