.ngx-modal {
  background-color: #363d42;

  .modal-header {
    background-color: #009df2;
    color: #fff;
    border: unset;
    border-radius: unset;
  }

  .modal-footer {
    border: unset;
  }
}
