<div class="shadow">
  <div class="modal-header">
    <h4 *ngIf="title || titleKey"
        class="modal-title">{{title ? (title) : (titleKey | translate)}}</h4>
    <button type="button"
            class="close"
            aria-label="Close"
            (click)="onClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-template #contentTemplate></ng-template>
  </div>
  <div class="modal-footer"
       fxLayout
       fxLayoutGap="10px"
       fxLayoutAlign="space-between center">
    <button *ngIf="removeSplitButtonItem"
            mat-icon-button
            (click)="removeSplitButtonItem.callback(removeSplitButtonItem)">
      <mat-icon>delete</mat-icon>
    </button>
    <div fxLayout
         fxLayoutGap="10px">
      <ngx-split-button [items]="tempSplitButtonItems"></ngx-split-button>
      <ngx-split-button [items]="splitButtonItems"></ngx-split-button>
    </div>
  </div>
</div>
