@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "../../variables";

$navbar-height: 50px;
$sidebar-width: 230px;
$sidebar-width-mini: 50px;
$sidebar-mini-transition: .3s;
$sidebar-background: $dark-blue;

@function max-width-sm() {
  @return map-get($container-max-widths, 'sm');
}

@function max-width-md() {
  @return map-get($container-max-widths, 'md');
}

.flex-wrapper {
  position: absolute;
  height: calc(100% - #{$navbar-height});
  width: 100%;
  display: flex;
}

.content {
  width: 100%;
  min-height: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}
