@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "../styles/variables";

$sidebar-width: 230px;
$sidebar-width-mini: 50px;
$sidebar-mini-transition: .3s;
$sidebar-background: $dark-blue;

$right-sidebar-width: 600px;
$right-sidebar-width-mini: 24px;
$right-sidebar-mini-transition: .3s;
$right-sidebar-background: darken($light-blue, 15%);

.content-wrapper {
  display: flex;
  padding-top: $navbar-height;
  min-height: 100%;

  &.hidden {
    padding-top: 0;
  }

  > .content {
    width: 100%;
    padding: 10px;
    overflow-x: hidden;
  }

}

@media (max-width: max-width-lg()) {
  app-right-side-bar {
    display: none;
  }
}

