@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "../../assets/variables";

$navbar-height: 50px;
$sidebar-width: 230px;
$sidebar-width-mini: 50px;
$sidebar-mini-transition: .3s;
$sidebar-background: $dark-blue;

@function max-width-xs() {
 @return map-get($container-max-widths, 'sm');
}

.flex-wrapper {
  position: absolute;
  height: calc(100% - #{$navbar-height});
  width: 100%;
  display: flex;
}

.content {
  width: 100%;
  min-height: 100%;
  overflow: auto;
  padding: 10px;
}
