<ng-container *ngIf="data">
  <app-item-line *ngIf="itemDisplay === itemDisplayClass.LIST; else cardItemTemplate"
                 [fileClass]="fileClassClass.PERSON"
                 [(data)]="data"
                 [rightActions]="actions"></app-item-line>
  <ng-template #cardItemTemplate>
    <app-vertical-card title="{{data.lastName}} {{data.firstName}}"
                       [subtitle]="this.data && this.data.groupPersonJob && this.data.groupPersonJob.group.name"
                       [text]="this.data && this.data.groupPersonJob && this.data.groupPersonJob.position.name"
                       [fileClass]="fileClassClass.PERSON"
                       [actions]="actions"
                       [(data)]="data"
                       (click)="onShowDetail()">
      <ng-content></ng-content>
    </app-vertical-card>
  </ng-template>
</ng-container>
