<div *ngIf="data"
     class="d-flex flex-row {{class}}">
  <div class="mr-2">
    <ngx-image [objectId]="data.id"
               [width]="80"
               [height]="80"
               [allowFullScreen]="false"
               [format]="imageFormatClass.CIRCLE"
               [type]="imageTypeClass.LOGO"
               [fileClass]="fileClassClass.PERSON"></ngx-image>
  </div>
  <div class="my-auto">
    <h5>{{data.lastName}}<br>
      {{data.firstName}}<br>
      {{data?.patronymic}}
    </h5>
    <p class="text-muted">{{'sexEnum.' + data.sex | translate}} {{data.birthDate | date: propertyConstantClass.dateFormat}}</p>
  </div>
</div>
