<div class="d-flex flex-row mt-2">
  <div class="mr-2">
    <ngx-button nameKey="athletes"
                [click]="onEditAthleteTrainingPersons"></ngx-button>
  </div>
  <div *ngIf="athletePersons && athletePersons.length"
       class="tags-content w-100">
    <div *ngFor="let item of athletePersons">
      {{item.person.lastName + ' ' + item.person.firstName}}
    </div>
  </div>
</div>
<div class="d-flex flex-row mt-2">
  <div class="mr-2">
    <ngx-button nameKey="trainers"
                [click]="onEditTrainerTrainingPersons"></ngx-button>
  </div>
  <div *ngIf="trainerPersons && trainerPersons.length"
       class="tags-content w-100">
    <div *ngFor="let item of trainerPersons">
      {{item.person.lastName + ' ' + item.person.firstName}}
    </div>
  </div>
</div>
