<div fxFlexFill
     fxLayout="row wrap"
     fxLayoutGap="20px grid"
     fxLayoutAlign="center start">
  <div *ngFor="let item of dictionaries"
       class="item">
    <mat-card routerLink="{{item.data}}"
              matRipple>
      <div fxLayout
           fxLayoutGap="10px"
           fxLayoutAlign="start start">
        <ngx-image [object]="{id:0}"
                   url="assets/img/default.png"
                   [width]="100"
                   [height]="100"></ngx-image>
        <h4>{{item.name | translate}}</h4>
      </div>
    </mat-card>
  </div>
</div>
