@import "../layout.component";
@import "~bootstrap/scss/_variables";

$sidebar-item-menu-background: lighten($sidebar-background, 5%);
$sidebar-item-menu-background-hover: darken($sidebar-background, 2%);
$sidebar-item-menu-color: lighten($sidebar-background, 60%);
$sidebar-item-menu-color-hover: $white;

.sidebar-wrapper {

  width: $right-sidebar-width-mini;
  height: 100%;
  transition: width $right-sidebar-mini-transition ease-out;
  background-color: $right-sidebar-background;

  .menu {

    width: $right-sidebar-width-mini;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: fixed;
    right: 0;

    .menu-item {

      flex: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;

      margin: 1px 0 1px 2px;
      cursor: pointer;

      p {
        color: #ddd;
        writing-mode: tb-rl;
      }

      &:hover {
        background-color: darken($right-sidebar-background, 10%);
      }

      &.selected {
        background-color: #ccc;

        p {
          color: #444;
        }

      }

    }

  }

  .content {
    position: fixed;
    width: $right-sidebar-width - $right-sidebar-width-mini;
    @media (max-width: max-width-xl()) {
      width: 400px - $right-sidebar-width-mini !important;
    }
    height: 100%;
    padding: 5px;
    margin-left: 2px;
    margin-right: $right-sidebar-width-mini;
    overflow-y: auto;

  }

  @mixin openSideBar() {
    width: $right-sidebar-width;

    @media (max-width: max-width-xl()) {
      width: 400px !important;
    }

    transition: width $right-sidebar-mini-transition ease-in;
  }

  &.opened {
    @include openSideBar();

    .content {
      background-color: #fff;
    }

  }

}
