:host {
  background-color: rgba(30, 30, 30, 0.9);
  position: relative;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  height: 106px;
  border-radius: 3px 3px 3px 3px;
  color: #ccc;
  pointer-events: all;
  cursor: pointer;

  .message-label {
    line-height: 1;
    color: #aaa;
  }

  .btn-transparent {
    background-color: transparent;
    padding: 0;
    border: 0;
    color: #999;
    font-weight: normal;
    height: 14px;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: #bbb;
    }
  }

  .message-wrapper {
    width: 270px;

    .message {
      width: 200px;

      .sender {
        color: #39CCCC;
      }

      .content {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }
    }

  }

}
