:host {
  ::ng-deep {
    .training-event-container {
      .cal-event-title {
        color: #000;
      }
    }

    .game-event-container {
      .cal-event-title {
        color: #fff;
      }
    }

    .testing-event-container {
      .cal-event-title {
        color: #000;
      }
    }
  }
}

h4 {
  margin: 0;
}

.drag-active {
  z-index: 1200 !important;
}

.p {
  padding: 5px;
}


