:host {
  ::ng-deep {
    .cal-open-day-events {
      padding: 6px;
    }
  }
}

h4 {
  margin: 0;
}

.drag-active {
  z-index: 1200 !important;
}

.p {
  padding: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
