<div *ngIf="person"
     fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutGap="10px"
     class="header">
  <div fxLayout="column"
       fxLayoutGap="10px">
    <ngx-image [canEdit]="canEdit"
               [object]="person"
               [width]="130"
               [height]="130"
               [allowFullScreen]="false"
               [cropImage]="true"
               [type]="imageTypeClass.LOGO"
               [fileClass]="fileClassClass.PERSON"
               (click)="onNavigate()"
               (imageChange)="onLogoChange()"></ngx-image>
  </div>
  <div fxFlex="grow"
       fxLayout="column"
       fxLayoutAlign="center start"
       fxLayoutAlign.lt-sm="start start"
       (click)="onNavigate()">
    <h4>{{person?.lastName}}</h4>
    <h4>{{person?.firstName}}</h4>
    <h4>{{person?.patronymic}}</h4>
  </div>
  <div fxLayout="column"
       fxLayoutAlign="space-between end">
    <div fxLayout="row"
         fxLayoutGap="10px"
         fxLayoutAlign="end end"
         fxFlexAlign="end">
      <button *ngFor="let item of actions"
              mat-raised-button
              (click)="item.action(item)">
        <mat-icon *ngIf="item.iconName !== 'personDelete'; else elseTemplate">{{item.iconName}}</mat-icon>
        <ng-template #elseTemplate>
          <mat-icon svgIcon="personDelete"></mat-icon>
        </ng-template>
      </button>
    </div>
  </div>
</div>
