<div class="row cols-padding">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-date-box class="w-100"
                 type="date"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box class="w-100"
                 type="date"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)">
    </dx-date-box>
  </div>
  <div class="col">
    <app-location-input-select (onChange)="onLocationChange($event)"></app-location-input-select>
  </div>
</div>
<table class="table table-bordered table-hover table-sm mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-4">{{ 'name' | translate }}</th>
    <th class="col-1">{{ 'trainingType' | translate }}</th>
    <th class="col-2">{{ 'startDateAndTime' | translate }}</th>
    <th class="col-2">{{ 'location' | translate }}</th>
    <th class="col-1">{{ 'public' | translate }}</th>
    <th class="col-2"></th>
  </tr>
  </thead>
  <tbody>
  <ngx-virtual-scroll [query]="trainingQuery"
                      [getItems]="getItems"
                      windowScroll="true">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col-4">{{item?.baseTraining.name}}</td>
        <td class="col-1">{{item?.baseTraining.discriminator}}</td>
        <td class="col-2">{{item?.baseTraining.startTime | date:'dd.MM.yyyy HH:mm'}}</td>
        <td class="col-2">{{item?.baseTraining.location?.name}}</td>
        <td class="col-1">
          <dx-check-box [(value)]="item.visible"
                        [disabled]="true">
          </dx-check-box>
        </td>
        <td class="col-2">
          <div class="text-center">
            <button *ngIf="isEditAllow"
                    class="btn btn-outline-primary"
                    (click)="editPublic(item)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-outline-success"
                    (click)="downloadReport(item)">
              <i class="fa fa-download"></i> {{'report' | translate}}
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
  </ngx-virtual-scroll>
  </tbody>
</table>
