<div class="row cols-padding">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-date-box #fromDate
                 class="w-100"
                 type="date"
                 [min]="toDate.value"
                 [displayFormat]="propertyConstant.dateFormat"
                 placeholder="{{'from' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateFromChange($event)">
    </dx-date-box>
  </div>
  <div class="col">
    <dx-date-box #toDate
                 class="w-100"
                 type="date"
                 [min]="fromDate.value"
                 [displayFormat]="propertyConstant.dateFormat"
                 placeholder="{{'to' | translate}}"
                 [showClearButton]="true"
                 (onValueChanged)="onDateToChange($event)">
    </dx-date-box>
  </div>
  <div class="col">
    <app-location-input-select (onChange)="onLocationChange($event)"></app-location-input-select>
  </div>
</div>

<ngx-grid class="mt-2"
          [fetchItems]="fetchItems"
          [query]="trainingQuery"
          [edit]="onEdit"
          [canEdit]="canEdit"
          [enabledAdd]="false"
          [windowScroll]="true">
  <ngx-column nameKey="name"
              [style]="'col-6'"
              [templateRef]="nameTemplate">
    <ng-template #nameTemplate let-item>
      {{item.baseTraining.name}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="eventType"
              [style]="'col-1'"
              [templateRef]="eventTypeTemplate">
    <ng-template #eventTypeTemplate let-item>
      {{'trainingDiscriminator.' + item.baseTraining.discriminator | translate}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="startDateAndTime"
              [style]="'col-2'"
              [templateRef]="startDateAndTimeTemplate">
    <ng-template #startDateAndTimeTemplate let-item>
      {{item.baseTraining.startTime | date: propertyConstant.dateTimeFormat}}
    </ng-template>
  </ngx-column>
  <ngx-column nameKey="location"
              [style]="'col-2'"
              [templateRef]="locationTemplate">
    <ng-template #locationTemplate let-item>
      {{item.baseTraining.location?.name}}
    </ng-template>
  </ngx-column>
  <ngx-column [style]="'col-1'"
              [templateRef]="reportTemplate">
    <ng-template #reportTemplate let-item>
      <app-busy-button [icon]="'fa fa-book'"
                       [click]="onGetReport"
                       [parameter]="item"></app-busy-button>
    </ng-template>
  </ngx-column>
</ngx-grid>
