<div class="row"
     *ngFor="let pa of anthropometry">
  <div class="col-lg-4 col-md-6 col-sm-12" *ngIf="pa.value || isEditAllow">
    <div class="form-group p-1 mb-0">
      <label>{{pa.measure.measureParameter.name}}</label>
      <app-measure-input [anthropometry]="pa" [disabled]="!isEditAllow"></app-measure-input>
    </div>
  </div>
</div>
<button *ngIf="isEditAllow"
        type="button"
        class="btn btn-outline-success mt-3"
        (click)="save()">{{'persons.person.save' | translate}}
</button>
