<div *ngFor="let item of anthropometry"
     class="row">
  <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12">
    <div class="form-group mb-2">
      <label>{{item.measure.measureParameter.name}}</label>
      <app-measure-input [anthropometry]="item"
                         [disabled]="!allowEdit"></app-measure-input>
    </div>
  </div>
</div>
<button *ngIf="allowEdit"
        type="button"
        class="btn btn-success"
        (click)="onSave()">{{'persons.person.save' | translate}}
</button>
