<div class="pt-3">
  <div class="row"
       *ngFor="let pa of _anthropometry">
    <div class="col-6">
      <div class="form-group p-1">
        <label for="measure">{{pa.measureSpec.name}}</label>
        <dx-text-box id="measure"
                     [(value)]="pa.value"
                     class="w-100"
                     [readOnly]="!_isEditAllow">
        </dx-text-box>
      </div>
    </div>
  </div>
  <button *ngIf="_isEditAllow"
          type="button"
          class="btn btn-outline-success mt-3"
          (click)="save()">{{'persons.person.save' | translate}}
  </button>
</div>
