<div [ngSwitch]="type"
     [class]="class">
  <ngx-grid *ngSwitchCase="viewType.TABLE"
            [fetchItems]="fetchItems"
            [add]="add"
            [edit]="edit"
            [canEdit]="canEdit"
            [enabledAdd]="enabledAdd">
    <ngx-column nameKey="documentType"
                [templateRef]="documentTypeTemplate"></ngx-column>
    <ngx-column nameKey="documentNumber"
                [templateRef]="documentNumberTemplate"></ngx-column>
    <ngx-column nameKey="date"
                [templateRef]="dateTemplate"></ngx-column>
    <ngx-column nameKey="document"
                [templateRef]="documentTemplate"></ngx-column>

    <ng-template #documentTypeTemplate let-item>
      {{'documentTypeEnum.'+item.type | translate}}
    </ng-template>
    <ng-template #documentNumberTemplate let-item>
      {{item.number}}
    </ng-template>
    <ng-template #dateTemplate let-item>
      {{item.date | date:propertyConstant.dateFormat}}
    </ng-template>
    <ng-template #documentTemplate let-item>
      <a [href]="getDocumentUrl(item)">{{item.resource?.name}}</a>
    </ng-template>
  </ngx-grid>

  <div *ngSwitchCase="viewType.LIST"
       class="d-flex flex-column">
    <a *ngFor="let item of documents"
       [href]="getDocumentUrl(item)">{{item.resource?.name}}</a>
  </div>
</div>
