<div class="row mt-2 cols-padding">
  <div class="col-8">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col-2">
    <dx-select-box [items]="groupTypes"
                   displayExpr="name"
                   (onValueChanged)="onGroupTypeChanged($event.value)"
                   placeholder="{{'groupType' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col-2">
    <dx-select-box [items]="userRoles"
                   displayExpr="name"
                   (onValueChanged)="onUserRoleChanged($event.value)"
                   placeholder="{{'userRole' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
</div>

<app-infinite-list class="list-group list-group-flush mt-2"
                   [query]="groupQuery"
                   [getItems]="getItems">
  <ng-template let-item>
    <div class="list-group-item pb-2">
      <app-group [data]="item.data"></app-group>
    </div>
  </ng-template>
</app-infinite-list>
