<div class="modal-header">
  <h5 class="modal-title pull-left">{{'persons.person.roles.edit' | translate}}</h5>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row h-100">
    <div class="col-6">
      <app-input-search *ngIf="roles"
                        [search]="getRoles"
                        [dblclick]="addRole"
                        [init]="roleSubject"
                        key="userRoleEnum">
      </app-input-search>
    </div>
    <div class="col-6 ">
      <div class="user-roles">
        <ul *ngFor="let role of userRoles">
          <li class="item">
            <button class="btn btn-primary btn-xs" (click)="removeRole(role)">
              <i class="fa fa-times"></i><span>{{role.userRoleEnum}}</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    {{'persons.person.cancel' | translate }}
  </button>
  <button type="button" class="btn btn-success" (click)="save()">
    {{'persons.person.save' | translate }}
  </button>
</div>
