<div class="row mt-3">
  <div class="col pr-0">
    <dx-text-box placeholder="{{'search' | translate}}"
                 [mode]="search"
                 [(value)]="searchText"
                 (onValueChanged)="onSearchChanged($event.value)"
                 [showClearButton]="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-select-box [items]="groupTypes"
                   [(value)]="selectedGroupTypes"
                   displayExpr="name"
                   (onValueChanged)="onGroupTypeChanged($event.value)"
                   placeholder="{{'groupType' | translate}}">
    </dx-select-box>
  </div>
</div>
