<div class="row mt-3">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-select-box [items]="groupTypes"
                   displayExpr="name"
                   (onValueChanged)="onGroupTypeChanged($event.value)"
                   placeholder="{{'groupType' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <dx-select-box [items]="sportTypes"
                   displayExpr="name"
                   (onValueChanged)="onSportTypeChanged($event.value)"
                   placeholder="{{'sportType' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <dx-select-box [items]="ageGroups"
                   displayExpr="name"
                   (onValueChanged)="onAgeGroupChanged($event.value)"
                   placeholder="{{'ageGroup' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <dx-select-box [items]="leagues"
                   displayExpr="name"
                   (onValueChanged)="onLeagueChanged($event.value)"
                   placeholder="{{'league' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadCountries"
                      [pageSize]="pageSize"
                      [getKey]="getCountryKey"
                      [getName]="getCountryName"
                      [(model)]="selectedCountry"
                      placeholder="{{'country' | translate}}"
                      ngDefaultControl
                      (onChange)="onCountryChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadRegions"
                      [pageSize]="pageSize"
                      [getKey]="getRegionKey"
                      [getName]="getRegionName"
                      [(model)]="selectedRegion"
                      [disabled]="selectedCountry==null"
                      placeholder="{{'region' | translate}}"
                      ngDefaultControl
                      (onChange)="onRegionChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadCities"
                      [pageSize]="pageSize"
                      [getKey]="getCityKey"
                      [getName]="getCityName"
                      [(model)]="selectedCity"
                      [disabled]="selectedRegion==null"
                      placeholder="{{'city' | translate}}"
                      ngDefaultControl
                      (onChange)="onCityChanged($event.current)">
    </app-input-select>
  </div>
</div>
<dx-data-grid class="mt-2"
              [dataSource]="dataSource"
              rowTemplate="rowTemplateName"
              columnAutoWidth="true">

  <dxi-column caption="{{ 'image' | translate }}"
              width="80">
  </dxi-column>
  <dxi-column caption="{{ 'name' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'groupType' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'sportType' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'ageGroup' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'league' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'country' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'region' | translate }}"></dxi-column>
  <dxi-column caption="{{ 'city' | translate }}"></dxi-column>

  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-sorting mode="none"></dxo-sorting>
  <dxo-remote-operations [sorting]="false"
                         [paging]="true">
  </dxo-remote-operations>

  <tbody *dxTemplate="let row of 'rowTemplateName'">
  <tr [routerLink]="row.data.url">
    <td>
      <img [src]="row.data.imageLogoUrl"
           width="80"/>
    </td>
    <td>
      <h5>{{row.data.group?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.groupType?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.sportType?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.ageGroup?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.league?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.address?.country?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.address?.region?.name}}</h5>
    </td>
    <td>
      <h5>{{row.data.group?.address?.city?.name}}</h5>
    </td>
  </tr>
  </tbody>
</dx-data-grid>
