<div class="row cols-padding">
  <div class="col">
    <dx-text-box #searchDxTextBoxComponent
                 placeholder="{{'search' | translate}}"
                 mode="search"
                 showClearButton="true">
    </dx-text-box>
  </div>
  <div class="col">
    <dx-select-box [items]="groupTypes"
                   displayExpr="name"
                   (onValueChanged)="onGroupTypeChanged($event.value)"
                   placeholder="{{'groupType' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadSportTypes"
                      [pageSize]="pageSize"
                      [getKey]="getSportTypeKey"
                      [getName]="getSportTypeName"
                      placeholder="{{'sportType' | translate}}"
                      ngDefaultControl
                      (onChange)="onSportTypeChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <dx-select-box [items]="ageGroups"
                   displayExpr="name"
                   (onValueChanged)="onAgeGroupChanged($event.value)"
                   placeholder="{{'ageGroup' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <dx-select-box [items]="leagues"
                   displayExpr="name"
                   (onValueChanged)="onLeagueChanged($event.value)"
                   placeholder="{{'league' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadCountries"
                      [pageSize]="pageSize"
                      [getKey]="getCountryKey"
                      [getName]="getCountryName"
                      [(model)]="selectedCountry"
                      placeholder="{{'country' | translate}}"
                      ngDefaultControl
                      (onChange)="onCountryChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadRegions"
                      [pageSize]="pageSize"
                      [getKey]="getRegionKey"
                      [getName]="getRegionName"
                      [(model)]="selectedRegion"
                      [disabled]="selectedCountry==null"
                      placeholder="{{'region' | translate}}"
                      ngDefaultControl
                      (onChange)="onRegionChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <app-input-select [loadData]="loadCities"
                      [pageSize]="pageSize"
                      [getKey]="getCityKey"
                      [getName]="getCityName"
                      [(model)]="selectedCity"
                      [disabled]="selectedRegion==null"
                      placeholder="{{'city' | translate}}"
                      ngDefaultControl
                      (onChange)="onCityChanged($event.current)">
    </app-input-select>
  </div>
  <div class="col">
    <dx-select-box [items]="stages"
                   displayExpr="name"
                   (onValueChanged)="onStageChanged($event.value)"
                   placeholder="{{'stage' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>

  <div class="col">
    <dx-number-box [min]="1"
                   [max]="99"
                   placeholder="{{'yearPreparation' | translate}}"
                   (onValueChanged)="onStageYearChanged($event.value)">
    </dx-number-box>
  </div>

  <div class="col">
    <dx-select-box [items]="stageTypes"
                   displayExpr="name"
                   (onValueChanged)="onStageTypeChanged($event.value)"
                   placeholder="{{'stageType' | translate}}"
                   showClearButton="true">
    </dx-select-box>
  </div>

</div>

<table class="table table-hover mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-1">{{'image' | translate}}</th>
    <th class="col-3">{{'name' | translate}}</th>
    <th class="col-1">{{'groupType' | translate}}</th>
    <th class="col-1">{{'sportType' | translate}}</th>
    <th class="col-1">{{'ageGroup' | translate}}</th>
    <th class="col-2">{{'league' | translate}}</th>
    <th class="col-1">{{'country' | translate}}</th>
    <th class="col-1">{{'region' | translate}}</th>
    <th class="col-1">{{'city' | translate}}</th>
  </tr>
  </thead>
  <tbody>

  <ngx-virtual-scroll class="list-group-flush"
                      [(query)]="groupQuery"
                      [getItems]="getItems"
                      windowScroll="true">
    <ng-template let-item>
      <tr class="d-flex"
          routerLink="/group/{{item.data.id}}">
        <td class="col-sm-1">
          <app-image [type]="'LOGO'"
                     [clazz]="'GROUP'"
                     [id]="item.data.id"
                     [dimension]="'W80xH80'"
                     [format]="'SQUARE'"></app-image>
        </td>
        <td class="col-sm-3">
          <h6>{{item.data.name}}
            {{item.data?.stage?.shortName}}{{item.data.stageYear}}{{item.data?.stageType?.shortName}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data.groupType.name}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data?.sportType?.name}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data?.ageGroup?.name}}</h6>
        </td>
        <td class="col-sm-2">
          <h6>{{item.data?.league?.name}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data?.address?.country?.name}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data?.address?.region?.name}}</h6>
        </td>
        <td class="col-sm-1">
          <h6>{{item.data?.address?.city?.name}}</h6>
        </td>
      </tr>
    </ng-template>
  </ngx-virtual-scroll>
  </tbody>
</table>
