<app-logo-card *ngIf="formGroup"
               [titleTranslation]="passwordSetHeader"
               (keyup.enter)="onApply()">
  <ng-container *ngIf="!isChangePassword && setEmail; else changePasswordTemplate">
    <ng-container *ngIf="!isSuccessPasswordRecoveryRequest; else isSuccessPasswordRecoveryRequestContent">
      <new-ngx-input [data]="emailNgxInput"></new-ngx-input>
    </ng-container>
    <ng-template #isSuccessPasswordRecoveryRequestContent>
      <p class="text-center">{{'password.passwordResetLinkSentToEmail' | translate}}</p>
    </ng-template>
  </ng-container>

  <ng-template #changePasswordTemplate>
    <ng-container *ngIf="!isSuccessPasswordChangeRequest; else isSuccessPasswordChangeRequestContent">
      <new-ngx-input [data]="newPasswordNgxInput"></new-ngx-input>
      <new-ngx-input [data]="repeatPasswordNgxInput"></new-ngx-input>
    </ng-container>
    <ng-template #isSuccessPasswordChangeRequestContent>
      <p class="text-center">{{passwordSetBtn | translate}}</p>
    </ng-template>
  </ng-template>
  <button *ngIf="isVisibleApplyButton"
          mat-raised-button
          class="mt-2"
          color="accent"
          [disabled]="formGroup.invalid"
          (click)="onApply()">{{'apply' | translate}}</button>
  <div class="m-3 text-center">
    <u><a routerLink="/sign-in">{{'signIn' | translate}}</a></u>
  </div>
</app-logo-card>
