<label>{{'name' | translate}}</label>
<dx-text-box class="w-100"
             [(value)]="data.name"
             type="text">
</dx-text-box>

<label class="mt-2">{{'description' | translate}}</label>
<dx-text-box class="w-100"
             [(value)]="data.description"
             type="text">
</dx-text-box>

<label class="mt-2">{{'parent' | translate}}</label>
<dx-select-box [items]="organizations"
               displayExpr="name"
               [(value)]="data.parent"
               acceptCustomValue="true"
               placeholder="{{'parent' | translate}}">
</dx-select-box>
