<table class="table table-bordered table-hover">
  <thead>
  <tr class="d-flex">
    <th class="col">{{typeNameKey| translate}}</th>
    <th class="col">{{'document'| translate}}</th>
    <th class="col">{{'approved'| translate}}</th>
    <th class="col">{{'visibility'| translate}}</th>
  </tr>
  </thead>
  <tbody>
  <ngx-virtual-scroll [getItems]="getItems">
    <ng-template let-item>
      <tr class="d-flex"
          (dblclick)="onEdit($event,item)">
        <td class="col">
          {{ item.data.source.id!=groupId? item.data.source.name:item.data.target.name}}
        </td>
        <td class="col d-flex flex-column">
          <a *ngFor="let document of item.documents"
             [href]="getDocumentUrl(document)">{{document.resource?.name}}</a>
        <td class="col">
          {{item.data.approved||false}}
        </td>
        <td class="col">
          {{item.data.source.id==groupId ? item.data.visibleBySource:item.data.visibleByTarget}}
        </td>
      </tr>
    </ng-template>
  </ngx-virtual-scroll>
  </tbody>
</table>

<div class="mt-2">
  <app-busy-button nameKey="add"
                   [click]="onAdd"
                   [parameter]=""></app-busy-button>
</div>
