<div id="personal" class="mb-4">
  <div class="d-flex flex-row">
    <h5>{{'templates' | translate}}</h5>
    <button class="btn btn-outline-primary btn-sm ml-2" (click)="editTemplates()">{{'edit' | translate}}</button>
  </div>
  <table class="table table-bordered table-hover table-sm mt-1 mb-1">
    <thead>
    <tr class="d-flex">
      <th class="col-4">{{'test' | translate}}</th>
      <th class="col-2">{{'parameter' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="d-flex" *ngFor="let mv of groupMeasures">
      <td class="col-sm-4">{{mv.baseExercise.name}}</td>
      <td class="col-sm-2">{{mv.measure.measureParameter.name}}</td>
    </tr>
    </tbody>
  </table>
</div>
