<label>{{'name' | translate}}</label>
<div class="d-flex flex-row">
  <dx-text-box class="w-100"
               [(value)]="data.name"
               type="text">
    <dx-validator>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-validator>
  </dx-text-box>
  <div class="ml-2">
    <dx-check-box [(value)]="rememberName"
                  text="{{'remember' | translate}}"></dx-check-box>
  </div>
</div>

<label class="mt-2">{{'groupType' | translate}}</label>
<dx-select-box [items]="groupTypes"
               [(value)]="data.groupType"
               displayExpr="name"
               [disabled]="data.id"
               placeholder="{{'groupType' | translate}}">
  <dx-validator>
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dx-validator>
</dx-select-box>

<div *ngIf="data.groupType?.groupTypeEnum === groupTypeEnum.ORGANIZATION">
  <label class="mt-2">{{'organizationType' | translate }}</label>
  <dx-select-box [items]="organizationTypes"
                 [(value)]="data.organizationType"
                 displayExpr="name"
                 placeholder="{{'organizationType' | translate}}">
    <dx-validator>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-validator>
  </dx-select-box>
</div>

<div
  *ngIf="data.groupType?.groupTypeEnum === groupTypeEnum.TEAM || data.groupType?.groupTypeEnum === groupTypeEnum.PREPARATION">
  <label class="mt-2">{{'sportType' | translate}}</label>
  <dx-select-box [items]="sportTypes"
                 [(value)]="data.sportType"
                 displayExpr="name"
                 [disabled]="data.id"
                 placeholder="{{'sportType' | translate}}">
    <dx-validator>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-validator>
  </dx-select-box>

  <div *ngIf="data.groupType?.groupTypeEnum === groupTypeEnum.TEAM">
    <label class="mt-2">{{'teamType' | translate }}</label>
    <dx-select-box [items]="teamTypes"
                   [(value)]="data.teamType"
                   displayExpr="name"
                   placeholder="{{'teamType' | translate}}">
      <dx-validator>
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dx-validator>
    </dx-select-box>
  </div>

  <label class="mt-2">{{'stage' | translate}}</label>
  <dx-select-box [items]="stages"
                 [(value)]="data.stage"
                 displayExpr="name"
                 placeholder="{{'stage' | translate}}">
    <dx-validator>
      <dxi-validation-rule type="required"></dxi-validation-rule>
    </dx-validator>
  </dx-select-box>

  <label class="mt-2">{{'yearPreparation' | translate}}</label>
  <dx-number-box [(value)]="data.stageYear"
                 [min]="1"
                 [max]="99">
  </dx-number-box>
</div>
