<div class="d-flex align-items-center flex-column h-100">
  <div class="mb-auto mt-2">
    <app-locale></app-locale>
  </div>
  <div class="mb-auto">
    <div class="m-2 form"
         (keyup.enter)="busyButton.onKeyUp($event)">
      <img src="/assets/img/athlete-readiness-logo.png">
      <dx-text-box placeholder="{{'login.enterEmailOrPhoneNumber' | translate}}"
                   [(value)]="auth.email"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-text-box class="mt-3"
                   mode="password"
                   placeholder="{{'login.enterPassword' | translate}}"
                   [(value)]="auth.password"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <app-busy-button #busyButton
                       classes="mt-4 w-100"
                       [click]="signIn"
                       checkPressedEnter="true"
                       nameKey="login.signIn"></app-busy-button>
      <div class="mt-2 text-center">
        <u
          *ngIf="environment.type!== environmentType.BELARUS && environment.type!== environmentType.SCHOOL && environment.type!== environmentType.SAINT_PETERSBURG"><a
          routerLink="/registration"
          class="mr-5">{{'registration.signUp' | translate}}</a></u>
        <u><a routerLink="/password/reset">{{'login.forgotYourPassword' | translate}}</a></u>
      </div>
    </div>
  </div>
</div>
