<div fxFlex.lt-sm
     fxFlex.gt-sm="70"
     fxLayout="column">
  <div fxLayout="column">
    <div fxLayout
         fxLayoutGap="10px">
      <new-ngx-input [data]="lastNgxInput"></new-ngx-input>
      <new-ngx-input [data]="firstNgxInput"></new-ngx-input>
      <new-ngx-input [data]="patronymicNgxInput"></new-ngx-input>
    </div>
    <div fxLayout
         fxLayoutGap="10px">
      <ngx-date fxFlex="33"
                [data]="birthDateNgxDate"></ngx-date>
      <ngx-select fxFlex="33"
                  [data]="sexNgxSelect"></ngx-select>
    </div>
  </div>

  <ngx-button *ngIf="canEdit"
              class="mt-2"
              nameKey="save"
              [click]="onSave"></ngx-button>
</div>

