<app-infinite-list [items]="groupPersons"
                   (nextPage)="onNextPage($event)">
  <ng-template let-item>
    <div class="d-flex flex-row">
      <div>
        <app-person [data]="item.person"></app-person>
      </div>
      <div class="align-self-center ml-2">
        <div class="d-flex flex-column">
          <dx-button type="success"
                     (onClick)="onAdd(item)"
                     text="{{ 'add' | translate | uppercase}}">
          </dx-button>
          <dx-button type="danger"
                     class="mt-2"
                     (onClick)="onRemove(item)"
                     text="{{ 'remove' | translate | uppercase}}">
          </dx-button>
        </div>
      </div>
    </div>
  </ng-template>
</app-infinite-list>
