/* You can add global styles to this file, and also import other style files */
@import "variables";
/*bootstrap*/
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/print";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/utilities";

/*icons*/
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";

// Added link in .angular-cli.json
// @import "~linearicons/dist/web-font/style.css";

/*dev express*/
// Added link in .angular-cli.json
//@import "~devextreme/dist/css/dx.common.css";
//@import "~devextreme/dist/css/dx.light.css";

$max-width-content: 400px;

html, body {
  height: 100%;

  a {
    text-decoration: none;
  }

  p {
    margin: 0;
    padding: 0;
  }

  label {
    margin: 0;
    padding: 0;
  }

}

*:focus {
  outline: none;
}

.select-none {
  user-select: none;
}

.max-width-content {
  max-width: $max-width-content;
}

.dx-toast-content {
  min-width: 100px;
  max-width: $max-width-content;
}

.form-control {
  &:hover {
    border-color: rgba(51, 122, 183, .4);
  }
  &:focus {
    box-shadow: none;
    border-color: #337ab7;
  }
}

.logo-list {
  border: 2px solid $light-blue;
  width: $logo-list-size;
  height: $logo-list-size;
  margin: auto;
  background-clip: padding-box;
  border-radius: 50% !important;
  background-size: cover;
  background-position: center center;
}
