/* You can add global styles to this file, and also import other style files */

/*bootstrap*/
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

/*icons*/
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
@import "~linearicons/dist/web-font/style.css";

/*dev express*/
@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.css";

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}
