@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

/* colors */
$light-blue: #0091F1;
$light-blue: darken($light-blue, 7%);
$dark-blue: #1C1D1F;
$white: #f9f9f9;
$white-light: #fff;

$logo-size-xl: 130px; /*profiles*/
$logo-size-lg: 80px; /*lists*/
$logo-size-sm: 40px; /*navbar*/
$logo-border-width: 2px;

$scroll-block-max-height: 500px;
$input-height: 34px; //devexpress input height
$input-height-sm: 30px;
$font-size: 14px;

$odd-item-color: #eee;

@function max-width-sm() {
  @return map-get($container-max-widths, 'sm');
}

@function max-width-md() {
  @return map-get($container-max-widths, 'md');
}
