@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

/* colors */
$light-blue: #0091F1;
$light-blue: darken($light-blue, 7%);
$dark-blue: #1C1D1F;
$white: #f9f9f9;
$white-light: #fff;

/*angular material tabs*/
.mat-ink-bar /*underscore selected tab*/ {
  height: 0 !important;
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-label-active /*active tab*/ {
  color: $white !important;
  background-color: $light-blue !important;
}

@function max-width-sm() {
  @return map-get($container-max-widths, 'sm');
}

@function max-width-md() {
  @return map-get($container-max-widths, 'md');
}
