<mat-form-field *ngIf="data"
                [appearance]="data.appearance"
                [floatLabel]="data.floatLabel">
  <mat-label *ngIf="data.label || data.labelTranslation">{{data.label ? data.label : (data.labelTranslation | translate)}}</mat-label>
  <input *ngIf="data.type !== ngxInputTypeClass.TEXTAREA; else textareaTemplate"
         matInput
         autocomplete="off"
         placeholder="{{data.placeholder ? data.placeholder : (data.placeholderTranslation | translate)}}"
         [required]="data.required"
         [type]="data.type"
         [formControl]="data.control">
  <ng-template #textareaTemplate>
    <textarea matInput
              autocomplete="off"
              placeholder="{{data.placeholder ? data.placeholder : (data.placeholderTranslation | translate)}}"
              [required]="data.required"
              [rows]="data.rows"
              [formControl]="data.control"></textarea>
  </ng-template>
  <button *ngIf="data.showClearButton && data.control.value"
          matSuffix
          mat-icon-button
          (click)="onClearValue()">
    <mat-icon class="suffix-icon">close</mat-icon>
  </button>
  <mat-error *ngIf="data.control.invalid && data.getErrorMessage">{{data.getErrorMessage(data) | async}}</mat-error>
</mat-form-field>
