<div class="d-flex align-items-center flex-column h-100">
  <div class="mb-auto mt-2">
    <app-locale></app-locale>
  </div>
  <div class="mb-auto max-width-content">
    <div class="form" *ngIf="!isRegistrationComplete;else content">
      <img src="/assets/img/athlete-readiness-logo.png"
           [width]="230">
      <dx-text-box mode="email"
                   placeholder="{{'registration.enterEmail' | translate}}"
                   [(value)]="user.email"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="email"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-text-box class="mt-2"
                   mode="password"
                   placeholder="{{'registration.createPassword' | translate}}"
                   [(value)]="user.password"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-text-box class="mt-2"
                   mode="password"
                   placeholder="{{'registration.retypePassword' | translate}}"
                   [(value)]="repeatPassword"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="compare"
                               [comparisonTarget]="passwordComparison"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>

      <app-busy-button classes="mt-2 w-100"
                       nameKey="registration.signUp"
                       [click]="onSave"></app-busy-button>

      <div class="mt-2 text-center">
        <p>{{'login.alreadyRegistered'| translate}}
          <a routerLink="/login"
             routerLinkActive="active">{{'login.signIn' | translate}}</a>
        </p>
      </div>
    </div>
    <ng-template #content>
      <div class="m-2 text-center">
        <h1>{{'registration.registrationComplete' | translate | uppercase}}</h1>
        <p>{{'registration.yourAccountHasBeenCreatedNowYouNeedToActivateIt' | translate }} <br>
          {{'registration.anEmailWithAKeyForActivationWillBeSentToYourEmail' | translate }}<br>
          {{'registration.followTheInstructionsInIt' | translate }}</p>
        <a routerLink="/login">{{'login.signIn' | translate}}</a>
      </div>
    </ng-template>
  </div>
</div>
