<div class="d-flex align-items-center flex-column h-100">
  <div class="mb-auto">
    <p class="mt-2">{{'chooseLanguage'| translate}}
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}
        </option>
      </select>
    </p>
  </div>
  <div class="mb-auto">
    <div class="m-2">
      <h1 class="text-center">{{'applicationFullName' | translate | uppercase}}</h1>
      <dx-text-box mode="email" placeholder="{{'registration.enterEmail' | translate}}" [(value)]="email"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="email"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-text-box class="mt-2" mode="password"
                   placeholder="{{'registration.createPassword' | translate}}"
                   [(value)]="password"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-text-box class="mt-2" mode="password" placeholder="{{'registration.retypePassword' | translate}}"
                   [showClearButton]="true">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
          <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
      <dx-button class="mt-2 w-100" text="{{'registration.signUp' | translate | uppercase}}"
                 (onClick)="onApply($event)"></dx-button>

      <div class="mt-2 text-center">
        <p>{{'login.alreadyRegistered'| translate}}
          <a routerLink="/login" routerLinkActive="active">{{'login.signIn' | translate}}</a>
        </p>
      </div>
    </div>
  </div>
</div>
