<div fxFlex
     fxLayout
     class="overflow-auto">
  <mat-tree fxFlex
            [dataSource]="dataSource"
            [treeControl]="dataSource.treeControl">
    <ng-container *ngFor="let item of nodeConfigurations">
      <mat-tree-node *matTreeNodeDef="let node; when: item.when"
                     matTreeNodePadding
                     [ngClass]="{'selected': selectedNode === node}"
                     (click)="onClickNode(node)">
        <div fxFlex
             fxLayout="column">
          <div fxFlex>
            <button *ngIf="dataSource.treeControl.isExpandable(node); else defaultPaddingTemplate"
                    mat-icon-button
                    matTreeNodeToggle
                    [disabled]="node.isLoading">
              <mat-icon>
                {{dataSource.treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <ng-template #defaultPaddingTemplate>
              <button *ngIf="node.level"
                      mat-icon-button disabled></button>
            </ng-template>

            <ng-container *ngIf="selectable">
              <mat-checkbox *ngIf="dataSource.treeControl.isExpandable(node); else leafCheckboxTemplate"
                            [checked]="dataSource.descendantsAllSelected(node)"
                            [indeterminate]="dataSource.descendantsPartiallySelected(node)"
                            (change)="dataSource.itemSelectionToggle(node)"></mat-checkbox>
              <ng-template #leafCheckboxTemplate>
                <mat-checkbox [checked]="dataSource.selectionModel.isSelected(node)"
                              (change)="dataSource.leafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
              </ng-template>
            </ng-container>

            <ng-template *ngIf="nodeTemplate"
                         [ngTemplateOutlet]="nodeTemplate"
                         [ngTemplateOutletContext]="{$implicit: node, treeNode: item}"></ng-template>
          </div>
          <div *ngxBusy="node.isLoading"></div>
        </div>
      </mat-tree-node>
    </ng-container>
  </mat-tree>
</div>
