<dx-text-box #searchDxTextBoxComponent
             placeholder="{{'search' | translate}}"
             mode="search"
             showClearButton="true">
</dx-text-box>

<table class="table table-hover mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-3">{{'person' | translate}}</th>
    <th class="col-1">{{'yearBirth' | translate}}</th>
    <th class="col-2">{{'group' | translate}}</th>
    <th class="col-1">{{'userRole' | translate}}</th>
    <th *ngIf="groupService.getGroup().groupType.groupTypeEnum.toString() === 'TEAM'"
        class="col-1">{{'sportRole' | translate}}
    </th>
    <th class="{{groupService.isEditAllow()? 'col-3':'col-4'}}">{{'mentor' | translate}}
    </th>
    <th *ngIf="groupService.isEditAllow()"
        class="col-1"></th>
  </tr>
  </thead>
  <tbody>
  <app-infinite-list class="list-group-flush"
                     [(query)]="groupPersonQuery"
                     [getItems]="getItems">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col-3">
          <app-person *ngIf="item.data.person"
                      [data]="item.data.person"></app-person>
        </td>
        <td class="col-1">
          <h5>{{item.data.person?.birthDate | date:'yyyy'}}</h5>
        </td>
        <td class="col-2">
          <app-group *ngIf="item.personViewModel?.baseGroupViewModel?.data"
                     [data]="item.personViewModel.baseGroupViewModel.data"></app-group>
        </td>
        <td class="col-1">
          <h5>{{item.data?.userRole?.name}}</h5>
        </td>
        <td *ngIf="groupService.getGroup().groupType.groupTypeEnum.toString() === 'TEAM'"
            class="col-1">
          <h5>{{item.data?.sportRole?.name}}</h5>
        </td>
        <td class="{{groupService.isEditAllow()? 'col-3':'col-4'}}">
          <app-person *ngIf="item.data?.mentor"
                      [data]="item.data.mentor.person"></app-person>
        </td>
        <td *ngIf="groupService.isEditAllow()"
            class="col-1">
          <dx-button type="default"
                     class="w-100"
                     (onClick)="onEdit(item)"
                     text="{{ 'edit' | translate }}">
          </dx-button>
        </td>
      </tr>
    </ng-template>
  </app-infinite-list>
  </tbody>
</table>
