<dx-text-box #searchDxTextBoxComponent
             placeholder="{{'search' | translate}}"
             mode="search"
             [showClearButton]="true">
</dx-text-box>

<table class="table table-hover mt-2">
  <thead>
  <tr class="d-flex">
    <th class="col-3">{{'person' | translate}}</th>
    <th class="col-1">{{'yearBirth' | translate}}</th>
    <th class="col-2">{{'group' | translate}}</th>
    <th class="col-1">{{'userRole' | translate}}</th>
    <th *ngIf="groupService.getGroup().discriminator === groupTypeEnumClass.TEAM || groupService.getGroup().discriminator === groupTypeEnumClass.PREPARATION_GROUP"
        class="col-1">{{'sportRole' | translate}}
    </th>
    <th class="{{groupService.isEditAllow()? 'col-3':'col-4'}}">{{'mentor' | translate}}
    </th>
    <th *ngIf="groupService.isEditAllow()"
        class="col-1"></th>
  </tr>
  </thead>
  <tbody>
  <ngx-virtual-scroll class="list-group-flush"
                      [query]="groupPersonQuery"
                      [getItems]="getItems"
                      [windowScroll]="true">
    <ng-template let-item>
      <tr class="d-flex">
        <td class="col-3">
          <app-person *ngIf="item.data.person"
                      [data]="item.data.person"></app-person>
        </td>
        <td class="col-1">
          <h6>{{item.data.person?.birthDate | date:'yyyy'}}</h6>
        </td>
        <td class="col-2">
          <app-group *ngIf="item.personViewModel?.baseGroupViewModel?.data"
                     [data]="item.personViewModel.baseGroupViewModel.data"></app-group>
        </td>
        <td class="col-1">
          <h6>{{item.data?.userRole?.name}}</h6>
        </td>
        <td *ngIf="groupService.getGroup().discriminator === groupTypeEnumClass.TEAM || groupService.getGroup().discriminator === groupTypeEnumClass.PREPARATION_GROUP"
            class="col-1">
          <h6>{{item.data?.sportRole?.name}}</h6>
        </td>
        <td class="{{groupService.isEditAllow()? 'col-3':'col-4'}}">
          <app-person *ngIf="item.data?.mentor"
                      [data]="item.data.mentor.person"></app-person>
        </td>
        <td *ngIf="groupService.isEditAllow()"
            class="col-1">
          <app-busy-button icon="fa fa-edit"
                           [click]="onEdit"
                           [parameter]="item">
          </app-busy-button>
        </td>
      </tr>
    </ng-template>
  </ngx-virtual-scroll>
  </tbody>
</table>
