<div class="modal-header">
  <h4 class="modal-title">{{trainingGroup.baseTraining.name}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>{{'description' | translate }}</label>
  <dx-text-area
    [height]="90"
    [disabled]="true"
    [(value)]="trainingGroup.baseTraining.description">
  </dx-text-area>
  <label class="mt-2">{{'trainingAccess' | translate }}</label>
  <dx-select-box [items]="trainingAccess"
                 [(value)]="trainingGroup.access"
                 acceptCustomValue="true">
  </dx-select-box>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="onSave(trainingGroup.access)">
    {{'modal.save' | translate }}
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">{{'modal.cancel' | translate }}
  </button>
</div>
