<div *ngIf="game.groupScores && game.groupScores.length == 2"
     class="d-flex justify-content-center w-100 mb-3">
  <div class="d-flex justify-content-center w-50">
    <div class="score mr-5">
      {{game.groupScores[0].score}}
    </div>
    <div class="align-self-center ml-5 mr-5">
      {{'result' | translate | lowercase}}
    </div>
    <div class="score ml-5">
      {{game.groupScores[1].score}}
    </div>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-3">
  <div class="d-flex justify-content-center w-50">
    <app-group *ngFor="let groupScore of game.groupScores;let i = index"
               [data]="groupScore.group"
               [ngClass]="{'mr-5' : i == 0, 'ml-5' : i == 1}"></app-group>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-4">
  <div class="d-flex justify-content-center w-50">
    <ngx-button nameKey="edit"
                [click]="onEditGroups"
                [disabled]="appHelper.isNewObject(game)"></ngx-button>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-1">
  <div class="d-flex justify-content-center w-50">
    <div class="w-100 mr-5">
      <label>{{'name' | translate }}</label>
      <dx-text-box [(value)]="game.name">
        <dx-validator>
          <dxi-validation-rule type="required"></dxi-validation-rule>
        </dx-validator>
      </dx-text-box>
    </div>
    <div class="w-100 ml-5">
      <label>{{'startDateAndTime' | translate }}</label>
      <dx-date-box [(value)]="game.startTime"
                   type="datetime">
      </dx-date-box>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-1">
  <div class="d-flex justify-content-center w-50">
    <div class="w-100 mr-5">
      <label>{{'location' | translate }}</label>
      <dx-select-box [items]="locations"
                     displayExpr="name"
                     [(value)]="game.location"
                     acceptCustomValue="true"
                     placeholder="{{'location' | translate}}">
      </dx-select-box>
    </div>
    <div class="w-100 ml-5">
      <label>{{'sportType' | translate }}</label>
      <dx-select-box [items]="sportTypes"
                     displayExpr="name"
                     [(value)]="game.sportType"
                     acceptCustomValue="true"
                     placeholder="{{'sportType' | translate}}">
      </dx-select-box>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-1">
  <div class="d-flex justify-content-center w-50">
    <div class="w-100">
      <label>{{'description' | translate }}</label>
      <dx-text-area [(value)]="game.description">
      </dx-text-area>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center w-100 mb-5">
  <div class="d-flex justify-content-center w-50">
    <div class="w-100">
      <label>{{'parts' | translate }}</label>
      <div class="row mb-2"
           *ngFor="let item of trainingParts">
        <div class="col-6">
          <dx-text-box class="w-100"
                       [(value)]="item.name"
                       (onValueChanged)="onUpdateTrainingPart(item)">
            <dx-validator>
              <dxi-validation-rule type="required"></dxi-validation-rule>
            </dx-validator>
          </dx-text-box>
        </div>
        <div class="col-3">
          <dx-date-box
            class="w-100"
            [value]="onGetTrainingPartDuration(item)"
            (onValueChanged)="onSetTrainingPartDuration(item, $event.value)"
            [displayFormat]="propertyConstantClass.timeFormat"
            type="time">
          </dx-date-box>
        </div>
        <div class="col-3">
          <ngx-button [type]="ngxButtonTypeClass.DANGER"
                      class="w-100"
                      nameKey="remove"
                      [click]="onRemoveTrainingPart"
                      [data]="item"></ngx-button>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <dx-text-box class="w-100"
                       valueChangeEvent="keyup"
                       [(value)]="trainingPart.name">
          </dx-text-box>
        </div>
        <div class="col-3">
          <dx-date-box
            class="w-100"
            [value]="onGetTrainingPartDuration(trainingPart)"
            (onChange)="onSetTrainingPartDuration(trainingPart, $event.value)"
            [displayFormat]="propertyConstantClass.timeFormat"
            type="time">
          </dx-date-box>
        </div>
        <div class="col-3">
          <ngx-button [type]="ngxButtonTypeClass.SUCCESS"
                      nameKey="add"
                      class="w-100"
                      [click]="onAddTrainingPart"
                      [data]="trainingPart"
                      [disabled]="!isValidTrainingPart(trainingPart)"></ngx-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex flex-row justify-content-center">
  <div>
    <ngx-split-button [items]="splitButtonItems"></ngx-split-button>
  </div>
</div>
