<div *ngIf="eventDays?.length"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-icon-button
              (click)="onAddEvent()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div fxLayout="row"
         fxLayoutAlign="start center">
      <button mat-icon-button
              [disabled]="!canGetPrevious"
              (click)="onPrevious()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <p class="m-0">{{(startWeekDay | date: propertyConstantClass.dateFormat) + ' - ' + (finishWeekDay | date: propertyConstantClass.dateFormat)}}</p>
      <button mat-icon-button
              (click)="onNext()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div></div>
  </div>

  <table class="table table-bordered table-hover">
    <tr>
      <th></th>
      <th *ngFor="let item of eventDays">
        <div>{{getDayName(item.date)}}</div>
        <div>{{item.date | date: propertyConstantClass.dateFormat}}</div>
      </th>
    </tr>
    <tr *ngFor="let person of getRows()">
      <td>{{person.lastName + ' ' + person.firstName}}</td>
      <td *ngFor="let eventDay of eventDays">
        <div *ngFor="let eventDayHour of getCellData(eventDay,person)">
          {{(eventDayHour.startDate | date: propertyConstantClass.timeFormat) + " - " + (eventDayHour.finishDate | date: propertyConstantClass.timeFormat)}}
        </div>
      </td>
    </tr>
  </table>
</div>
