<div fxLayout="column">
  <new-ngx-input [data]="fullNameNgxInput"></new-ngx-input>
  <label>{{'location' | translate}}</label>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="postIndexNgxInput"></new-ngx-input>
    <new-ngx-input [data]="cityNgxInput"></new-ngx-input>
    <new-ngx-input [data]="streetNgxInput"></new-ngx-input>
    <new-ngx-input [data]="houseNgxInput"></new-ngx-input>
    <new-ngx-input [data]="blockNgxInput"></new-ngx-input>
    <new-ngx-input [data]="literNgxInput"></new-ngx-input>
  </div>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="phoneNgxInput"></new-ngx-input>
    <new-ngx-input [data]="innNgxInput"></new-ngx-input>
    <new-ngx-input [data]="kppNgxInput"></new-ngx-input>
    <new-ngx-input [data]="oktmoNgxInput"></new-ngx-input>
  </div>
  <new-ngx-input [data]="recipientNgxInput"></new-ngx-input>
  <new-ngx-input [data]="bankFacilityNgxInput"></new-ngx-input>
  <div fxLayout
       fxLayoutGap="10px">
    <new-ngx-input [data]="accountNgxInput"></new-ngx-input>
    <new-ngx-input [data]="bikNgxInput"></new-ngx-input>
    <new-ngx-input [data]="kbkNgxInput"></new-ngx-input>
  </div>
</div>
