<div *ngIf="group"
     class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <h5>{{'basicInformation' | translate }}</h5>
    <app-edit-group [(data)]="group"></app-edit-group>
  </div>

  <div class="col-12 mt-2 col-md-6 mt-md-0 col-lg-4 mt-lg-0">
    <h5>{{'additionalInformation' | translate }}</h5>

    <div *ngIf="group.groupType.groupTypeEnum === 'TEAM'">

      <label>{{'league' | translate }}</label>
      <dx-select-box [items]="leagues"
                     [(value)]="group.league"
                     displayExpr="name"
                     acceptCustomValue="true"
                     [showClearButton]="true"
                     placeholder="{{'league' | translate}}">
      </dx-select-box>

      <label class="mt-2">{{'ageGroup' | translate }}</label>
      <dx-select-box [items]="ageGroups"
                     [(value)]="group.ageGroup"
                     displayExpr="name"
                     [showClearButton]="true"
                     acceptCustomValue="true"
                     placeholder="{{'ageGroup' | translate}}">
      </dx-select-box>
    </div>

    <label for="country"
           class="mt-2">{{'persons.person.personal.country' | translate}}</label>
    <app-input-select
      id="country"
      [loadData]="loadCountries"
      [(model)]="group.address.country"
      [pageSize]="pageSize"
      (onChange)="onCountryChange($event)"
      [getKey]="getKey"
      [getName]="getName"
      placeholder="Select a country"
      ngDefaultControl>
    </app-input-select>

    <label for="region"
           class="mt-2">{{'persons.person.personal.region' | translate}}</label>
    <app-input-select
      id="region"
      [loadData]="loadRegions"
      [(model)]="group.address.region"
      [pageSize]="pageSize"
      [disabled]="group.address.country == null"
      (onChange)="onRegionChange($event)"
      [getKey]="getKey"
      [getName]="getName"
      placeholder="Select a region"
      ngDefaultControl>
    </app-input-select>

    <label for="city"
           class="mt-2">{{'persons.person.personal.city' | translate}}</label>
    <app-input-select
      id="city"
      [loadData]="loadCities"
      [(model)]="group.address.city"
      [pageSize]="pageSize"
      [disabled]="group.address.region == null"
      [getKey]="getKey"
      [getName]="getName"
      placeholder="Select a city"
      ngDefaultControl>
    </app-input-select>

  </div>
</div>

<app-busy-button classes="mt-2"
                 nameKey="save"
                 [click]="onSave"></app-busy-button>
