$border-radius: 4px;

:host {
  ::ng-deep {
    .mat-card {
      padding: 0;
      border-radius: $border-radius;

      .mat-card-header {
        background-color: #2a3235;
        color: #fff;
        padding: 6px;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;

        .mat-card-header-text {
          margin: 0;
        }

        .mat-card-title {
          margin: 0;
          font-size: 14px;
          font-weight: normal;
        }

        .mat-card-subtitle {
          margin: 0;
          color: rgba(255, 255, 255, .54);
        }
      }

      .mat-card-content {
        background-color: #2d3c43;
        padding: 6px;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
