<ng-container *ngIf="data">
  <app-item-line *ngIf="itemDisplay === itemDisplayClass.LIST; else cardItemTemplate"
                 [fileClass]="fileClassClass.GROUP"
                 [(data)]="data"></app-item-line>
  <ng-template #cardItemTemplate>
    <app-vertical-card title="{{data.name}}"
                       [subtitle]="subtitle"
                       [fileClass]="fileClassClass.GROUP"
                       [(data)]="data"
                       (click)="onShowDetail()">
      <ng-content></ng-content>
    </app-vertical-card>
  </ng-template>
</ng-container>
