<mat-card *ngIf="data"
          fxFlex
          class="mat-elevation-z2"
          [style.width.px]="width"
          [style.height.px]="height">
  <mat-card-header>
    <div class="text-truncate">
      <mat-card-title class="text-truncate">{{data.name}}</mat-card-title>
      <mat-card-subtitle class="text-truncate">{{('groupTypeEnum.' + data.discriminator) | translate}}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content fxLayout
                    fxLayoutAlign="center center">
    <ngx-image [object]="data"
               [width]="50"
               [height]="50"
               [allowFullScreen]="false"
               [type]="imageTypeClass.CROPPED_LOGO"
               [fileClass]="fileClassClass.GROUP"></ngx-image>
  </mat-card-content>
</mat-card>
